.yui-gc .yui-u .columnSize2.grid {
    margin: 10px 5px;
}
.yui-gc .yui-u .columnSize2 .column1 {
    width: 20%;
}
.yui-gc .yui-u .columnSize2 .column2 {
    width: 78%;
}
.yui-gc div.first {
    width: 100%;
}
#yui-main div.datalist-toolbar {
    border: 0;
}
#yui-main div.datalist-toolbar div.header-bar {
    background: none;
}
#yui-main #lecm-content-ft {
    background: #f2f2f2;
}
#yui-main div.datalist-toolbar div.header-bar div.new-row span.first-child {
    background-image: url("/share/res/images/lecm-contracts/alf_contract_add.png");
}

.documents-filter > div {
    margin: 5px;
}
.documents-filter {
    overflow: hidden;
    padding-bottom: 5px;
}
.documents-filter > div > label,
.documents-filter > div > span {
    float: left;
}
.documents-filter > div > label,
.documents-filter > div > span:not(.yui-button) {
    padding-top: 5px;
}
.documents-filter > div > span,
.documents-filter > div > span.yui-button {
    margin-right: 15px;
}
.documents-filter > div > span input[type=checkbox] {
    vertical-align: text-top;
}

