h2.thin {
    font-weight: normal;
    color: #000000;
}

.documents-filter-panel {
    background-color: #F2F2F2;
    border: 1px solid #cbcbcb;
    margin-right: -15px;
}

.status-button {
    border: 1px solid transparent;
    cursor: pointer;
    font: 14px Arial;
    margin: 0 0 5px 0;
    text-decoration: none;
    float: left;
}

.documents-filter-panel .text-cropped {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.documents-filter-panel .filterBlock {
    padding-left: 16px;
    margin: 0;
}

.documents-filter-panel a:hover {
    text-decoration: underline;
}

.documents-filter-block {
    margin: 0 15px;
    padding: 5px;
    position: relative;
}

.yui-gd.grid {
    margin: 10px;
}

.total-tasks-count-right {
    width: 19px;
    height: 19px;
    line-height: 19px;
    background: #969696;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}