.yui-skin-sam .yui-dt-mask
{
	position: absolute;
	z-index: 9500;
}
.yui-dt-tmp
{
	left: -9000px;
	position: absolute;
}
.yui-dt-scrollable .yui-dt-bd
{
	overflow: auto;
}
.yui-dt-scrollable .yui-dt-hd
{
	overflow: hidden;
	position: relative;
}
.yui-dt-scrollable .yui-dt-bd thead tr,.yui-dt-scrollable .yui-dt-bd thead th
{
	left: -1500px;
	position: absolute;
}
.yui-dt-scrollable tbody
{
	moz-outline: 0;
}
.yui-skin-sam thead .yui-dt-sortable
{
	cursor: pointer;
}
.yui-skin-sam thead .yui-dt-draggable
{
	cursor: move;
}
.yui-dt-coltarget
{
	position: absolute;
	z-index: 999;
}
.yui-dt-hd
{
	zoom: 1;
}
th.yui-dt-resizeable .yui-dt-resizerliner
{
	position: relative;
}
.yui-dt-resizer
{
	background-color: #CCC;
	bottom: 0;
	cursor: col-resize;
	cursor: e-resize;
	filter: alpha(opacity=0);
	height: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
}
.yui-dt-resizerproxy
{
	background-color: #CCC;
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: 9000;
}
th.yui-dt-hidden .yui-dt-liner,td.yui-dt-hidden .yui-dt-liner,th.yui-dt-hidden .yui-dt-resizer
{
	display: none;
}
.yui-dt-editor,.yui-dt-editor-shim
{
	position: absolute;
	z-index: 9000;
}
.yui-skin-sam .yui-dt table
{
	/*border: 1px solid #7f7f7f;*/
	border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0;
	font-family: arial;
	font-size: inherit;
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-dt thead
{
	border-spacing: 0;
}
.yui-skin-sam .yui-dt caption
{
	color: #000;
	font-size: 85%;
	font-style: italic;
	font-weight: normal;
	line-height: 1;
	padding: 1em 0;
	text-align: center;
}
.yui-skin-sam .yui-dt th
{
	background: #d8d8da url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 0;
}
.yui-skin-sam .yui-dt th,.yui-skin-sam .yui-dt th a
{
	color: #000;
	font-weight: normal;
	text-decoration: none;
	vertical-align: bottom;
}
.yui-skin-sam .yui-dt th
{
	border: 0;
	/*border-right: 1px solid #cbcbcb;*/
	margin: 0;
	padding: 0;
}
.yui-skin-sam .yui-dt tr.yui-dt-first td
{
	/*border-top: 1px solid #7f7f7f;*/
}
.yui-skin-sam .yui-dt th .yui-dt-liner
{
	white-space: nowrap;
}
.yui-skin-sam .yui-dt-liner
{
	margin: 0;
	padding: 0;
	padding: 4px 10px 4px 10px;
}
.yui-skin-sam .yui-dt-coltarget
{
	background-color: red;
	width: 5px;
}
.yui-skin-sam .yui-dt td
{
	border: 0;
	/*border-right: 1px solid #cbcbcb;*/
	margin: 0;
	padding: 0;
	text-align: left;
}
.yui-skin-sam .yui-dt-list td
{
	border-right: 0;
}
.yui-skin-sam .yui-dt-resizer
{
	width: 6px;
}
.yui-skin-sam .yui-dt-mask
{
	background-color: #000;
	filter: alpha(opacity=25);
	opacity: .25;
}
.yui-skin-sam .yui-dt-message
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-scrollable table
{
	border: 0;
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-hd
{
	/*
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
	border-top: 1px solid #7f7f7f;
	*/
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-bd
{
	background-color: #FFF;
	/*
	border-bottom: 1px solid #7f7f7f;
	border-left: 1px solid #7f7f7f;
	border-right: 1px solid #7f7f7f;
	*/
}
.yui-skin-sam .yui-dt-scrollable .yui-dt-data tr.yui-dt-last td
{
	/*
	border-bottom: 1px solid #7f7f7f;
	*/
}
.yui-skin-sam th.yui-dt-asc,.yui-skin-sam th.yui-dt-desc
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -100px;
}
.yui-skin-sam th.yui-dt-sortable .yui-dt-label
{
	margin-right: 10px;
}
.yui-skin-sam th.yui-dt-asc .yui-dt-liner
{
	background: url(http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-up.png) no-repeat right;
}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner
{
	background: url(http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/dt-arrow-dn.png) no-repeat right;
}
tbody .yui-dt-editable
{
	cursor: pointer;
}
.yui-dt-editor
{
	background-color: #f2f2f2;
	/*border: 1px solid #808080;*/
	padding: 6px;
	text-align: left;
}
.yui-dt-editor label
{
	padding-left: 4px;
	padding-right: 6px;
}
.yui-dt-editor .yui-dt-button
{
	padding-top: 6px;
	text-align: right;
}
.yui-dt-editor .yui-dt-button button
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 0;
	/*border: 1px solid #999;*/
	height: 1.8em;
	margin-left: 6px;
	width: 4em;
}
.yui-dt-editor .yui-dt-button button.yui-dt-default
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1400px;
	background-color: #5584e0;
	border: 1px solid #304369;
	color: #FFF;
}
.yui-dt-editor .yui-dt-button button:hover
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1300px;
	color: #000;
}
.yui-dt-editor .yui-dt-button button:active
{
	background: url(http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/sprite.png) repeat-x 0 -1700px;
	color: #000;
}
.yui-skin-sam tr.yui-dt-even
{
	background-color: #FFF;
}
.yui-skin-sam tr.yui-dt-odd
{
	background-color: #edf5ff;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-asc,.yui-skin-sam tr.yui-dt-even td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc,.yui-skin-sam tr.yui-dt-odd td.yui-dt-desc
{
	background-color: #dbeaff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd
{
	background-color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-desc
{
	background-color: #edf5ff;
}
.yui-skin-sam th.yui-dt-highlighted,.yui-skin-sam th.yui-dt-highlighted a
{
	background-color: #b2d2ff;
}
.yui-skin-sam tr.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted
{
	background-color: #b2d2ff;
	cursor: pointer;
}
.yui-skin-sam .yui-dt-list th.yui-dt-highlighted,.yui-skin-sam .yui-dt-list th.yui-dt-highlighted a
{
	background-color: #b2d2ff;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-highlighted td.yui-dt-desc,.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-highlighted,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-highlighted
{
	background-color: #b2d2ff;
	cursor: pointer;
}
.yui-skin-sam th.yui-dt-selected,.yui-skin-sam th.yui-dt-selected a
{
	background-color: #446cd7;
}
.yui-skin-sam tr.yui-dt-selected td,.yui-skin-sam tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam tr.yui-dt-selected td.yui-dt-desc
{
	background-color: #426fd9;
	color: #FFF;
}
.yui-skin-sam tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam tr.yui-dt-odd td.yui-dt-selected
{
	background-color: #446cd7;
	color: #FFF;
}
.yui-skin-sam .yui-dt-list th.yui-dt-selected,.yui-skin-sam .yui-dt-list th.yui-dt-selected a
{
	background-color: #446cd7;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-selected td,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-asc,.yui-skin-sam .yui-dt-list tr.yui-dt-selected td.yui-dt-desc
{
	background-color: #426fd9;
	color: #FFF;
}
.yui-skin-sam .yui-dt-list tr.yui-dt-even td.yui-dt-selected,.yui-skin-sam .yui-dt-list tr.yui-dt-odd td.yui-dt-selected
{
	background-color: #446cd7;
	color: #FFF;
}
.yui-skin-sam .yui-dt-paginator
{
	display: block;
	margin: 6px 0;
	white-space: nowrap;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-first,.yui-skin-sam .yui-dt-paginator .yui-dt-last,.yui-skin-sam .yui-dt-paginator .yui-dt-selected
{
	padding: 2px 6px;
}
.yui-skin-sam .yui-dt-paginator a.yui-dt-first,.yui-skin-sam .yui-dt-paginator a.yui-dt-last
{
	text-decoration: none;
}
.yui-skin-sam .yui-dt-paginator .yui-dt-previous,.yui-skin-sam .yui-dt-paginator .yui-dt-next
{
	display: none;
}
.yui-skin-sam a.yui-dt-page
{
	background-color: #fff;
	/*border: 1px solid #cbcbcb;*/
	padding: 2px 6px;
	text-decoration: none;
}
.yui-skin-sam .yui-dt-selected
{
	background-color: #fff;
	border: 1px solid #fff;
}

.yui-skin-sam .yui-dt .yui-inner-div table
{
	border:none;
}

.yui-skin-sam .yui-dt thead
{
	display:none;
}
.yui-skin-sam  .yui-inner-div  tr.yui-dt-first td:first-child
{
	/*border-right:1px solid #cbcbcb;*/
}

.yui-skin-sam  .yui-inner-div  tr.yui-dt-first td
{
	border-top:none;
	border-right:none;
}

.yui-skin-sam  .yui-inner-div  td:first-child
{
	/*border-right:1px solid #cbcbcb;*/
}

.yui-skin-sam  .yui-inner-div   td
{
	border-right:none;
}
