/* Work groups */

.datagrid .action-set .onActionSelectTemplate a {
    background-image: url("../../images/lecm-reports-editor/select-template-16.png");
}

.datagrid .action-set .onActionSelectSource a {
    background-image: url("../../images/lecm-reports-editor/select-source-16.png");
}

.datagrid .action-set .onActionExport a {
    background-image: url("../../images/lecm-dictionary/xml-file-16.png");
}

.datagrid .action-set .onActionSave a {
    background-image: url("../../images/lecm-reports-editor/select-source-16.png");
}

.reports-editor-panel {
    border-bottom: 1px solid #D9D9D9;
    margin: 0 -10px;
    padding: 4px 0.5em 2px;
}

#re-templates-grid{
    width: 90%;
    float: left;
    margin-left: 0;
}

.reports .flat-button .yuimenuitemlabel {
    background-position: 2px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    min-height: 16px;
    background-image: url("../../images/lecm-reports-editor/select-template-16.png");
}

.title h3 {
    font-weight: bold;
    margin: 5px 0;
}

.sources-left-grid {
    float: right;
    width: 95%;
}

.columns-right-grid {
    width: 100%;
    float: right;
    margin-right: 2%;
}

.datagrid .action-set .onActionRemove a {
       background-image: url('../../components/images/delete-row-16.png');
 }

.datagrid .action-set .onActionAdd a {
    background-image: url('../../images/lecm-reports-editor/column-add-16.png');
}

#bd #lecm-content-main div[id*="reports-editor"] .reports {
    margin: 5px;
}

#bd #lecm-content-main div[id*="reports-editor-toolbar"], #bd #lecm-content-main div[id*="template-edit"], #bd #lecm-content-main div[id*="source-edit"],
#bd #lecm-content-main div[id*="report-settings"],#bd #lecm-content-main div[id*="report-subreports"]{
    margin:0;
}

#bd #lecm-content-main div[id*="reports-editor-navigation-toolbar"] .left{
    float:right;
}

div[id*="reports-editor-navigation-toolbar"] .toolbar
{
    background-color: #F9F9F9;
    border-bottom: 0 solid #E3E3E3;
}

.select-columns-toolbar {
    margin-left: -2%;
    padding-top: 0.5em;
    margin-right: 2%;
}

#yui-main div.datalist-toolbar div.header-bar div.select-row span.first-child {
    background: url('../../components/images/add-icon-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}

#yui-main div.datalist-toolbar div.header-bar div.select-source span.first-child {
    background: url('../../components/images/select-invert-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}
#yui-main #reports-editor-panel .datalist-toolbar .import-xml span.first-child {
    padding-left: 10px;
}

.datagrid .action-set .onActionDeploy a {
    background-image: url("../../images/lecm-reports-editor/deploy-report-16.png");
}

.datagrid .action-set .onActionUnDeploy a {
    background-image: url("../../components/images/header/trashcan.png");
}

/*.datalist-toolbar .export-template button {
    background: url("../../images/lecm-dictionary/xml-file-16.png") no-repeat scroll 5px 5px transparent;
    cursor: pointer;
}*/

div[id*="report-settings"] div.form-field input[type="text"],
div[id*="report-settings"] div.form-field select,
div[id*="report-settings"] .yui-skin-lecmTheme .yui-panel div.form-field textarea {
    min-height: 26px;
    max-height: 26px;
    width: 30em;
    margin: 0;
    border-width: 1px;
    position: inherit;
    font-size: 99%;
}

.yui-skin-lecmTheme div[id*="report-settings"] .form-fields {
    background: none repeat scroll 0 0 #F4F6FE;
    margin-bottom: 5px;
    overflow: hidden;
    border: 1px solid #808080;
    padding: 0.25em 0.25em;
}

.yui-skin-lecmTheme div[id*="report-settings"]  .form-container {
    margin: 1em;
}

.yui-skin-lecmTheme div[id*="report-settings"] .set {
    margin: 0.7em;
}

#bd #lecm-content-main div[id*="report-settings"] div[id*="reportForm"]{
    margin:0 5px;
}

#no_menu_page #bd #lecm-page {
    margin-left: 5px;
}

#bd #lecm-content-main #editor-with-tree {
     margin: 5px;
 }

#bd #lecm-content-main #reports-editor-tree {
    max-height: 80vh;
    margin: 0 5px;
    overflow: auto;
}

span.insitu-deploy-report
{
    background-image: url('../../images/lecm-reports-editor/deploy-report-16.png');
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    margin-left: 16px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 16px;
}

#yui-main.columns-right-grid-container {
	width: 55%;
}

.sorces-left-grid-container {
	width: 40%;
}

.yui-panel.reports-selectSourcePanel .selectSourcePanel-form > div {
    overflow: hidden;
}

div.noerror-item
{
    background: url('../../images/lecm-arm/noerror.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

div.error-item
{
    background: url('../../images/lecm-arm/error.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}
