.control.select-report-preferences-control .preferences-select {
    width: 275px;
    float:left;
}

.control.select-report-preferences-control .container .buttons-div {
    line-height: 28px;
    float: left;
    margin-left: 10px;
}

.yui-skin-lecmTheme.alfresco-share #userInput .bd label {
    vertical-align: baseline;
}

.yui-skin-lecmTheme.alfresco-share #userInput .bd br {
    display: none;
}