.datagrid .onEditWorkspace a,
.datagrid .onEditWorkspace a.datagrid-action-link:before {
	background-position: -700px -300px;
}

.datagrid a.site-link {
	background-image: url("../../components/images/site-16.png");
	width: 16px;
	height: 16px;
}