.datagrid .onEditWorkspace a {
    background-image: url("../../components/images/site-16.png");
}

div.flat-button  div.new-row span.addAgendaItemSpanNewRow{
	border-color:#ccc;
	margin-bottom:1px;
}

div.flat-button  div.new-row span.addAgendaItemSpanNewRow span.addAgendaItemSpanFirstChild{
	border-color:#ccc;
}

div.flat-button  div.new-row span.addAgendaItemSpanNewRow:hover{
	border-color:#aaa;
	background:transparent !important;
	margin-bottom:1px;
}

div.flat-button  div.new-row span.addAgendaItemSpanNewRow span.addAgendaItemSpanFirstChild:hover{
	border-color:#aaa;
	background:transparent !important;
}