.datagrid div.action-set .onEditWorkspace a,
.datagrid div.action-set .more-actions .onEditWorkspace a.datagrid-action-link:before {
	background: url("../../images/lecm-meetings/components/world-edit-ico.png") no-repeat 2px 4px;
}

.datagrid a.site-link {
	background-image: url("../../components/images/site-16.png");
	width: 16px;
	height: 16px;
}