.datagrid .action-set .onActionExecutePoint a {
    background: url(../../images/lecm-base/icons.svg) no-repeat -796px -268px;
}

.datagrid .action-set .onActionCompletePoint a {
    background: url(../../images/lecm-base/icons.svg) no-repeat -796px -268px;
}

.yui-panel-container.yui-simple-dialog p.ord-item-execute-action-body-text {
    text-align: center;
}

.tab-ord-document-items .datagrid .expand-row .graph-tree table th {
    display: none;
}