.datagrid .action-set .onActionExecutePoint a {
    background-image: url(../../components/images/complete-16.png);
}

.datagrid .action-set .onActionCompletePoint a {
    background-image: url(../../components/images/complete-16.png);
}

.yui-panel-container.yui-simple-dialog p.ord-item-execute-action-body-text {
    text-align: center;
}