.ord-item-completion-option-set .control .container .value-div:not(:empty) {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.ord-item-completion-option-set .control .container .value-div input:nth-of-type(2),
.ord-item-completion-option-set .control .container .value-div input:nth-of-type(3) {
    float: left;
    width: 20px;
}

.ord-item-completion-option-set .control .container .value-div label:nth-of-type(2),
.ord-item-completion-option-set .control .container .value-div label:nth-of-type(1) {
    clear: none;
    float: left;
    width: auto;
}

.ord-item-completion-option-set .control .container .value-div input:nth-of-type(3),
.ord-item-completion-option-set .control .container .value-div label:nth-of-type(2) {
    margin-top: 4px;
}

.ord-item-completion-option-set .control .container .value-div input:nth-of-type(2),
.ord-item-completion-option-set .control .container .value-div label:nth-of-type(1) {
    margin-top: 10px;
}