.direct-answer {
    padding-top: 2px;
}
.direct-answer > div {
    margin: 4px 0;
}
.direct-answer > div:first-of-type {
    margin-top: 0;
}
.direct-answer > div:last-of-type {
    margin-bottom: 0;
}
.direct-answer > div label {
    display: inline-block;
}
.direct-answer > div.with-button {
    height: 32px;
    line-height: 32px;
    margin: 0;
}
.direct-answer > div.with-button label {
    float: left;
    line-height: 32px;
}
.direct-answer > div.with-button label:before {
    top: 4px;
}
.direct-answer > div.with-button .yui-button {
    margin-left: 12px;
}
.direct-answer .answer-comment {
    margin-top: 8px;
    display: none;
}
.direct-answer input[type=radio]:checked ~ .answer-comment {
    display: block;
}
.direct-answer .answer-comment textarea {
    width: 100%;
    min-width: 100%;
    height: 68px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    padding: 8px 12px;
    line-height: 16px;
}
.direct-answer .answer-comment .control.dnd-uploader {
    margin: 0;
}
.direct-answer .answer-comment .control.dnd-uploader .attachments-list {
    margin: 0 8px;
}