.set-bordered-panel {
    margin: 0;
}
.set-bordered-panel-heading {
    border: 1px solid rgba(204,204,204,.5);
    cursor: pointer;
}
.set-bordered-panel-body {
    overflow-y: hidden;
    -webkit-transition: height 300ms, padding 300ms;
    -moz-transition: height 300ms, padding 300ms;
    -o-transition: height 300ms, padding 300ms;
    -ms-transition: height 300ms, padding 300ms;
    transition: height 300ms, padding 300ms;
}
.set-bordered-panel-body.closed {
    padding: 0;
    border: none;
}
.org-profile-ft {
    opacity: 0;
    text-align: center;
    padding-bottom: 20px;
}