div.delegation-owner-content div.thumbnail-container {
    float: left;
    max-width: 120px;
    max-height: 160px;
    margin: 0;
    padding: 0 10px 20px 10px;
}

div.delegation-owner-content div.thumbnail-container img {
    width: 90px;
    height: 120px;
}

.delegation-owner-content div.thumbnail-container .thumbnail-view-text,
.delegation-owner-content div.thumbnail-container .thumbnail-edit-text {
    width: 90px;
    height: 120px;
    display: block;
    padding: 40px 0;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    text-align: center;
    white-space: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.delegation-page-content {
    padding-left: 20px;
    width: 700px;
}

div.delegation-content .dashlet-body {
    padding-top: 20px;
}

.delegation-owner-content .owner-employee-positions {
    float: left;
    padding: 0 10px 20px 30px;
    width: calc(100% - 150px);
}

.delegation-owner-content .owner-employee-positions p {
    word-wrap: break-word;
}

div p.delegation-page-title {
    padding: 20px;
    font-weight: bold;
}

.delegation-content .delegation-info .dashlet-body p {
    padding: 10px;
}

.delegation-content .dashlet-title {
    background-color: #bbe6f3;
    font-weight: bold;
}

.delegation-content.dashlet {
    margin-top: 40px;
}

.delegation-content .delegation-owner-content {
    width: 64%;
}

.delegation-content .delegation-info {
    width: 34%;
}