.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_start-date,
.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_start-date div {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_end-date,
.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_end-date div {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_stage-status,
.yui-skin-lecmTheme div.grid td.yui-dt-col-prop_lecm-contract-table-structure_stage-status div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt .yui-dt-data td[status="Закрыт"], .datagrid .grid.yui-dt .yui-dt-data td[status="Закрыт"] {
    color: green;
}

.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt .yui-dt-data td[status="В работе"], .datagrid .grid.yui-dt .yui-dt-data td[status="В работе"] {
    color: blue;
}

/* Создание этапа договора */
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field label {
    width: 120px;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field select,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field div.selectone-control select,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field input.autocomplete-input[type="text"],
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .autocomplete-block .autocompleteCurrentValueDisplay,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .autocomplete-block .autocompleteCurrentValueDisplayInvisible {
    width: 35em;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field div.help-text {
    line-height: normal;
    width: 100%;
    white-space: pre-wrap !important;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field > div:not(.datagrid):not(.viewmode-field):not(.subscribe) {
    margin: 0;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit div.form-field div.format-info {
    clear: both !important;
    line-height: 12px;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .autocomplete-block .autocompleteCurrentValueDisplay .person a,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .autocomplete-block .autocompleteCurrentValueDisplayInvisible .person a {
    max-width: 390px;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .dnd-uploader {
    margin-top: 5px;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .dnd-uploader ul.attachments-list {
    width: 300px;
    height: 30px;
    min-height: 30px;
    margin-right: 12px;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .dnd-uploader ul.attachments-list li {
    white-space: nowrap;
}
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit .dnd-uploader ul.attachments-list li div {
    width: 220px;
}

/* Создание этапа договора: новое представление */
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table.view-stage td {
    width: 33%;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table.presentation, /* Поле ввода комментария */
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .autocomplete-block .autocompleteCurrentValueDisplayInvisible {
    width: 100%;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-control,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-sum,
.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-currency {
    overflow: hidden;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-control .price-currency div.form-field label {
    display: none;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-control div.selectone-control {
    margin-left: 10px !important;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-control div.selectone-control select {
    width: 125px;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-control div.form-field input[type="text"] {
    width: 140px;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-sum {
    width: 270px;
    float: left;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table .price-currency {
    width: 255px;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table div.form-field input.autocomplete-input[type="text"] {
    width: 255px;
}

.yui-skin-lecmTheme .yui-panel.lecm-contract-table-structure_stage_edit table td {
    vertical-align: top;
}

.yui-skin-lecmTheme .yui-panel div.form-field div.viewmode-field span.viewmode-value {
}

.yui-skin-lecmTheme .yui-panel table.view-stage tr td {
    width: 33%;
}

.yui-skin-lecmTheme .yui-panel table.view-stage .price-control,
.yui-skin-lecmTheme .yui-panel table.view-stage .price-sum,
.yui-skin-lecmTheme .yui-panel table.view-stage .price-currency {
    overflow: hidden;
}

.yui-skin-lecmTheme .yui-panel table.view-stage .price-sum {
    float: left;
    width: 195px;
}

.yui-skin-lecmTheme .yui-panel table.view-stage .price-currency .viewmode-label {
    display: none;
}

.yui-skin-lecmTheme .yui-panel table.view-stage tr.view-stage-dates .viewmode-value {
	width: 200px;
}

