.dashlet.contracts .body .row.summary {
    line-height: 16px;
    margin: 10px 0;
    clear: both;
}
.dashlet.contracts .body .row .column.first {
    position: relative;
    width: auto;
}
.dashlet.contracts .body .row .column.second {
    float: right;
    overflow: auto;
}

/***********Workflow tasks dashlet *************/

.WORKFLOWTASKTYPE_NA {
    display: none;
}
.WORKFLOWTASKTYPE_OVERDUE {
    color: #FF0000;
}
.WORKFLOWTASKTYPE_SOON {
    color: #CC6600;
}

.workflow-date {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.workflow-task-main-text {
    padding-top: 5px;
}

.workflow-task-title {
    font-weight: bold;
}

.dashlet .my-task {
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 15px;
}

.dashlet .workflow-task-main-text {
    padding-left: 9px;
}

/***********end Workflow tasks dashlet *************/
