.dashlet .titleBarActions .arm {
    background-image: url('/share/res/images/lecm-contracts/arm.png');
}

.lecm-dashlet-actions {
    margin-left: 1em;
}

.dashlet .lecm-dashlet-actions .add {
    background-image: url("/share/res/images/lecm-contracts/alf_contract_add.png");
}

.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 1.5em;
    text-decoration: none;
}

.dashlet .datagrid .datagrid-bar
{
    margin: 0;
    padding: 0;
}

.contracts .title {
    padding: 5px 9px 5px 9px;
    overflow: hidden;
}

.dashlet .datagrid {
    padding-top: 0;
}

.dashlet .scrollableList {
    padding: 0;
}

.contracts .datagrid thead{
    display:none;
}

.contracts .toolbar {
    border-bottom: none;
}

