h2.thin {
    font-weight: normal;
    color: #000000;
}

.contracts-filter-panel {
    background-color: #F2F2F2;
    border:1px solid;
    margin-right: -10px;
}

.status-button {
    border: 1px solid transparent;
    cursor: pointer;
    font: 14px Arial;
    margin: 5px 0;
    text-decoration: none;
    float: left;
}

.contracts-filter-panel .text-cropped {
    margin: 5px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contracts-filter-panel .filterBlock{
    margin-top: -5px;
    margin-bottom: -5px;
}

.contracts-filter-panel a:hover{
    text-decoration: underline;
}

.contracts-filters-block {
    margin: 0 15px;
    padding: 5px;
    position: relative;
}

.yui-gd.grid
{
    margin: 10px;
}

.total-tasks-count-right {
    float: right;
    background-image: url('/share/res/images/lecm-contracts/contracts-count-back.png');
    height: 20px;
    width: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
    padding-top: 2px;
    display: inline;
    margin-top:3px;
}
