.dashlet.contracts a,
.dashlet.contracts a:hover,
.dashlet.contracts a:visited {
    color: #0600cc;
}
.dashlet.contracts.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.contracts .body .row {
    line-height: 16px;
    margin: 10px 0;
}                                                                                                                       `
