.yui-u .dashlet.contracts-activity .body.dashlet-body {
    padding: 0;
}
.dashlet.contracts-activity .body .row {
    line-height: 16px;
    margin: 0;
    padding: 5px 1em;
    border-bottom: 1px solid #d7d7d7;
}
.dashlet.contracts-activity .body .row:first-of-type {
    padding-top: 10px;
}

.dashlet.contracts-activity.yui-resize .yui-resize-handle {
    z-index: 0;
}