.share-form #lecm-result-list-span .form-container .form-fields {
	padding: 1em 1em 0 !important;
	width:96%;
}

.result-list-label, #lecm-result-list-span .viewmode-field .viewmode-value {
	font-weight: bold;
}

.datagrid .action-set .onMoveUp a {
	background-image: url(/share/res/images/lecm-workflow/arrow-up.png);
}

.datagrid .action-set .onMoveDown a {
	background-image: url(/share/res/images/lecm-workflow/arrow-down.png);
}
