.datagrid .onActionTransferRights a {
    background-image: url("../../../components/images/complete-16.png");
}

.not-fount-procuracy {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 0;
	text-align: center;
}

.not-fount-procuracy .theme-color-3 {
	color: #3C3C3C;
}

.actve-delegation-error {
	color: #7F0000; font-weight: bold;
}

#fieldset-delegate-by-func {
	border: 0; margin-bottom: 0; padding: 0px 0px 0px 1px;
}

#fieldset-delegate-all-func {
	border: 0; margin-bottom: 0; padding: 0px 0px 0px 1px;
}

#error-message-container {
	margin-left: 12em; color: #800000; font-weight: bold;
}

.grid .archive-record,
.grid .archive-record span a,
.grid .archive-record a {
	color:#800000;
}