.group-actions-grid > div {
	height: 35px;
}

.group-actions-grid .left-button-container {
	float: left;
	padding: 7px 0 7px 0;
}

.group-actions-grid .right-button-container {
  float: right;
  padding: 7px 0 7px 0;
}