.dictionary-toolbar {
    margin: 0 -10px;
}
.dictionary-toolbar .header-bar {
    min-height: 2em;
    padding: 4px 1em;
}
.dictionary-toolbar .left,
.dictionary-toolbar .left > div {
    float: left;
    line-height: 24px;
}
.dictionary-toolbar .left > div {
    padding-right: 20px;
}
.dictionary-toolbar .right {
    float: right;
}

/*import xml block*/
.dictionary-toolbar .import-xml .yui-module {
    width: 300px;
    padding: 1px;
    background: rgba(204,204,204,.7);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.dictionary-toolbar .import-xml .yui-module .hd {
    height: 24px;
    line-height: 24px;
    border-radius: 3px;
}
.dictionary-toolbar .import-xml .yui-module .bd {
    background: transparent;
    border: none;
    padding: 2px 5px;
}
