.datalist-toolbar .export span.first-child
{
	background: url(/share/res/components/images/task-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}
.datalist-toolbar .exportcsv span.first-child
{
	background: url(/share/res/components/images/task-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}
.datalist-toolbar .delete-row span.first-child
{
	background: url(/share/res/components/images/delete-row-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}
.datalist-toolbar .search span.first-child
{
	background: url(/share/res/components/images/search-16-gray.png) no-repeat 12px 4px;
	padding-left: 24px;
}
.datalist-toolbar .search-input
{
	display: inline-block;
	vertical-align: text-bottom;
}