.control.association-control .value-div .cropped-item,
.association-picker .currentValueDisplay .cropped-item {
	height: auto;
	min-height: 22px;
}

.control.association-control .value-div .cropped-item .ci-value-div .control-small-font,
.association-picker .currentValueDisplay .cropped-item .ci-value-div .control-small-font {
	font-size: 80%;
	line-height: 6px;
	padding-bottom: 5px;

}
.association-inline-control {
	font:16px/1.231 Open Sans,arial,helvetica,clean,sans-serif;
}

.association-inline-control .label-div {
	font-size:14px
}

.association-inline-control .yui-panel {
	min-width: 30em;
}

.association-inline-control>.container>.value-div>.control-selected-values {
	min-height: 0;
	display: none;
}

.association-inline-control .association-picker {
	visibility: hidden;
}

.association-inline-control .value-div>.yui-panel-container {
	position: static !important;
}

.association-inline-control .value-div>.yui-panel-container>.association-picker {
	position: static;
	border: none;
	box-shadow: none;
}

.association-inline-control .value-div>.yui-panel-container>.association-picker .bd>.form-fields {
	padding: 0;
}

.association-inline-control .association-picker .hd {
	display: none;
}

.association-inline-control .association-picker .ft {
	display: none;
}
