.association-picker {

}

.yui-panel.association-picker .ft {
	font-size: 13px;
}

.association-picker .button-select {
	margin: 0 0 10px 0;
}

.association-picker .with-ex-search .button-select,
.association-picker .with-ex-search .button-select button{
	width: 100%
}

.association-picker .button-select button {
	text-align: left;
	width: 250px;
}

.association-picker .bd .form-fields .control .container .buttons-div {
	padding: 0 0 0 2px;
}

.association-picker .bd .form-fields .control .container .value-div {
	padding: 0 2px 0 0;
}

.association-picker .panel-left {
	margin: 3px 0 10px 0;
	float: none;
	width: 49.5%;
	overflow: hidden;
}

.association-picker .panel-left .treeview {
	border: 1px solid #7f7f7f;
	height: 150px;
	max-height: 150px;
	overflow: auto;
}

.association-picker .panel-right {
	float: right;
	width: 49.5%;
}

.association-picker .panel-right .datatable,
.association-picker .panel-datatable .datatable {
	margin: 3px 0 10px 0;
	height: 150px;
	max-height: 150px;
	width: 100%;
}

.association-picker .panel-right .datatable table,
.association-picker .panel-datatable .datatable table {
	width: 100%;
}

.association-picker .panel-right .datatable table thead,
.association-picker .panel-datatable .datatable table thead {
	display: none;
}

.association-picker .panel-right .datatable .name-td,
.association-picker .panel-datatable .datatable .name-td {

}

.association-picker .panel-right .datatable .add-td,
.association-picker .panel-datatable .datatable .add-td,
.association-picker .panel-right .datatable .edit-td,
.association-picker .panel-datatable .datatable .edit-td {
	width: 1px;
}

.association-picker .panel-right .datatable .add-td .yui-dt-liner,
.association-picker .panel-datatable .datatable .add-td .yui-dt-liner,
.association-picker .panel-right .datatable .edit-td .yui-dt-liner,
.association-picker .panel-datatable .datatable .edit-td .yui-dt-liner {
	text-align: center;
	padding: 4px 6px;
}

.association-picker .panel-right .datatable .add-td .yui-dt-liner a,
.association-picker .panel-datatable .datatable .add-td .yui-dt-liner a,
.association-picker .panel-right .datatable .edit-td .yui-dt-liner a,
.association-picker .panel-datatable .datatable .edit-td .yui-dt-liner a{
	color: #565553;
	text-decoration: none;
}

.association-picker .currentValueDisplay {
	margin-top: 3px;
}

.association-picker .bd .control-ex-search div.form-buttons,
.association-picker .control .label-div{
	display: none;
}

.association-picker .bd .control-ex-search div.form-fields {
	padding: 5px 0 0;
}

.association-picker .bd .control-ex-search .buttons-div {
	float: right;
}

.association-picker .with-ex-search .control .label-div,
.association-picker .bd .control-ex-search .control .label-div{
	display: block;
	width: 100px;
	text-align: right;
}