.share-form #lecm-approval-list-span .form-container .form-fields {
    padding: 1em 1em 0 !important;
    width:96%;
}

.approval-list-label, #lecm-approval-list-span .viewmode-field .viewmode-value {
    font-weight: bold;
}

