.dp-highlighter th, .dp-highlighter td {
    border:0;
    padding:0;
}
.dp-highlighter .line1, .dp-highlighter  .line2 {
    padding-left:10px;
    white-space:nowrap;
}
.ft {
    margin-top:1em;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover  {
    background-color:transparent;
}
.dropTarget{
    background-color:yellow;
}

span.insitu-edit-unit
{
    background-image: url(/share/res/components/images/edit-16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    margin-left: 35px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 16px;
}

span.insitu-add-unit
{
    background-image: url(/share/res/components/images/plus-16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    margin-left: 15px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 16px;
}
span.insitu-delete-unit
{
    background-image: url(/share/res/components/images/delete-16.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    margin-left: 55px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    width: 16px;
}