/* Диалоговое окно создания\редактирования поручения */
.yui-skin-lecmTheme div.yui-panel form.metadata-form-edit div.form-field input[type="text"],
.yui-skin-lecmTheme div.yui-panel form.metadata-form-edit div.form-field div.selectone-control select,
.yui-skin-lecmTheme div.yui-panel div.form-field div.autocompleteCurrentValueDisplay,
.yui-skin-lecmTheme div.yui-panel div.form-field div.autocompleteCurrentValueDisplayInvisible {
     width: 600px;
}
.yui-skin-lecmTheme div.yui-panel form.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block input.autocomplete-input {
     width: 192px;
}
.yui-skin-lecmTheme div.yui-panel form.metadata-form-edit div.form-field > input.date-entry {
     width: 200px;
}
.yui-skin-lecmTheme div.yui-panel form.metadata-form-edit div.form-field > input.date-entry + a {
     margin-top: 5px;
}
.yui-skin-lecmTheme div.yui-panel div.form-field > div.autocomplete-block:not(.datagrid):not(.viewmode-field):not(.subscribe),
.yui-skin-lecmTheme div.yui-panel div.form-field input[type="checkbox"] {
     margin-left: 200px;
}
.yui-skin-lecmTheme div.yui-panel div.form-field.checkbox-control {
     text-align: right;
}
.yui-skin-lecmTheme div.yui-panel div.form-field.checkbox-control input[type="checkbox"] {
     margin-left: 0;
}
.yui-skin-lecmTheme div.yui-panel div.form-field.checkbox-control label {
     padding-right: 50px;
}
