.yui-dt-liner.redline {
    background-color: red;
}

.yui-dt-liner.blueline {
    background-color: blue;
}

.yui-dt-liner.orangeline {
    background-color: orange;
}

.yui-dt-liner.greenline {
    background-color: #32cd32;
}

.errands.pagination.yui-pg-container {
    text-align: center;
}