.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.incomplete-warning span.viewmode-value {
    float: none;
    display: inline-block;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.incomplete-warning {
    position: relative;
    margin: 0;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.incomplete-warning > img {
    position: absolute;
    top: 0;
    left: 5px;
}
