.errands-filter > div {
    margin: 5px;
}
.errands-filter {
    overflow: hidden;
    padding-bottom: 5px;
}
.errands-filter > div > label,
.errands-filter > div > span {
    float: left;
}
.errands-filter > div > label,
.errands-filter > div > span:not(.yui-button) {
    padding-top: 5px;
}
.errands-filter > div > span,
.errands-filter > div > span.yui-button {
    margin-right: 15px;
}
.errands-filter > div > span input[type=checkbox] {
    vertical-align: text-top;
}
