/* Диалоговое окно создания поручения */
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-errands_document form div.form-fields .yui-g .yui-u {
    width: 44.1%;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-errands_document form div.form-fields .yui-g .yui-u.first {
    width: 54.1%;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-errands_document form div.form-field > label {
    width: 130px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .current-values.small div.association-auto-complete-selected-item > span > a,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .current-values.small div.association-auto-complete-selected-item-even > span > a,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .current-values.small div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .current-values.small div.association-auto-complete-selected-item-even > span.not-person {
    width: 100px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field input[type="text"],
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field div.selectone-control select,
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field div.autocompleteCurrentValueDisplay,
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field div.autocompleteCurrentValueDisplayInvisible {
    width: 500px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.yui-g div.yui-u div.form-field div.autocomplete-block input.autocomplete-input,
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.yui-g div.yui-u div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplay,
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.yui-g div.yui-u div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
    width: 225px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.yui-g div.yui-u div.form-field
    div.autocomplete-block div.autocompleteCurrentValueDisplay span.person a,
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.yui-g div.yui-u div.form-field
    div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible span.person a
{
    max-width: 150px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field > input.date-entry {
    width: 200px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field > input.date-entry + a {
    margin-top: 5px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field > div.autocomplete-block:not(.datagrid):not(.viewmode-field):not(.subscribe),
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field > div:not(.datagrid):not(.viewmode-field):not(.subscribe):not(.uploader-block),
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field input[type="checkbox"],
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-fields div.set > span.yui-button {
    margin-left: 140px;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field.checkbox-control {
    text-align: right;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field.checkbox-control input[type="checkbox"] {
    margin-left: 0;
}
.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field.checkbox-control label {
    padding-right: 15px;
}

.yui-skin-lecmTheme div.yui-panel.metadata-form-edit.lecm-errands_document form div.form-field span.mceEditor iframe {
    width: 532px !important;
    max-width: 532px;
}

/* Форма атрибутивного поиска */
#searchBlock  div.form-field input.formsCheckBox {
    margin-left: 160px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-errands_document div.set > div.form-field.dnd-uploader > div.uploader-block  {
	margin-left: 0;
}

.form-container.lecm-errands_document .datepicker {
	margin-top: -100px;
}
