/*Отступ после филда с датам. Тоже слишком общий контрол, могут возникнуть проблемы*/
div.yui-g.two-column {
	margin-bottom: 15px;
}

/*Растягивает контрол с выпадающим списком*/
div.selectone-control select {
	width: 95% !important;
}

/*Выранивание кнопки удаления по нижней границе. Слишком общий селектор, но конкретно для этой формы пойдёт.*/
div.yui-u.first .set, div.form-field.dnd-uploader {
	height: 100% !important;
}

div.uploader-remove-button {
	top: 95% !important;
	position: absolute !important;
}
