.pdf-markup {
	border: 1px solid blue;
	position: absolute;
	z-index: 10000000;
	opacity: 0.2;
	background-color: blue;
}

.pdf-markup-selected {
	border: 1px solid green;
	position: absolute;
	z-index: 10000000;
	opacity: 0.2;
	background-color: green;
}

.pdf-markup-canvas .pdf-error-markup {
	border: 1px solid red;
	background-color: red;
}

.pdf-markup-canvas {
	cursor: crosshair;
}