h2.thin {
    font-weight: normal;
    color: #000000;
}

.documents-filter-panel {
    background-color: #F2F2F2;
    border: 1px solid #cbcbcb;
    margin-right: -15px;
    padding: 10px 0;
    border-radius: 5px;
}

.status-button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 0 5px;
    text-decoration: none;
    float: left;
}

.documents-filter-panel .text-cropped {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.documents-filter-panel .filterBlock > div {
    padding: 4px 0 0 30px;
}
.documents-filter-panel .filterBlock > div.selected {
    background: #bbe6f3;
    font-weight: bold;
}
.documents-filter-panel #filter-statuses-set > div {
    padding-left: 50px;
}

.documents-filter-panel a:hover {
    text-decoration: underline;
}
.documents-filter-panel .filterBlock > div.selected a:hover {
    text-decoration: none;
}

.documents-filter-block {
    position: relative;
}

.documents-filter-block .alfresco-twister {
    padding-left: 30px !important;
    background-position: 15px 50%;
}

.yui-gd.grid {
    margin: 10px;
}

.total-tasks-count-right {
    height: 19px;
    line-height: 19px;
    position: absolute;
    right: 20px;
    top: 4px;
    color: #f08020;
    font-weight: bold;
    font-size: 13px;
}