.yui-gc .yui-u .columnSize2.grid {
    margin: 10px 5px;
}
.yui-gc .yui-u .columnSize2 .column1 {
    width: 20%;
}
.yui-gc .yui-u .columnSize2 .column2 {
    width: 78%;
}
.yui-gc div.first {
    width: 100%;
}
#yui-main div.datalist-toolbar {
    border: 0;
}
#yui-main div.datalist-toolbar div.header-bar {
    background: none;
    padding: 5px 0;
}
#yui-main div.datalist-toolbar div.header-bar div.new-row span.first-child {
    background: url("/share/res/images/lecm-base/docs-common/alf_document_add.png") no-repeat 5px 5px;
    padding-left: 0;
}
#yui-main div.datalist-toolbar div.header-bar div.new-row span.first-child button {
    padding-left: 25px;
}

#bd #lecm-menu #menu-buttons.documents-menu-buttons span.menu-button span.first-child {
    height: 68px;
}

