#lecm-menu #menu-buttons-listBtn span.first-child {
    background: url('/share/res/images/lecm-base/docs-common/alf_contracts_list_32.png') no-repeat 4px 4px;
}

#lecm-menu #menu-buttons-reportsBtn span.first-child {
    background: url('/share/res/images/lecm-base/docs-common/alf_contracts_reports_32.png') no-repeat 4px 4px;
}

#lecm-menu #menu-buttons-archiveBtn span.first-child {
    background: url('/share/res/images/lecm-base/docs-common/alf_contracts_list_32.png') no-repeat 4px 4px;
}

