/**
*
* Style the yui-dt-expandablerow-trigger column
*
**/
.graph-tree .yui-dt-data td {
    border-bottom: none !important;
}
.graph-tree .yui-dt {
	border-bottom: 1px solid #eee;
}
.graph-tree .yui-dt-expandablerow-trigger {
        width: 10px;
        padding: 4px;
}
/*.yui-dt-first {
	background-color: #FFF;
} */
div.connections-list div#expandable_table table thead {
	display: none;
}
.graph-tree .yui-dt-expandablerow-trigger a {
	display:block;
	padding:20px 5px 0;
	cursor:pointer;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger a{
	background:url(../../images/lecm-documents/graph-tree/arrow_open.png) 0 6px no-repeat;
}
.yui-dt-expandablerow-trigger a, .yui-dt-collapsed .yui-dt-expandablerow-trigger a {
	background:url(../../images/lecm-documents/graph-tree/arrow_closed.png) 0 4px no-repeat;
}
.yui-dt-expanded .yui-dt-expandablerow-trigger.spinner a {
	background:url(../../images/lecm-documents/graph-tree/spinner.gif) 0 4px no-repeat;
	padding-right: 10px;
}
.yui-dt-expandablerow-trigger-inner {
        width: 7px;
}

.lecm-dt-liner {
	border-top: 4px solid;
	position: absolute;
	width: 45px;
	left: -25px;
	top: 15px;
}

.item-description {
	overflow: hidden;
}

.item-description p {
	padding: 0 !important;
}

/*.item-description .link-span {
	float: left;
}*/

.item-description .connection-direction,
.item-description .document-type {
    height: 32px;
    width: 32px;
    display: block;
    float: left;
    margin-top: 8px;
}

.item-description .connection-direction.direct {
	background: url('../../images/lecm-documents/graph-tree/arrow_right_blue.png') 0 6px no-repeat;
}
.item-description .connection-direction.reverse {
	background: url('../../images/lecm-documents/graph-tree/arrow_left_blue.png') 0 6px no-repeat;
}

.item-description .document-type {
	margin-right: 8px;
}

.connections-view-mode-button-group {
	padding-left: 15px;
	padding-bottom: 10px;
}

.graph-tree-empty-cell {
	height: 100%;
	position: absolute;
	left: 13px;
	top: -20px;
}

.yui-skin-sam .graph-tree-liner {
    margin: 0;
    padding: 0 0 0 10px;
}

.graph-tree-toolbar {
    padding-top: 0.5em;
}
