.dashlet.approval .dashlet-body {
    padding: 8px 1em;
    box-sizing: border-box;
}
.dashlet.approval .approval-stage-container {
    border-bottom: 1px solid #888;
    margin: 0 -3px;
    padding: 0 3px;
}
.dashlet.approval .approval-stage-container div.approval-stage {
    margin: 5px 0;
    box-sizing: border-box;
    background-position-y: 30% !important;
}
.dashlet.approval div.approval-stage div {
    width: 16px;
    height: 16px;
    float: right;
    opacity: .9;
    cursor: default;
}
.dashlet.approval div.approval-stage div.stage-parallel {
    background: url("../../images/lecm-documents/approval/alf_parallel_lightgrey_16.png") center center no-repeat;
}
.dashlet.approval div.approval-stage div.stage-sequential {
    background: url("../../images/lecm-documents/approval/alf_sequential_lightgrey_16.png") center center no-repeat;
}
.dashlet.approval .approval-stage-container div.stages-items {
    padding-left: 5em;
    font-size: 12px;
    height: 0;
    overflow-y: hidden;
}
.dashlet.approval .approval-stage-container div.stages-items > div {
    margin: 3px 0;
}
.dashlet.approval .approval-stage-container .approval-stage.alfresco-twister-closed ~ div.stages-items {
    height: 0;
}
.dashlet.approval .approval-stage-container .approval-stage.alfresco-twister-open ~ div.stages-items {
    height: auto;
}

