.platform-other-settings {
	margin: 16px 10px 10px;
}

.platform-other-settings .title {
	font-size: 123.1%;
	font-weight: bold;
	padding-bottom: 0.75em;
}

.platform-other-settings .object-finder .panel-left,
.platform-other-settings .object-finder .panel-right,
.platform-other-settings .object-finder .currentValueDisplay {
	background-color: white;
}

.platform-other-settings .object-finder {
	width: 100%;
	max-width: 800px;
}

.platform-other-settings .form-field label,
.platform-other-settings .form-field .picker-visibility-buttons {
	display: inline;
}

.platform-other-settings .form-field.potential-role-control {
    margin: 0 0 1em;
}
.platform-other-settings .potential-role-control .object-finder {
    max-width: none;
}
.platform-other-settings .potential-role-control .object-finder .bd {
    padding: 0.5em 0;
}

.platform-other-settings .control.checkbox-control {
    margin-left: -2px;
}

.platform-other-settings .control.checkbox-control .label-div {
    width: 0;
    padding: 0;
}

.yui-skin-lecmTheme .admin-page .platform-other-settings .form-container .form-buttons {
    padding-left: 0;
    margin-left: 10px;
}
