.control.association-datagrid .value-div .datagrid .grid.yui-dt .yui-dt-data td {
    vertical-align: top;
}
.control.association-datagrid .value-div .datagrid .grid.yui-dt .yui-dt-data td > div {
    word-break: break-all;
    word-break: break-word;
}

.control.association-datagrid .grid .expand-row .form-fields {
    color: grey;
    padding: 5px 50px;
}

.control.association-datagrid .grid .expand-row .form-fields .control {
    margin-bottom: 0;
}
