.datagrid {
    padding-bottom: 0.5em;
}
.datagrid .grid {
    overflow: auto;
}
.datagrid .grid:empty {
    border: none;
}
.datagrid .grid table {
    border: none;
}
.datagrid .grid table div.centered {
    text-align: center;
}


.datagrid div.simple a.action-link,
.datagrid div.simple a.datagrid-action-link,
.datagrid div.simple a.simple-link,
.datagrid div.simple a.show-more {
    cursor: pointer;
}
.datagrid .onActionExportXML a {
    background-image: url("../../../images/lecm-dictionary/xml-file-16.png");
}
.datagrid .onActionVersion a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_versions_16.png");
}
.datagrid .onActionEmployeeAdd a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_naznachit_16.png");
}
.datagrid .onActionEmployeeDelete a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_snyat_16.png");
}
.datagrid .onActionMakeBoss a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_rukovod_16.png");
}
.datagrid .onActionMakePrimary a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_osnovnaya_16.png");
}
.datagrid .onActionViewDocument a {
    background-image: url("../../../images/lecm-base/components/preview-16.png");
}
.datagrid .onActionMove a {
    background-image: url("../../../images/lecm-base/components/move-16.png");
}
.datagrid .show-archive-cb-div {
    padding: 5px;
    text-align: right;
}
.datagrid .show-archive-cb-div input.formsCheckBox,
.datagrid .show-archive-cb-div input.formsCheckBox + label.checkbox {
    vertical-align: middle;
}

/*Дублирование свойств action-link в datagrid-action-link*/
.datagrid a.datagrid-action-link
{
    background-position: 4px 1px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;
}
.datagrid a.datagrid-other-action-link
{
    background-position: 4px 1px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;
}
.datagrid .more-actions a.datagrid-action-link
{
    border: 1px solid #fff;
}
.datagrid div.simple a.datagrid-action-link
{
    background-position: 4px 0;
    min-height: 16px;
    padding: 0 0 0 24px;
}
.datagrid div.simple a.datagrid-action-link span
{
    display: none;
}
.datagrid div.simple div.more-actions a.datagrid-action-link span
{
    display: block;
	margin-top: 2px;
}

.datagrid div.action-set div.more-actions {
    margin-top: 20px;
}

.datagrid .expandRow a {
    background-image: url("/share/res/images/lecm-base/components/triangle_down.png");
}

.datagrid .expanded .expandRow a {
    background-image: url("/share/res/images/lecm-base/components/triangle_up.png");
}

.datagrid .onAddRow a {
    background-image: url("/share/res/components/images/plus-16.png");
}

.datagrid .onMoveTableRowUp a {
    background-image: url("/share/res/images/lecm-base/components/triangle_up.png");
	background-position: 4px 4px;
}

.datagrid .onMoveTableRowDown a {
    background-image: url("/share/res/images/lecm-base/components/triangle_down.png");
	background-position: 4px 4px;
}

.yui-skin-lecmTheme .datagrid .yui-dt tr.total-row,
.yui-skin-lecmTheme .datagrid .yui-dt tr.total-row td.yui-dt-asc,
.yui-skin-lecmTheme .datagrid .yui-dt tr.total-row td.yui-dt-desc {
	background-color: #cbcbcb;
	color: #333;
    font-weight: bold;
}

.datagrid .expand-table-icon {
	cursor: pointer;
	font-size:18px;
}

.datagrid .yui-dt-empty {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #b1b3bf
}

.datagrid .datagrid-toolbar {
	margin-bottom: 3px;
}

.grid-create-error-dialog {
    text-align: center;
    padding:5px;
}

.grid-create-error-dialog + .error-dialog-details {
    display:none;
    height: 250px;
    padding:5px;
    text-align: center;
    overflow: auto;
}

.boolean-true {
    background: url("/share/res/components/images/complete-16.png") no-repeat center;
}

.datagrid .yui-dt-col-actions .yui-dt-liner {
    padding: 3px;
}
