.daterange-set.two-columns .column {
    width: 64%;
    float: left;
}
.daterange-set.two-columns .column.last {
    float: right;
	width: 34%;
}
.daterange-set.two-columns .control .label-div ~ .container {
	min-width: 110px;
}
.daterange-set .daterange-dates {
    width: auto;
    overflow: hidden;
}
.daterange-set .daterange-end-date {
    width: auto;
    overflow: hidden;
}
.daterange-set .daterange-end-date .control {
    position: inherit;
}
.daterange-set .daterange-end-date .control .label-div {
    width: 10px;
}
.daterange-set .daterange-unlimited {
    width: 180px;
    float: right;
    text-align: right;
}
.daterange-set .daterange-unlimited .label-div {
    display: none;
}
