.dnd-uploader ul.attachments-list {
    min-height: 102px;
    border: 1px solid #666;
	margin-top: 10px;
}
.dnd-uploader ul.attachments-list li img.remove-icon,
.dnd-uploader ul.attachments-list li img.newVersion-icon {
    cursor: pointer;
}
.dnd-uploader div.uploader-block fieldset {
    width: 150px;
    height: 90px;
    border: 2px dashed #9d9d9d;
    padding: 10px;
    text-align: center;
    white-space: normal;
}
.dnd-uploader div.uploader-block fieldset legend {
    color: #666;
    background: #fff;
}
.dnd-uploader .uploader-block.dndDocListHighlight fieldset {
    border: 2px solid #4F94C9;
}
.dnd-uploader .uploader-block img.uploader-button {
    margin: 0 0 5px;
    cursor: pointer;
}
.dnd-uploader .uploader-block span.drag-tip {
    color: #a7a7a7;
    line-height: 16px;
    display: inline-block;
}

.dnd-uploader div.big-uploader-block fieldset {
	width: 620px;
	height: 500px;
	border: 2px dashed #9d9d9d;
	padding: 10px;
	text-align: center;
	white-space: normal;
	margin-bottom: 0;
}
.dnd-uploader div.big-uploader-block fieldset legend {
	color: #666;
	background: #fff;
}
.dnd-uploader .big-uploader-block.dndDocListHighlight fieldset {
	border: 2px solid #4F94C9;
}
.dnd-uploader .big-uploader-block img.uploader-button {
	margin: 200px 0 5px;
	cursor: pointer;
}
.dnd-uploader .big-uploader-block span.drag-tip {
	color: #a7a7a7;
	line-height: 16px;
	display: inline-block;
}
.dnd-uploader div.uploader-remove-button {
	display: none;
}
