.yui-skin-lecmTheme .filter {
    margin-bottom: -8px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background: #dcdcdc;
    overflow: hidden;
    padding: 5px 10px;
}
.yui-skin-lecmTheme .filter > div {
    float: left;
}
.yui-skin-lecmTheme .filter > span.yui-button {
    float: right;
    margin-right: 0;
}
.yui-skin-lecmTheme .filter > div > label,
.yui-skin-lecmTheme .filter > div > span {
    float: left;
}
.yui-skin-lecmTheme .filter > div > label,
.yui-skin-lecmTheme .filter > div > span:not(.yui-button) {
    padding-top: 6px;
}
.yui-skin-lecmTheme .filter > div > span,
.yui-skin-lecmTheme .filter > div > span.yui-button {
    margin-right: 20px;
}
.yui-skin-lecmTheme .filter div.flat-button span.yui-button {
    background: url("../../../themes/lecmTheme/images/sprite.png") repeat-x scroll 0 0 transparent;
    border-color: #999;
}
.yui-skin-lecmTheme .filter div.flat-button span.yui-button span.first-child {
    border-color: #999;
}
.yui-skin-lecmTheme .filter div.flat-button span.yui-button button,
.yui-skin-lecmTheme .filter div.flat-button span.yui-button a {
    color: #333333;
    text-decoration: none;
}
.yui-skin-lecmTheme .filter div.flat-button span.yui-button button {
    width: 150px;
    text-align: left;
    padding-left: 5px;
}
