/* Стили для фото в карточке сотрудника + прочие сопутствующие */
/*todo необходим рефакторинг*/
div.fio-and-photo div.thumbnail-container {
    float: right;
	max-width: 100px;
	max-height: 120px;
	margin: 0;
}
div.fio-and-photo div.thumbnail-container img {
	max-width: 100px;
	max-height: 120px;
}
.fio-and-photo div.thumbnail-container .thumbnail-view-text,
.fio-and-photo div.thumbnail-container .thumbnail-edit-text {
	width: 100px;
	display: block;
	padding: 25px 0;
	border: 1px dashed #8d8d8d;
	text-align: center;
	white-space: normal;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fio-and-photo .control.uploader-control .container {
    float: right;
	min-width: 0;
    padding-top: 5px;
}
.fio-and-photo .control.uploader-control .file-upload-button button {
	width: 98px;
}
.alfresco-share .yui-panel .bd .fio-and-photo .yui-u {
	width: 110px;
}
.alfresco-share .yui-panel .bd .fio-and-photo .yui-u.first {
	width: 480px;
}