.richtext.viewmode ul,
.richtext.viewmode ul li,
.richtext.viewmode ol,
.richtext.viewmode ol li {
    margin: inherit;
    padding: inherit;
}

.sticky-wrapper .richtext.viewmode  li {
    list-style: inherit;
}

.sticky-wrapper .richtext.viewmode  fieldset,
.sticky-wrapper .richtext.viewmode  ul {
    margin: inherit;
    padding: inherit;
}

.yui-overlay .richtext.viewmode li,
.sticky-wrapper .richtext.viewmode li {
    list-style: inherit;
}

.alfresco-share .sticky-wrapper .richtext.viewmode ul {
    list-style-position: initial;
}