.dnd-uploader-with-preview .uploader-block {
	float: left;
	padding: 3px 5px 0 2px;
}

.dnd-uploader-with-preview .buttons-div {
	margin-top: 85px;
}

.dnd-uploader-with-preview .buttons-div .show-preview-button button {
	background: url('../../../images/lecm-base/components/preview-16.png') no-repeat center center;
}

.dnd-uploader-with-preview .buttons-div .show-preview-button button:disabled {
	background: url('../../../images/lecm-base/components/preview-16_inactive.png') no-repeat center center;
}
.yui-skin-lecmDarkTheme .dnd-uploader-with-preview .label-div {
	padding-right: 12px;
}
.yui-skin-lecmDarkTheme .dnd-uploader-with-preview .container {
	border: 1px solid #636363;
	margin: 2px;
	padding: 0 2px 0 2px;
}

.yui-skin-lecmDarkTheme .dnd-uploader-with-preview .buttons-div {
	margin-top: 10px;
}
