.control.events-members-view-control .control-selected-values > div:nth-child(even) {
    background: transparent;
}
.control.events-members-view-control .control-selected-values > div.cropped-item {
    border: none !important;
}
.control.events-members-view-control .control-selected-values > div.cropped-item .ci-value-div {
    padding-left: 0;
}
.control.events-members-view-control .value-div span.person a {
    background: none;
    padding-left: 0;
}


