.control.association-token-control .control-selected-values {
    border: none !important;
}
.control.association-token-control .control-selected-values > div.cropped-item {
    width: auto;
    height: 20px;
    line-height: 20px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 15px;
    background: #ecf2ff;
    padding: 2px 5px;
    margin: 0 5px 3px 0;
}
.control.association-token-control .control-selected-values > div.cropped-item .ci-buttons-div {
    padding-left: 5px;
    padding-right: 0;
}
.control.association-token-control .control-selected-values > div.cropped-item .ci-buttons-div .remove-item {
    width: 16px;
    height: 20px;
    background: url("../../../themes/lecmTheme/images/sprite.png") no-repeat 0 -1097px;
}
.control.association-token-control .control-selected-values > div.cropped-item .ci-buttons-div .members-mandatory {
    vertical-align: middle;
    margin-right: 3px;
}
