div.object-finder div.search-picker + div.current-values {
    width: 100%;
}

div.object-finder div.search-picker div.picker-items {
	border: 1px solid #aaa;
	height: 150px;
	overflow: auto;
	position: relative;
}

div.object-finder div.search-picker div.search {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left;
}

div.object-finder div.search-picker input[type='text'].search-input {
	width: 420px;
	padding: 0.3em 1em 0.4em 0.5em;
	float: left;
}

.yui-skin-lecmTheme .yui-panel div.form-field div.object-finder div.search-picker {
	white-space: normal;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder div.search-picker input[type='text'].search-input {
	width: 490px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder div.search-picker + .current-values {
	width: 100%;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder div.search-picker {
	margin-bottom: 1.3em;
}
