.reiteration div.delim {
    padding: 0 5px 0 5px;
    background-color: #ccc;
    height: 1px;
}

.reiteration .container {
    padding: 5px;
    text-align: center;
}

.reiteration .container .value-div {
    text-align: left;
}

.reiteration .container-aligment {
    display: inline-block;
    text-align: left;
}

.reiteration .container .item {
    border: 1px #aaa solid;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 32px;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    text-align: center;
    background-color: transparent
}

.reiteration .container .item.checked {
    background-color: #ccc
}

.reiteration .button {
    border: 1px transparent solid;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

.reiteration .button.active {
    border: 1px #ccc solid;
    cursor: default;
}

.reiteration .summary {
    padding: 5px;
    text-align: center;
}

.reiteration .container .value-div a.disabled {
	pointer-events: none;
	cursor: default;
}
