.datalist-toolbar .search span.first-child,
.datalist-toolbar .ex-search span.first-child {
    width: 26px;
    height: 26px;
}
.datalist-toolbar .search span.first-child {
    background: url('../../../components/images/search-16-gray.png') no-repeat 5px 5px;
}
.datalist-toolbar .ex-search span.first-child {
    background: url('../../../images/lecm-base/components/base/alf_base_filter_16.png') no-repeat 5px 5px;
}
.datalist-toolbar .search span.first-child button,
.datalist-toolbar .ex-search span.first-child button {
    width: 0;
    padding: 0 13px;
}

 .ex-search.yui-button-disabled  {
    opacity: 0.3;
}

#searchBlock-content .search .form-buttons {
    display: none;
}

.datalist-toolbar .exportcsv button {
    background: url(../../../components/images/task-16.png) no-repeat 5px 5px;
}
.datalist-toolbar .delete-row button {
    background: url(../../../components/images/delete-row-16.png) no-repeat 5px 5px;
}

.datalist-toolbar .clear-search {
    text-decoration: none;
}
.datalist-toolbar .clear-search span {
    background: url("../../../components/images/delete-disabled-16.png") no-repeat scroll 0 0 transparent;
    padding-right: 16px;
}
.datalist-toolbar .import-xml span.first-child {
	background: url(../../../images/lecm-dictionary/xml-file-16.png) no-repeat 4px 4px;
	padding-left: 0;
}
.datalist-toolbar .search-input {
    display: inline-block;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.datalist-toolbar .search-input input {
    border: 0;
    outline: none;
    padding-right: 0;
    margin-left: 3px;
}
.datalist-toolbar .search-input input::-ms-clear {
	display: none;
}
.datalist-toolbar .yui-button.search {
    margin: 0;
}

.yui-skin-lecmTheme .datalist-toolbar .print span.first-child {
    padding-left: 0;
    background-position: 12px 6px;
}
.yui-skin-lecmTheme .datalist-toolbar .print span.first-child button {
    padding-left: 34px;
}
