
.yui-panel.tree-picker {
    display: none;
}
.yui-panel.tree-picker .width100 {
    width: 100%;
}

.yui-panel.tree-picker .bd > div:not(.bdft) {
    margin: 0 2px;
}
.yui-panel.tree-picker .bd > div:not(.bdft):first-of-type {
    padding-top: 10px;
}
.yui-panel.tree-picker .bd div.yui-gb,
.yui-panel.tree-picker .bd div.yui-g {
    margin-bottom: 10px;
}

.yui-panel.tree-picker .search {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: left;
}
.yui-panel.tree-picker .search input.search-input {
    width: 410px;
    padding: 0.3em 1em 0.4em 0.5em;
}
.yui-skin-lecmTheme .yui-panel.tree-picker .yui-g .picker-items.group-members table {
    width: 100%;
    border: none;
}
.yui-panel.tree-picker .group-members thead {
    display: none;
}
.yui-panel.tree-picker .group-members td {
    border-right: none;
}
.yui-panel.tree-picker .picker-groups td {
    text-align: left;
}


