a.down
{
   background: transparent url(/share/res/components/images/collapsed.png) no-repeat scroll center center;
   cursor: pointer;
   padding-right: 15px;
}
.models .yui-dt-liner a.copy
{
   background: transparent url(/share/res/components/images/details-16.png) no-repeat scroll center center;
   cursor: pointer;
   padding-right: 15px;
}
.models .yui-dt-liner a.delete
{
   background: transparent url(../../components/images/delete-16.png) no-repeat scroll center center;
   cursor: pointer;
   padding-right: 15px;
}
.models .yui-dt-liner a.edit-model
{
   background: transparent url(../../images/lecm-model-list/model_edit.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.restore-model
{
   background: transparent url(../../images/lecm-model-list/model_restore.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.edit-control
{
   background: transparent url(../../images/lecm-statemachine-editor/properties.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.edit-form
{
   background: transparent url(../../images/lecm-model-list/form_edit.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.edit-statemachine
{
   background: transparent url(../../images/lecm-model-list/statemachine_edit.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.expand
{
   background: transparent url(../../images/lecm-model-list/expand.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.collapse
{
   background: transparent url(../../images/lecm-model-list/collapse.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a
{
   background-position: 0 center;
   background-repeat: no-repeat;
   padding-bottom: 0.1em;
   padding-left: 0.6em;
   padding-right: 0.7em;
}

/*.models td.yui-dt-last .yui-dt-liner
{
   text-align: right;
}*/

.models .form-container select.yui-dt-dropdown {
	width:100%;
}

.share-form .form-container .form-fields .control.datatable.models .container .value-div {
	overflow: visible;
}
