#lecm-menu #menu-buttons #menu-buttons-modelEditorHomeBtn span.first-child {
	background: url('/share/res/images/lecm-statemachine-editor/home.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-formsEditorHomeBtn span.first-child {
	background: url('/share/res/images/lecm-statemachine-editor/home.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-controlsEditorHomeBtn span.first-child {
	background: url('/share/res/images/lecm-statemachine-editor/home.png') no-repeat 4px 4px;
}
