.models .yui-dt-liner a.delete
{
   background: transparent url(../images/delete-16.png) no-repeat scroll center center;
   cursor: pointer;
   padding-right: 15px;
}
.models .yui-dt-liner a.edit-model
{
   background: transparent url(../images/edit-16.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.edit-form
{
   background: transparent url(../images/edit-16.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a.edit-statemachine
{
   background: transparent url(../images/edit-16.png) no-repeat scroll center center;
   cursor: pointer;
}
.models .yui-dt-liner a
{
   background-position: 0 center;
   background-repeat: no-repeat;
   padding-bottom: 0.1em;
   padding-left: 0.6em;
   padding-right: 0.7em;
}

.models td.yui-dt-last .yui-dt-liner
{
   text-align: right;
}

.models .form-container select.yui-dt-dropdown {
	width:100%;
}