.datalist-toolbar .search span.first-child
{
    background: url('/share/res/components/images/search-16-gray.png') no-repeat 12px 4px;
    padding-left: 24px;
}

.datalist-toolbar .ex-search span.first-child
{
    background: url('/share/res/components/images/search-16-gray.png') no-repeat 12px 4px;
    padding-left: 24px;
}

.search-input
{
    display: inline-block;
    vertical-align: text-bottom;
}

#searchBlock .bd
{

}

#searchBlock-content .search .form-buttons {
    display:none;
}

#searchBlock-content  .search .search-icon span.first-child {
    background: url("../images/search-16.png") no-repeat scroll 12px 4px transparent;
    padding-left: 24px;
    text-align: center;
}
