.events-user-settings
{
	margin: 16px 10px 10px;
}

.events-user-settings .title
{
	font-size: 123.1%;
	font-weight: bold;
	padding-bottom: 0.75em;
}

.events-user-settings .control .label-div {
	width: 0;
}

.yui-skin-lecmTheme .events-user-settings .form-container .form-buttons {
	padding: 0 1em 1em 0;
}