.yui-skin-lecmTheme .event-page .form-fields {
    padding-bottom: 1em;
}

.doc-right-part .form-container .form-fields {
    padding: 0;
}

.doc-right-part .metadata-panel .form-container .form-fields {
    padding: 1em;
}