.yui-skin-lecmTheme .event-create .form-container .form-fields {
    padding-right: 0;
}
.yui-skin-lecmTheme .event-create .form-container .form-buttons {
    padding-left: 0;
    margin-right: 300px;
    text-align: center;
}
