.yui-skin-lecmTheme .event-create .form-container .form-fields {
    padding-right: 0;
}
.yui-skin-lecmTheme .event-create .form-container .form-buttons {
    padding-left: 0;
    margin-right: 300px;
    text-align: center;
}

.create-event-set {
    width: auto;
    overflow: hidden;
}
.create-event-set .event-create-right {
    width: 300px;
    float: right;
    word-wrap: break-word;
    /*border: 1px solid #aaaaaa;*/
    /*border-right: 0;*/
    /*border-radius: 5px 0 0 5px;*/
    background: #fafafa;
    margin-top: 2px;
}
.create-event-set .event-create-right h2 {
    font-size: 13px;
    font-weight: bold;
    color: #303030;
}
.create-event-set .event-create-right h2 + div {
    padding-left: 10px;
    box-sizing: border-box;
}
.create-event-set .event-create-right h2.alfresco-twister-closed + div {
    display: none;
}
.create-event-set .event-create-right h2.alfresco-twister-open + div {
    display: block;
}

.create-event-set .event-create-right .event-create-actions,
.create-event-set .event-create-right .event-create-attachments {
    /*background-color: #ccc;*/
    border-top: 1px solid #ccc;
    padding: 10px 12px;
}
.create-event-set .event-create-right .event-create-actions ul li {
    margin: 7px 0;
    padding-left: 20px;
}
.create-event-set .event-create-right .event-create-actions ul li.event-save {
    background: url("../../images/lecm-events/alf_save_grey_16.png") no-repeat center left;
}
.create-event-set .event-create-right .event-create-actions ul li.event-cancel {
    background: url("../../images/lecm-events/alf_cancelEdit_grey_16.png") no-repeat center left;
}
.create-event-set .event-create-right .event-create-actions ul li a,
.create-event-set .event-create-right .event-create-actions ul li a:hover {
    color: #333;
    vertical-align: middle;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .label-div {
    display: none;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .uploader-block {
    float: none;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .uploader-block fieldset {
    width: 100%;
    height: 120px;
    border: 3px dashed #9d9d9d;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 30px;
    background: #f2f5f8;
    box-sizing: border-box;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .uploader-block fieldset span.drag-tip {
    padding: 0 40px;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .uploader-block fieldset legend {
    display: none;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container .buttons-div {
    display: none;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container ul {
    border: none;
    margin: 0;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container ul li {
    background: none;
    margin-bottom: 5px;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container ul li .ci-value-div a,
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container ul li .ci-value-div a:hover {
    color: #999;
}
.create-event-set .event-create-attachments .dnd-uploader-with-preview .container ul li .ci-value-div img {
    margin: 0 5px -3px 0;
}

.create-event-set .event-create-center {
    width: auto;
    overflow: hidden;
    padding-right: 20px;
}
.create-event-set .event-create-center .control .label-div {
    width: auto;
}
.create-event-set .event-create-center .control.checkbox-control .label-div {
    display: none;
}
.create-event-set .event-create-center .control.checkbox-control .value-div {
    padding-left: 0;
}
.create-event-set .event-create-center .control.checkbox-control .value-div label {
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

/* Контрол выбора даты/времени */
.create-event-set .event-create-center .control.date .container,
.create-event-set .event-create-center .control.date .value-div {
    float: left;
}
.create-event-set .event-create-center .control.date .value-div div.date-entry-container,
.create-event-set .event-create-center .control.date .value-div div.time-entry-container {
    width: 150px;
    float: left;
    padding-right: 5px;
    margin-bottom: 0;
}

/* Стили для страницы редактирования мероприятия */
.yui-skin-lecmTheme .event-create > .create-event-set .event-create-right {
    padding-top: 1em;
}
.yui-skin-lecmTheme .event-create > .create-event-set .event-create-right fieldset {
    margin-bottom: 1em;
}
.yui-skin-lecmTheme .event-create > .create-event-set .event-create-center .form-buttons {
    margin-right: 0;
    padding-right: 0;
}

