.dashlet.my-events .header {
    margin: 5px 10px;
}

.dashlet.my-events .location {
    margin: 0 10px;
}

.dashlet.my-events .default-text {
    margin: 5px 10px;
}

.dashlet.my-events .location {
    margin: 0 10px;
}

.dashlet.my-events .delim {
    background-color: #ddd;
    height: 1px;
    margin: 5px 0;
}

.createEvent {
    background-image: url('../../components/calendar/images/add-event-16.png');
}
