.arm-html-node #doc3 {
    margin: 0;
}
#bd .arm-html-node #doc3 .toolbar .header-bar > div {
    margin-top: 2px;
}
.arm-html-node #doc3 .task-list .task-list-bar .yui-u .thin {
    padding: 4px 18px;
    vertical-align: bottom;
}
