.templateTree .ygtvtable {
	width: 100%;
}

span.insitu-create
{
	background: url(../../../components/images/add-icon-16.png) no-repeat center center;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin-left: 3px;
	margin-top: 0px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}

span.insitu-delete
{
	background: url(../../../components/images/delete-16.png) no-repeat center center;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin-left: 3px;
	margin-top: 0px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 16px;
}
