.datalist-toolbar {
    margin: 0 -10px;
}
.datalist-toolbar .header-bar {
    min-height: 2em;
    padding: 4px 1em;
}
.datalist-toolbar .left,
.datalist-toolbar .left > div {
    float: left;
    line-height: 24px;
}
.datalist-toolbar .left > div {
    padding-right: 20px;
}
.datalist-toolbar .right {
    float: right;
}

/*import xml block*/
.datalist-toolbar .import-xml {
    position: relative;
}
.datalist-toolbar .import-xml button {
    background: url("../../images/lecm-dictionary/xml-file-16.png") no-repeat 5px 5px;
    cursor: pointer;
}
.datalist-toolbar .import-xml .form-container {
    width: 33px;
    height: 29px;
    position: absolute;
    top: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}
.datalist-toolbar .import-xml .form-container input {
    cursor: pointer;
}
