.dp-highlighter th, .dp-highlighter td {
    border:0;
    padding:0;
}
.dp-highlighter .line1, .dp-highlighter  .line2 {
    padding-left:10px;
    white-space:nowrap;
}
.ft {
    margin-top:1em;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover  {
    background-color:transparent;
}
.dropTarget{
    background-color:yellow;
}
.ygtvfocus{
	background-color:white!important;
}
.ygtvfocus .ygtvlabel,
.ygtvfocus .ygtvlabel:link,
.ygtvfocus .ygtvlabel:visited,
.ygtvfocus .ygtvlabel:hover{
	background-color:white!important;
}

.tree .header-bar
{
	margin-left: -5px!important;
}