.datalist-toolbar {
    margin: 0 -5px 0 -10px !important;
}
.datalist-toolbar .left,
.datalist-toolbar .left > div,
.datalist-toolbar .right {
    line-height: 24px;
}
.datalist-toolbar .left > div {
    padding: 0 10px;
}
.datalist-toolbar .left > div:first-child {
    padding-left: 5px;
}
.datalist-toolbar .exportcsv button {
    background: url(/share/res/components/images/task-16.png) no-repeat 5px 5px;
}
.datalist-toolbar .delete-row button {
    background: url(/share/res/components/images/delete-row-16.png) no-repeat 5px 5px;
}
.datalist-toolbar .import-csv button {
    background: url("../../components/images/details-16.png") no-repeat 5px 5px;
    cursor: pointer;
}
.datalist-toolbar .search button {
    background: url(/share/res/components/images/search-16-gray.png) no-repeat 5px 5px;
}
.datalist-toolbar .search-input {
    display: inline-block;
    vertical-align: text-bottom;
    margin-top: 4px;
}
/*import csv block*/
.datalist-toolbar .import-csv {
    position: relative;
}
.datalist-toolbar .import-csv .form-container {
    width: 33px;
    height: 29px;
    position: absolute;
    top: 0;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
}
.datalist-toolbar .import-csv .form-container input {
    cursor: pointer;
}

