.dp-highlighter th, .dp-highlighter td {
    border:0;
    padding:0;
}
.dp-highlighter .line1, .dp-highlighter  .line2 {
    padding-left:10px;
    white-space:nowrap;
}
.ft {
    margin-top:1em;
}
/*.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover  {*/
    /*background-color:transparent;*/
/*}*/
.dropTarget{
    background-color:yellow;
}
#dictionary .ygtvfocus,
#dictionary .ygtvfocus .ygtvlabel,
#dictionary .ygtvfocus .ygtvlabel:link,
#dictionary .ygtvfocus .ygtvlabel:visited,
#dictionary .ygtvfocus .ygtvlabel:hover{
	background-color:white;
}

.ygtv-highlight#dictionary .ygtv-highlight1,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvlabel,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvfocus,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvfocus .ygtvlabel,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvfocus .ygtvlabel:link,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvfocus .ygtvlabel:visited,
.ygtv-highlight#dictionary .ygtv-highlight1 .ygtvfocus .ygtvlabel:hover{
	background-color:blue;
	color:white;
}

#dictionary a.ygtvspacer {
	text-decoration: none;
}

.tree .header-bar
{
	margin-left: -5px!important;
}