.arm-settings-fields span.create-field-button .yui-button .first-child {
	background: url(../../images/lecm-arm/create-field.png) no-repeat center center;
	width: 26px;
}

.arm-settings-fields span.add-from-model-button .yui-button .first-child {
	background: url(../../images/lecm-arm/add-from-model.png) no-repeat center center;
	width: 26px;
}

.add-fields-form-content {
	height: 350px;	overflow-y: auto;
}

div.add-fields-form-content table {
	width: 100%
}

.control-select-types {
	max-height : 109px !important;
}