.tree .arm-tree-menu .ygtvcell.ygtvcontent .load-next-block-node {
    color: #019AEC;
    text-decoration: underline;
    font-style: italic;
    font-weight: 700;
    cursor: pointer;
}

.tree .arm-tree-node-to-attach {
    position: relative;
}

.tree .arm-tree-node-to-attach .arm-tree-attached-input-field {
    position: absolute;
    top: 23px;
    left: 7px;
}

.tree .accordion-content span.insitu-search-on-node {
    background: url(/share/images/lecm-arm/magnifier-16.png) no-repeat center center;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-top: 0px;
    opacity: 1;
    position: absolute;
    visibility: visible;
    width: 16px;
}

.tree .accordion-content span.reset-search-button {
    background: url(/share/images/lecm-arm/reset-16.png) no-repeat center center;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-left: 3px;
    margin-top: 0px;
    opacity: 1;
    position: absolute;
    visibility: visible;
    width: 16px;
}

.arm-tree-icon-container-expanded,
.arm-tree-icon-container-after-search {
    color: #019AEC;
    font-weight: 700;
}

.tree .arm-tree-icon-container-expanded .ygtvtp,
.tree .arm-tree-icon-container-expanded .ygtvtph,
.tree .arm-tree-icon-container-expanded .ygtvlp,
.tree .arm-tree-icon-container-expanded .ygtvlph,
.tree .arm-tree-icon-container-expanded .ygtvtm,
.tree .arm-tree-icon-container-expanded .ygtvtmh,
.tree .arm-tree-icon-container-expanded .ygtvlm,
.tree .arm-tree-icon-container-expanded .ygtvlmh {
    background: url(/share/images/lecm-arm/show-more-16.png) no-repeat center center;
}

.tree .arm-tree-icon-container-after-search .ygtvtp,
.tree .arm-tree-icon-container-after-search .ygtvtph,
.tree .arm-tree-icon-container-after-search .ygtvlp,
.tree .arm-tree-icon-container-after-search .ygtvlph,
.tree .arm-tree-icon-container-after-search .ygtvtm,
.tree .arm-tree-icon-container-after-search .ygtvtmh,
.tree .arm-tree-icon-container-after-search .ygtvlm,
.tree .arm-tree-icon-container-after-search .ygtvlmh {
    background: url(/share/images/lecm-arm/show-more-after-search-16.png) no-repeat center center;
}

.tree .accordion-content .arm-tree-icon-container-after-search span.insitu-search-on-node {
    background: url(/share/images/lecm-arm/magnifier-after-search-16.png) no-repeat center center;
}
