/* Страница Администрирование */
.admin-page #doc3 {
    margin: auto;
}
#bd .admin-page #lecm-content-main {
    padding-bottom: 0;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 .datalist-toolbar {
    border-bottom: 1px solid #ccc;
    overflow-y: hidden;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 .datalist-toolbar .header-bar {
    padding: 2px 0 1px;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 .datalist-toolbar .header-bar > div {
    margin: 0;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 .datalist-toolbar .header-bar > div > span:not(.hidden1) {
    display: inline-block;
    float: left;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 #right-panel-workgroup {
    padding-left: 10px;
}
#yui-main #arm-with-tree.admin-page #yui-main-2 #left-panel-workgroups {
    padding-right: 10px;
}
.yui-skin-lecmTheme .admin-page .form-container .form-buttons{
    padding-top: 1em;
}
.admin-page #arm-documents-toolbar{
    display: none;
}
