#bd #lecm-content-main #arm-tree {
    margin: 0 5px;
}

#yui-main #arm-with-tree #yui-main-2 .datalist-toolbar {
	margin: 0 -10px;
}

#yui-main #arm-with-tree #yui-main-2 .arm-filters-bar .datalist-toolbar {
	margin: 0;
}

#yui-main .arm-filters-bar .datalist-toolbar {
	background-color: #DFF1A1;
    color: #303030;
}

.filters-block .filters {
    margin-left: 9px;
	border: none;
	background-color: transparent;
	position: inherit;
}

.filters-block .filters {
    border: 1px solid transparent;
}
.filters-block .filters.showed {
	background-color: white;
	border: 1px solid #aaa;
	border-bottom: none;
	position: relative;
	z-index: 1000;
}

.filters-block .filters.showed button {
	color: #333;
}

.arm-filters-bar {
	padding-top: 10px;
}

#yui-main .arm-filters-bar .datalist-toolbar .header-bar {
	height: auto;
	min-height: 0;
	display: inline-block;
	padding: 10px 15px;
}

.arm-filters-bar .arm-filters-label {
    font-weight: bold;
    font-size: 12px;
}

.arm-filters-bar .arm-filters-label a {
    font-size: 12px;
	font-weight: normal;
}

.arm-filters-bar .arm-filter-item {
    font-size: 12px;
	font-style: italic;
	padding: 0 10px;
}

.arm-filters-bar .arm-filter-item .arm-filter-remove {
	padding-left: 5px;
	cursor: pointer;
    font-weight: bold;
	font-style: normal;
	color: #E66E00;
}

#arm-grid .datagrid {
	padding-top: 10px;
}

#arm-grid #alf-content {
	margin-left: 0;
}

.datalist-toolbar .filters span.first-child
{
    background: url('/share/res/images/lecm-arm/filter-16.png') no-repeat 4px 4px;
    padding-left: 14px;
}


div.arm-tree-menu .arm-accordion {
	padding-top: 10px;
}

div.arm-tree-menu .arm-accordion div.accordion-head {
	cursor: pointer;
	/*background: url('/share/res/images/lecm-arm/accordion_button.png') repeat-x;*/
    background-color: #F2F2F2;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #333333;
	padding: 8px 0 8px 10px;
	overflow: hidden;
	white-space: nowrap;
}

div.arm-tree-menu .arm-accordion span.accordion-counter-label {
	margin-left: 5px;
    color: #EE801F;
}
div.arm-tree-menu .arm-accordion div.accordion-content {
	height: 0;
	overflow-y: auto;
	overflow-x: auto;
	padding-left: 10px;
}
div.arm-tree-menu .arm-accordion div.accordion-content.shown {
	height: auto;
}
div.arm-tree-menu .arm-accordion .wait-container {
	text-align: center;
}

.filters-block .filters-dialog {
	visibility: hidden;
	margin-top: 25px;
	margin-left: 8px;
}

.datalist-toolbar .filters-block .filters-dialog div {
	float: none;
}


.filters-block .filters-dialog .filters-table th {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
    padding-left: 8px;
    padding-top: 4px;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #303030;
	border-left: 1px solid #D6D6D6;
}

.filters-block .filters-dialog .filters-table th.first,
.filters-block .filters-dialog .filters-table td.first {
	border-left: none;
}

.filters-block .filters-dialog .filters-table td {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	padding-left: 8px;
	font-family: Arial;
	font-size: 12px;
	border-left: 1px solid #D6D6D6;
}

.filters-block .filters-dialog .filters-table td label {
	color: #303030;
}

.filters-block .filters-dialog .filters-table td div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	padding-top: 5px;
}

.filters-block .filters-dialog .filters-table td div input,
.filters-block .filters-dialog .filters-table td div label {
	vertical-align: middle;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table {
    background-color: #C9EBF6;
    color: #919191;
    border: none;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table a{
    color: #919191;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-present-column {
	padding: 5px 0;
}
.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-present-column p {
	padding: 0;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-type-column {
	width: 150px;
}

.arm-reports-list .datagrid {
	padding-top: 10px;
}

div.noerror-item
{
    background: url('/share/res/images/lecm-arm/noerror.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

div.error-item
{
    background: url('/share/res/images/lecm-arm/error.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

.arm-tree-menu td.ygtvcell {
	text-align: left;
	white-space: nowrap;
}

.accordion-toolbar .toolbar {
	background-color: white;
}

.accordion-toolbar .new-row button {
	color: #6ca5ce;
}

#bd #lecm-content-main #arm-with-tree {
	margin-right: 10px;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-col-expand {
	width: 16px;
}

.yui-skin-lecmTheme .mask.arm-filters-mask {
	opacity: 0;
}

.yui-skin-lecmTheme .filters-block .yui-panel-container.shadow .underlay {
	background-color: white;
}

.group-actions span.group-actions-counter {
	margin: 0 5px;
	color: #EE801F;
}

.yui-skin-lecmTheme .filters-block .yui-panel {
	border: 1px solid #aaa;
	border-radius: 0;
	min-width: 150px;
}

.filters-block .yui-panel .bd div.bdft {
	padding: 8px 0 0 0;
	height: 32px;
	background-color: #bbe6f3;
	border: none;
	border-radius: 0;
}

.yui-dt-col-prop_lecm-document_regnum {
    white-space: nowrap;
}

#columnsForm .columns-list {
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filters-block .columns {
    margin-left: 9px;
    border: none;
    background-color: transparent;
    position: inherit;
}

.filters-block .columns {
    border: 1px solid transparent;
}
.filters-block .columns.showed {
    background-color: white;
    border: 1px solid #aaa;
    border-bottom: none;
    position: relative;
    z-index: 1000;
}

.filters-block .columns.showed button {
    color: #333;
}

.filters-block #columnsForm .columns-list .filters-table th {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    vertical-align: text-top;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    padding: 6px 4px;
    font-size: 12px;
    color: #303030;
}

.filters-block #columnsForm .columns-list .filters-table td {
    width: 150px;
    min-width: 150px;
    max-width: 100%;
    vertical-align: text-top;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Arial;
    font-size: 12px;
    border-left: 1px solid #D6D6D6;
}
.filters-block #columnsForm .columns-list .filters-table .column .column-label {
    width: 140px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#columnsForm .columns-list .moveUpColumn {
    background-image: url("/share/res/images/lecm-base/components/triangle_up.png");
    padding-right: 16px
}
#columnsForm .columns-list .moveDownColumn {
    background-image: url("/share/res/images/lecm-base/components/triangle_down.png");
    padding-right: 16px
}

#columnsForm .columns-list .filters-table td div {
    border-bottom: 1px solid #D6D6D6;
}
