@import "../../css/lecm-arm/lecm-arm-admin-page.css";
@import "../../css/lecm-arm/lecm-arm-orgstructure-page.css";

#bd #lecm-content-main #arm-tree {
    margin: 0 5px;
}

#yui-main #arm-with-tree #yui-main-2 .datalist-toolbar {
	margin: 0 -10px;
}

#yui-main #arm-with-tree #yui-main-2 .arm-filters-bar .datalist-toolbar {
	margin: 0;
}

#yui-main .arm-filters-bar .datalist-toolbar {
	background-color: #DFF1A1;
    color: #303030;
}

.filters-block .filters,
.filters-block .columns,
.group-actions .actions {
    margin-left: 9px;
	background-color: transparent;
	position: inherit;
    border: 1px solid transparent;
}
.filters-block .filters.showed,
.filters-block .columns.showed,
.group-actions .actions.showed {
    background-color: white;
	border: 1px solid #aaa;
	border-bottom: none;
	position: relative;
	z-index: 1000;
}

.filters-block .filters.showed button,
.filters-block .columns.showed button,
.group-actions .actions.showed button {
	color: #333;
}

.arm-filters-bar {
	padding-top: 10px;
}

#yui-main .arm-filters-bar .datalist-toolbar .header-bar {
	height: auto;
	min-height: 0;
	display: inline-block;
	padding: 10px 15px;
}

.arm-filters-bar .arm-filters-label {
    font-weight: bold;
    font-size: 12px;
}

.arm-filters-bar .arm-filters-label a {
    font-size: 12px;
	font-weight: normal;
}

.arm-filters-bar .arm-filter-item {
    font-size: 12px;
	font-style: italic;
	padding: 0 10px;
}

.arm-filters-bar .arm-filter-item .arm-filter-remove {
	padding-left: 5px;
	cursor: pointer;
    font-weight: bold;
	font-style: normal;
	color: #E66E00;
}

#arm-grid #alf-content {
	margin-left: 0;
}

.datalist-toolbar .filters span.first-child {
    background: url('../../images/lecm-arm/filter-16.png') no-repeat 4px 4px;
    padding-left: 0;
}
.datalist-toolbar .filters span.first-child button {
    padding-left: 25px;
}

#arm-grid .datagrid,
div.arm-tree-menu .arm-accordion {
	padding-top: 0;
}

div.arm-tree-menu ul.arm-accordion > li {
	margin-right: 4px;
}

div.arm-tree-menu .arm-accordion div.accordion-head {
	cursor: pointer;
	/*background: url('../../images/lecm-arm/accordion_button.png') repeat-x;*/
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	padding: 8px 0 8px 10px;
	overflow: hidden;
	white-space: nowrap;
}

div.arm-tree-menu .arm-accordion span.accordion-counter-label {
	margin-left: 5px;
    color: #EE801F;
}
div.arm-tree-menu .arm-accordion div.accordion-content {
	height: 0;
	overflow-y: auto;
	overflow-x: auto;
	padding-left: 10px;
}
div.arm-tree-menu .arm-accordion div.accordion-content.shown {
	height: auto;
}
div.arm-tree-menu .arm-accordion .wait-container {
	text-align: center;
}

.filters-block .filters-dialog {
	visibility: hidden;
	margin-top: 25px;
	margin-left: 8px;
}

.datalist-toolbar .filters-block .filters-dialog div {
	float: none;
}

.filters-block .filters-dialog .filters-table th,
.filters-block .filters-dialog .filters-table td,
.yui-skin-lecmTheme .yuimenu.group-actions-dialog,
.yui-skin-lecmTheme .yuimenu.group-actions-dialog .yuimenuitem a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.filters-block .filters-dialog .filters-table th,
.filters-block .filters-dialog .filters-table td {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    vertical-align: text-top;
    padding-left: 8px;
    border-left: 1px solid #D6D6D6;
}
.filters-block .filters-dialog .filters-table th {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
    padding-top: 4px;
	font-weight: bold;
	color: #303030;
}

.filters-block .filters-dialog .filters-table th.first,
.filters-block .filters-dialog .filters-table td.first {
	border-left: none;
}

.filters-block .filters-dialog .filters-table td label {
	color: #303030;
}

.filters-block .filters-dialog .filters-table td div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	padding-top: 5px;
}

.filters-block .filters-dialog .filters-table td div input,
.filters-block .filters-dialog .filters-table td div label {
	vertical-align: middle;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table {
    background-color: #C9EBF6;
    color: #919191;
    border: none;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table a{
    color: #919191;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-present-column {
	padding: 5px 0;
}
.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-present-column p {
	padding: 0;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-type-column {
	width: 150px;
}

.arm-reports-list .datagrid {
	padding-top: 10px;
}

div.noerror-item
{
    background: url('../../images/lecm-arm/noerror.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

div.error-item
{
    background: url('../../images/lecm-arm/error.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

.arm-tree-menu td.ygtvcell {
	text-align: left;
	white-space: nowrap;
}

.accordion-toolbar .toolbar {
	background-color: white;
}

#bd #lecm-content-main #arm-with-tree {
	margin-right: 10px;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-col-expand {
	width: 16px;
}

.yui-skin-lecmTheme .mask.arm-filters-mask {
	opacity: 0;
}

.yui-skin-lecmTheme .filters-block .yui-panel-container.shadow .underlay {
	background-color: white;
}

.group-actions span.group-actions-counter {
	margin: 0 5px;
	color: #EE801F;
}

.yui-skin-lecmTheme .filters-block .yui-panel {
	border: 1px solid #aaa;
	border-radius: 0;
	min-width: 150px;
}

.filters-block .yui-panel .bd div.bdft {
	height: 32px;
	background-color: #bbe6f3;
	border: none;
	border-radius: 0;
}
.filters-block .yui-panel .bd div.bdft span.yui-button {
    margin-top: 3px;
}

.yui-dt-col-prop_lecm-document_regnum {
    white-space: nowrap;
}

#columnsForm .columns-list {
    height: 220px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filters-block #columnsForm .columns-list .filters-table th {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    vertical-align: text-top;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    padding: 6px 4px;
    font-size: 12px;
    color: #303030;
}

.filters-block #columnsForm .columns-list .filters-table td {
    width: 150px;
    min-width: 150px;
    max-width: 100%;
    vertical-align: text-top;
    padding-left: 8px;
    padding-right: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border-left: 1px solid #D6D6D6;
}
.filters-block #columnsForm .columns-list .filters-table .column .column-label {
    width: 130px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#columnsForm .columns-list .moveUpColumn {
    background-image: url("../../images/lecm-base/components/triangle_up.png");
    padding-right: 16px
}
#columnsForm .columns-list .moveDownColumn {
    background-image: url("../../images/lecm-base/components/triangle_down.png");
    padding-right: 16px
}

#columnsForm .columns-list .filters-table td div {
    border-bottom: 1px solid #D6D6D6;
}

.arm-html-node {
    position: relative;
}
.arm-html-node .iframe-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
}

#arm-with-tree .tree .ygtv-highlight .ygtvfocus,
#arm-with-tree .tree .ygtv-highlight .ygtvfocus .ygtvlabel,
#arm-with-tree .tree .ygtv-highlight .ygtvfocus .ygtvlabel:link,
#arm-with-tree .tree .ygtv-highlight .ygtvfocus .ygtvlabel:visited,
#arm-with-tree .tree .ygtv-highlight .ygtvfocus .ygtvlabel:hover,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight0 .ygtvfocus,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel:link,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel:visited,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel:hover,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight1 .ygtvfocus,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel:link,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel:visited,
#arm-with-tree .tree .ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel:hover {
    background-color: rgba(255, 255, 255, 0);
    color: inherit;
}