.yui-skin-lecmTheme .arm-metadata .yui-menu-button {
	border-color: #ccc;
	border-style: solid;
	border-radius: 3px;
}

.yui-skin-lecmTheme .arm-metadata .yui-menu-button button {
    background-image:none;
}

.datalists .header-bar {
	height: 30px;
	background: #c5c5c5;
}

.two-panels-container .tree > div:not(.yui-resize-handle) {
    margin-right: 5px;
}

.yui-panel.import-info .bd .import-info-content,
.yui-panel.import-error .bd .import-info-content {
    padding: 5px 20px;
}
