/* Work groups */
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar {
    margin: 0 -5px 0 -10px;
}
report-editor-sourcesList #alf-content .grid.yui-dt {
    margin-left: -5px;
}
report-editor-sourcesList #alf-filters .grid.yui-dt {
    margin: 0 5px;
}
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar,
report-editor-sourcesList #alf-filters .toolbar.datalist-toolbar {
    overflow-x: hidden;
}
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar .header-bar,
report-editor-sourcesList #alf-filters .toolbar.datalist-toolbar .header-bar {
    min-width: 400px;
}
report-editor-sourcesList #alf-filters .grid tr.yui-dt-highlighted {
    cursor: pointer;
}

.datagrid .onActionSelect a {
    background-image: url("../../images/lecm-base/components/base/alf_base_osnovnaya_16.png");
}

.reports-editor-panel {
    border-bottom: 1px solid #D9D9D9;
    margin: 0 -10px;
    padding: 4px 0.5em 2px;
}

#re-templates-grid{
    width: 90%;
    float: left;
    margin-left: 0%;
}

.reports .flat-button .yuimenuitemlabel {
    background-position: 2px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    min-height: 16px;
    background-image: url("/share/res/images/lecm-reports-editor/select-template-16.png");
}

.title h3 {
    font-weight: bold;
    margin: 5px 0;
}

.sources-left-grid {
    float: right;
    width: 95%;
}

.columns-right-grid {
    width: 100%;
    float: right;
    margin-right: 2%;
}

.datagrid .onActionRemove a {
       background-image: url('/share/res/components/images/delete-row-16.png');
 }

.datagrid .onActionAdd a {
    background-image: url('/share/res/components/images/plus-16.png');
}

#bd #lecm-content-main div[id*="reports-editor"] .reports {
    margin: 5px;
}

#bd #lecm-content-main div[id*="reports-editor-toolbar"], #bd #lecm-content-main div[id*="template-edit"], #bd #lecm-content-main div[id*="source-edit"]{
    margin:0;
}

#bd #lecm-content-main div[id*="reports-editor-navigation-toolbar"] .left{
    float:right;
}

div[id*="reports-editor-navigation-toolbar"] .toolbar
{
    background-color: #F9F9F9;
    border-bottom: 0px solid #E3E3E3;
}

.select-columns-toolbar {
    margin-left: -2%;
    padding-top: 0.5em;
    margin-right: 2%;
}

#yui-main div.datalist-toolbar div.header-bar div.select-row span.first-child {
    background: url('/share/res/components/images/add-icon-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}

#yui-main div.datalist-toolbar div.header-bar div.select-source span.first-child {
    background: url('/share/res/components/images/select-invert-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}

.datagrid .onActionDeploy a {
    background-image: url("../../images/lecm-base/components/base/alf_base_osnovnaya_16.png");
}

.datagrid .onActionUnDeploy a {
    background-image: url("/share/res/components/images/header/trashcan.png");
}

.datalist-toolbar .export-template button {
    background: url("../../images/lecm-dictionary/xml-file-16.png") no-repeat scroll 5px 5px transparent;
    cursor: pointer;
}
