/* Work groups */
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar {
    margin: 0 -5px 0 -10px;
}
report-editor-sourcesList #alf-content .grid.yui-dt {
    margin-left: -5px;
}
report-editor-sourcesList #alf-filters .grid.yui-dt {
    margin: 0 5px;
}
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar,
report-editor-sourcesList #alf-filters .toolbar.datalist-toolbar {
    overflow-x: hidden;
}
report-editor-sourcesList #alf-content .toolbar.datalist-toolbar .header-bar,
report-editor-sourcesList #alf-filters .toolbar.datalist-toolbar .header-bar {
    min-width: 400px;
}
report-editor-sourcesList #alf-filters .grid tr.yui-dt-highlighted {
    cursor: pointer;
}

.datagrid .onActionSelect a {
    background-image: url("../../images/lecm-base/components/base/alf_base_osnovnaya_16.png");
}

.reports-editor-panel {
    border-bottom: 1px solid #D9D9D9;
    margin: 0 -10px;
    padding: 4px 0.5em 2px;
}

#re-templates-grid{
    width: 90%;
    float: left;
    margin-left: 0%;
}

.reports .flat-button .yuimenuitemlabel {
    background-position: 2px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    min-height: 16px;
    background-image: url("/share/res/images/lecm-reports-editor/select-template-16.png");
}

.title h3 {
    font-weight: bold;
    margin: 5px 0;
}

.sources-left-grid {
    float: right;
    width: 100%;
    margin-left: -25em;
}

.columns-right-grid {
    width: 100%;
    float: right;
    margin-left: -100%;
}

.datagrid .onActionRemove a {
       background-image: url('/share/res/components/images/delete-row-16.png');
 }

.datagrid .onActionAdd a {
    background-image: url('/share/res/components/images/plus-16.png');
}

#bd #lecm-content-main div[id*="reports-editor-toolbar"] {
    margin:0;
}

#bd #lecm-content-main div[id*="reports-editor-navigation-toolbar"] .left{
    float:right;
}
