.approvalControlsContainer {
	height: 16px;
	float: right;
	width: 32px;
	margin-top: 0.5em;
	display: table;
}

.printApprovalReport {
	background: url("/share/res/components/images/printer-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}
.editIteration {
	background: url("/share/res/components/images/edit-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}

.stagesDatagridExpanded {
	padding-left: 10px;
}

.controlButtonContainer {
	vertical-align: baseline !important;
}
