.approvalControlsContainer {
	height: 16px;
	float: right;
	width: 32px;
	margin-top: 0.5em;
	display: table;
}

.printApprovalReport {
	background: url("/share/res/components/images/printer-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}
.editIteration {
	background: url("/share/res/components/images/edit-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}

.stagesDatagridExpanded {
	padding-left: 10px;
}

.controlButtonContainer {
	vertical-align: baseline !important;
}

.approvalFinishedContainer {
	margin-bottom: 10px;
}

.approvalContainer {
	margin-top: 15px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

.approvalDescriptionContainer {
	margin: 10px 0;
}

.approvalRouteDataContainer {
	float: right;
	width: 40%;
}

.approvalStatusContainer {
	width: 50%;
}
