.approvalControlsContainer {
	height: 16px;
	float: right;
	width: 60px;
	margin-top: 0.5em;
	display: table;
	border-spacing: 10px 0;
}

.printApprovalReport {
	background: url("../../components/images/printer-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}
.editIteration {
	background: url("../../components/images/edit-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}

.stagesDatagridExpanded {
	height: auto;
	padding: 0 5px 5px 10px;
}

.controlButtonContainer {
	vertical-align: baseline !important;
}

.approvalFinishedContainer {
	margin-bottom: 10px;
}

.approvalContainer {
	margin-top: 15px;
	padding: 10px 5px;
	border: 1px solid #ccc;
}

.approvalDescriptionContainer {
	margin: 10px 0;
}

.approvalRouteDataContainer {
	float: right;
	width: 40%;
}

.approvalStatusContainer {
	width: 50%;
}

.hidden {
	display: none;
}

.addStageButton {
	margin-left: 0 !important;
}

.datagrid .onActionAddEmployee a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAL1JREFUOE+lkDEKwzAQBPP/HyS9wWDUCasXuHLjKiCI/6BGhQrJ2Zw35IwIxGSqu5tdELpsJ/m7EEIwxtwEDFgp3hwK3vtrA47UwqewrisjDVAM6YK1lr4BiiFd6LqOvgGKIV0YhoG+AYohXZjnmb4BiiFdyDn3fc+IAkcohnQBpJTGcWRQwIojtXAo1FpLKTHGh4ABK47UAgsQy7LgN8A0TXcBw36BQmBPvgpYnHN8xBcQ2DuHJ/3CycK2PQEu4ZD7kCvCRAAAAABJRU5ErkJggg==) !important;
}

.datagrid .onActionAddMacros a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAALdJREFUOE+lkLEKwyAURfvnfk1ACG6S7EKmLE4Fof6Di0Mo0t6am+alUkromdRzD4Rc1En+DkIIxphHBQdcKTYOgXPu3oBH6soexBg5aYDiSAbWWvoGKI5k0HUdfQMURzLo+56+AYojGczzTN8AxZEMlmXRWnMiwCMURzIAOedhGDis4IpH6sohAKWUlNKtggOuFBsMILz3+BtgmqZrBYf1BepdvgJcxnHkR3wBg7X5/KSfnAyUegKw1QorgLrU5wAAAABJRU5ErkJggg==) !important;
}

.tab-approvalTab {
	min-height: 100px;
}
