.attachment-list .action-set div
{
	margin: 0;
}

.attachment-list a.doc-list-action-link,
.attachment-list a.simple-link,
.attachment-list a.doc-list-show-more
{
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	display: block;
	min-height: 16px;
	padding: 2px 0 2px 24px;
}
