.panel-body {
    height: auto;
    min-height: 1.5em;
    line-height: 1.5em;
    clear: left;
    overflow-y: hidden;
}

.yui-skin-lecmTheme .panel-body span.item {
    float: left;
    margin-right: 1.6em;
}
.yui-skin-lecmTheme .panel-body span.item span.tag {
    float: left;
    margin: 1px 0;
    background: none;
}

.panel-body span.tag a.tag-link {
    margin-right: 0.5em;
    padding: 2px 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #e8e8e8;
    color: #333;
}

.inlineTagReadOnly {
    background-color: #DCEAF4;
    color: #4F94C9;
    padding: 0.1em 0.3em;
    margin-right: 0.5em;
}

.inlineTagEdit {
    border: 1px solid #C5D6E2;
    font-weight: normal;
    padding: 0.3em;
    background-color: white;
}

.inlineTagEditTag {
    background-color: #EEE;
    color: #333;;
    padding: 0.1em 0.3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    display: inline-block;
    cursor: pointer;
}

.inlineTagEditTagPrimed {
    background-color: #DCEAF4;
    color: #4F94C9;
}

.inlineTagEditTag img {
    vertical-align: bottom;
    padding-bottom: 0.2em;
    margin-left: 0.3em;
}

/*.inlineTagEdit input[type="text"]:focus {*/
    /*outline: none;*/
/*}*/

.inlineTagEdit input[type="text"] {
    width: inherit;
    position: static;
    border: none;
}

.inlineTagEditTagSelection {
    vertical-align: bottom;
    padding-bottom: 0.2em;
    margin-left: 0.3em;
}

.inlineTagEditAutoCompleteWrapper {
    padding-bottom: 2em;
    width: 12em;
}

form.insitu-edit .inlineTagEditAutoCompleteWrapper input {
    margin: 0;
}

.tags-panel .short-view span.first-child {
    background: url('../../images/lecm-documents/components/tags-16.png') no-repeat 5px 5px;
}