.document-versions span.actions {
    float: none;
    display: inline-block;
    width: 238px;
    text-align: right;
}
.sidebar .thumbnailView, .sidebar .outlineView {
    padding:0 !important;
}