.container .document-preview {
	width: auto;
	overflow: hidden;
	padding: 1em 1em 0 0;
}
.container .document-preview > div {
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.container .document-preview .web-preview {
	height: 100%;
}
.container .document-preview.body .web-preview .previewer {
    border: none;
}
.container .document-preview.body .web-preview .previewer.WebPreviewer,
.container .document-preview.body .web-preview .previewer.Embed {
    height: 100% !important; /* чтобы переопределить инлайновые стили альфрески */
}

.container .document-metadata {
	width: 600px;
	float: left;
}
.container .document-metadata.without-preview {
	width: 100%;
}
.document-metadata .control .label-div,
.yui-panel-container.yui-dialog .control .label-div {
	text-align: right;
}