.metadata-form .set {
	overflow: hidden;
	padding-bottom: 0;
}
.metadata-form .set .yui-g {
    width: 100%;
    margin-left: 0;
}

.metadata-form-control {
	padding-top: 20px;
}

#main-region > div > div > div.form-container > div.form-fields {
	padding: 0;
}

.metadata-form .control.viewmode .value-div {
	margin-left: 10px;
	background-color: #f5f5f5;
	border: solid 1px #d2d2d2;
	padding-left: 5px;
	border-radius: 7px;

	font-size: 13px;
	color: #9d9d9d;
}

.metadata-form .control.viewmode .label-div {
	padding-right: 0;
}

.metadata-form .control.viewmode .label-div label {
	text-align: right;
	margin-right: 0;

	font-size: 13px;
	color: #303030;
}

.metadata-form .form-container .form-fields {
	padding-top: 0;
}