.document-rating {
    width: 150px;
    height: 95px;
    float: right;
    margin-right:2.99%;
    text-align: right;
}
.document-rating h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}
#rating {
    width: 105px;
    height: 21px;
    float: right;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}
#rating_blank,
#rating_votes,
#rating_hover {
    height: 21px;
    position: absolute;
}
#rating_blank {
    background: url('../../images/rating.png') repeat-x;
    width: 105px;
}
#rating_votes {
    background: url('../../images/rating.png') repeat-x 0 -21px;
}
#rating_hover {
    background: url('../../images/rating.png') repeat-x 0 -42px;
    display: none;
}
#rating_change {
    cursor: pointer;
    display: none;
}