.document-final-actions .doclist
{
	visibility: visible;
}

body.yui-skin-lecmTheme .document-final-actions .doclist .action-set a:hover {
	border: 1px solid #999;
}

div.document-final-actions {
    padding: 0 5px;
}
.document-final-actions .doclist .action-set a
{
	color: #333333;

	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	margin: 5px 0;
	padding: 3px 12px 3px 22px;
	border: 1px solid transparent;
	cursor: pointer;
	font: 13px Arial;
	font-style: normal;
	text-decoration: none;
}

.document-final-actions .doclist .action-set a:active,
.document-final-actions .doclist .action-set a:hover
{
	background-color: #ddd;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}