.attachments-set .attachment-category {
	padding-left: 1em;
    font: 13px;
}

.attachments-set .attachment-category .category-title {
	color: #9d9d9d;
	font-size: 13px;
}

.attachments-set .attachment-category ul.attachment li {
	padding: 5px 0;
}

.attachments-panel .short-view span.first-child {
	background: url('../../images/lecm-documents/components/attachments-16.png') no-repeat 5px 5px;
}