.container .document-preview {
	width: auto;
	overflow: hidden;
	padding-top: 13px;
}

.container .document-preview .web-preview {
	height: 100%;
    border: 1px solid #ccc;
}

.container .document-preview.body .web-preview .previewer.Embed {
    height: 100% !important; /* чтобы переопределить инлайновые стили альфрески */
}

.container .document-metadata {
	width: 600px;
	float: left;
}

.document-metadata .control .label-div {
	text-align: right;
}