.container .document-preview {
	width: auto;
	overflow: hidden;
	padding-top: 13px;
}

.container .document-preview .web-preview {
	height: 100%;
}

.container .document-metadata {
	width: 600px;
	float: left;
}

.document-metadata .control .label-div {
	text-align: right;
}