.history-grid {
    margin-left: 0.5%;
    padding: 0 1em;
}
.yui-panel .history-grid {
    margin: 0 5px;
}
.history-grid .datagrid .grid table th:first-of-type {
    min-width: 90px;
}
.history-grid .datagrid .show-archive-cb-div label.checkbox {
    margin-right: -5px;
}
.history-grid .show-archive-cb-div {
	text-align: right;
}
#form-history-status-content .datagrid .grid.yui-dt .yui-dt-data .yui-dt-rec.yui-dt-first.yui-dt-even .yui-dt-first .yui-dt-liner {
    white-space: normal;
}
.dashlet.document.bordered .datagrid .grid.yui-dt .yui-dt-data .yui-dt-rec.yui-dt-first.yui-dt-even .yui-dt-first .yui-dt-liner {
    white-space: normal;
}
.datagrid .grid.yui-dt .yui-dt-data .yui-dt-rec.yui-dt-first.yui-dt-even .yui-dt-first .yui-dt-liner {
    white-space: nowrap;
}

.history-panel .short-view span.first-child {
    background: url('../../images/lecm-documents/components/history-16.png') no-repeat 5px 5px;
}