.members-list {
    padding-top: 20px;
    margin: 0 10px;
}
.members-list .members-title {
    width: 100%;
    padding: 0;
}
.members-list .members-title .members-name {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.members-list .members-title  .member-add {
    text-align: right;
}

.members-list .detail-list-item .icon, .members-list .detail-list-item .avatar {
    float: left;
}

.members-list .detail-list-item .person {
    padding-left: 54px;
}

/* Dashlet styles */
.dashlet.members .detail-list-item {
    border-bottom: none;
    overflow: hidden;
}
.dashlet.members .detail-list-item:first-of-type {
    padding-top: 15px;
}
.dashlet.members .detail-list-item .avatar,
.dashlet.members .detail-list-item .avatar img {
    width: 40px;
    height: 40px;
}
.dashlet.members .detail-list-item .person > div {
    color: #969696;
    padding-left: 5px;
}

.members-table {
    width: 95%;
    margin-left: 3%;
}

.members-list .members-table .detail-list-item {
    width: 100%;
    height: 64px;
    position: relative;
    padding: 6px 4px;
    min-height: 64px;
}
.members-list .members-table .detail-list-item:hover {
    background-color: #F3F5FF;
}

/* avatar block */
.members-list .members-table .detail-list-item div.avatar,
.members-list .members-table .detail-list-item div.avatar img {
    text-align: center;
    height: 64px;
    width: 64px;
}

/* member block */
.members-list .members-table .detail-list-item .member {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #333333;
    float:left;
    padding: 6px 6px;
}

.members-list .members-table .detail-list-item .member h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* actions block */
.members-list .members-table .detail-list-item .member-actions {
    width: 20%;
    float: right;
    padding: 16px;
}

.members-list .members-table .member-actions div.list-action-set {
    text-align: left;
    color: #333333;
    visibility: hidden;
}

.members-list .members-table div.highlighted .member-actions div.list-action-set{
    visibility: visible;
}

.members-table div.member-actions div.list-action-set a.list-action-link {
    background: no-repeat 4px 1px;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;

    color: #2B6EB5;
    cursor: pointer;
}

.members-table div.member-actions div.list-action-set a.list-action-link:hover
{
    border: 1px solid #2b6eb5;
    text-decoration: none;
}

.members-table div.member-actions div.list-action-set .onActionDelete a {
    background-image:url(../../components/documentlibrary/actions/document-delete-16.png);
}
