.document-versions span.actions {
    float: none;
    display: inline-block;
    width: 238px;
    text-align: right;
}
.sidebar .yui-navset.yui-navset-top .thumbnailView.documentView {
    padding: 0;
}