.control.document-table-control .label-div ~ .document-table-width {
	width: 100%;
}
.control.document-table-control .value-div .datagrid .grid.yui-dt .yui-dt-data td {
	vertical-align: top;
}
.control.document-table-control .value-div .datagrid .grid.yui-dt .yui-dt-data td > div {
	word-break: break-all;
	word-break: break-word;
}

.control.document-table-control .datalist-toolbar .header-bar {
    height: 30px;
    background: #c5c5c5;
    margin: 0;
    padding: 0;
}