.yui-skin-lecmTheme .metadata-form .yui-gb .yui-u,
.yui-skin-lecmTheme .metadata-form-edit .yui-gb .yui-u {
    width: 31%;
}

.yui-skin-lecmTheme .metadata-form .yui-gb .yui-u {
    float: left;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .set {
	padding-bottom: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-u {
	padding: 0;
}