.connections-list {
	margin: 0 10px;
}
.connections-list .connections-title {
	width: 100%;
	padding: 0 .4em .4em;
}
.connections-list .connections-table {
	width: 100%;
}
.connections-list .connections-title .connections-name {
	color: #666666;
	font-family: Arial;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
}

.connections-list .connections-title  .connections-add {
	text-align: right;
}

.connections-list tr.border-bottom td {
	border-bottom: 1px solid #E4E4E4;
}

.connections-list .detail-list-item td.icon {
	width: 70px;
}

.connections-list .detail-list-item .connection {
	padding-left: 20px;

	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.connections-list .detail-list-item .connection .connection-name {
	padding-left: 20px;
}

.connections-list .detail-list-item .connection .connection-name div.document-name {
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
}

.connections-list .detail-list-item .list-actions-td {
	width: 200px;
}

.list-actions-td div.list-action-set {
	text-align: left;
	color: #333333;
	visibility: hidden;
}

.connections-list tr.highlighted .list-actions-td div.list-action-set{
	visibility: visible;
}

.list-actions-td div.list-action-set div {
	margin: 0;
}

div.list-action-set a.list-action-link {
	background-position: 4px 1px;
	background-repeat: no-repeat;
	border: 1px solid transparent;
	display: block;
	min-height: 16px;
	padding: 2px 0 2px 24px;

	color: #2B6EB5;
	cursor: pointer;
}

.connections-list .detail-list-item:hover {
	background-color: #F3F5FF;
}

div.list-action-set a.list-action-link:hover
{
	border: 1px solid #2b6eb5;
	text-decoration: none;
}

div.list-action-set .onActionDelete a {
	background-image:url(/share/res/components/documentlibrary/actions/document-delete-16.png);
}

.connections-list .space {
	padding-top: 2em;
}

.connections-list .system-connection {
	color: red;
}

.connections-list .graph-tree table {
    width: 100%;
}
.connections-list .graph-tree table,
.connections-list .graph-tree table tbody {
    outline: none;
}

/*.connections-list .dont-have-access,*/
.connections-list .dont-have-access .theme-color-1,
/*.doc-right-part .document-connection-set .dont-have-access,*/
.doc-right-part .document-connection-set .dont-have-access .text-cropped,
.graph-tree-liner .item-description .dont-have-access a{
	color: grey;
}
