.members-list {
    padding-top: 20px;
}
.members-list .members-title {
    width: 100%;
    padding: 0 .4em .4em;
}
.members-list .members-title .members-name {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding-left: 1em;
}

.members-list .members-title  .member-add {
    text-align: right;
}

.members-list .detail-list-item .icon, .members-list .detail-list-item .avatar {
    float: left;
}

.members-list .detail-list-item .person {
    padding-left: 54px;
}

.members-table {
    width: 95%;
    margin-left: 3%;
}

/* Dashlet styles */
.dashlet.members .detail-list-item {
    border-bottom: none;
    overflow: hidden;
}
.dashlet.members .detail-list-item:first-of-type {
    padding-top: 15px;
}
.dashlet.members .detail-list-item .avatar,
.dashlet.members .detail-list-item .avatar img {
    width: 40px;
    height: 40px;
}
.dashlet.members .detail-list-item .person > div {
    color: #969696;
    padding-left: 5px;
}

div.list-action-set .onActionDelete a {
    background-image:url(/share/res/components/documentlibrary/actions/document-delete-16.png);
}

.members-list .detail-list-item:hover {
    background-color: #F3F5FF;
}

div.list-action-set a.list-action-link:hover
{
    border: 1px solid #2b6eb5;
    text-decoration: none;
}

div.list-action-set a.list-action-link {
    background-position: 4px 1px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;

    color: #2B6EB5;
    cursor: pointer;
}
.members-list tr.highlighted .list-actions-td div.list-action-set{
    visibility: visible;
}

.list-actions-td div.list-action-set div {
    margin: 0;
}

.members-list .detail-list-item td.avatar, .members-list .detail-list-item td.avatar img {
    width: 64px;
    height: 64px;
}

.members-list {
    margin: 0 10px;

}
.members-scrollable {
    overflow-x: auto;
}

.members-list .detail-list-item .member {
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}

.members-list .detail-list-item .list-actions-td {
    width: 200px;
}

.members-list tr.border-bottom td {
    border-bottom: 1px solid #E4E4E4;
}

.members-list .members-table tr {
    height: 64px;
}

.members-list .list-actions-td div.list-action-set {
    text-align: left;
    color: #333333;
    visibility: hidden;
}
