.document-header {
    background: #f2f2f2;
    border-radius: 7px 7px 0 0;
}

.document-header h1 {
    padding: 0.5em 1em 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.document-header .document-version {
	margin-left: 5px;
	background-color: white;
	color: black;
	border: 1px solid black;
	font-size: 13px;
}

.document-header h1.breadcrumb {
	float: left;
	padding: 0.5em 0.2em 0.2em 0.5em;
	margin-top: 6px;
}

.document-header .document-modified-info {
	margin-left: 0.8em;
	position: relative;
	font-size: 13px;
	font-weight: normal;
}

.document-header .second-row {
	padding: 5px 8px 8px;
}

.document-header .document-info {
    float: left;
    width: 78%;
    padding: 0.2em;
	box-sizing: border-box;
}

.document-header .document-info h1 > a:not(:empty),
.document-header .document-info h1 > span:not(:empty) {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}
.document-header .document-info h1 > a,
.document-header .document-info h1 > a:not(:empty) {
	display: none;
}

.document-header .document-attachment-info {
	float: left;
	width: 100%;
}

.document-header .status-banner {
    margin-top: 0.75em;
    padding: 0.5em 1em;
}

.document-header .document-action {
    float: right;
    width: 20%;
    text-align: right;
    padding: 0.5em;
	box-sizing: border-box;
}

.document-header .document-action div span.yui-button span.first-child {
    border: 1px solid;
}
.document-header .document-action div span.yui-button span.first-child button {
    padding: 0 13px;
}
.document-header .document-action .subscribe-header span.first-child {
    background: url('../../images/lecm-subscriptions/alf_subscribe_16.png') no-repeat 5px 5px;
}
.document-header .document-action .unsubscribe-header span.first-child {
    background: url('../../images/lecm-subscriptions/alf_unsubscribe_16.png') no-repeat 5px 5px;
}
.document-header .document-action .admin-tools-right span.first-child {
    background: url('../../images/lecm-documents/alf_transmit_document_16.png') no-repeat 5px 5px;
}
.document-header .document-action .favorite span.first-child {
	background: url('../../components/images/star-deselected_16x16.png') no-repeat 5px 5px;
}
.document-header .document-action .favorite.enabled span.first-child {
	background: url('../../components/images/star-selected_16x16.png') no-repeat 5px 5px;
}
.document-header .document-action .copy span.first-child {
    background: url('../../images/lecm-documents/copy_document_16.png') no-repeat 5px 5px;
}

.document-header .attachment-thumbnail {
    float: left;
    padding: 0.1em 0.5em 0.1em 0;
    margin-top: 6px;
}

.admin-tools-right,
.subscribe-header,
.unsubscribe-header,
.copy,
.favorite {
    float: right;
}
