.document-admin-dynamic-roles-body {
    padding: 3px 1em;
}
.document-admin-dynamic-roles-body .dynamic-role {
    margin: 10px 0;
}
.document-admin-dynamic-roles-body .dynamic-role-employees {
    padding-left: 2em;
}
.document-admin-dynamic-roles-body .dynamic-role-employees > div {
    margin: 5px 0;
}
.document-admin-dynamic-roles-body .dynamic-role .dynamic-role-add-employee,
.document-admin-dynamic-roles-body .dynamic-role .dynamic-role-remove-employee {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    opacity: .8;
}
.document-admin-dynamic-roles-body .dynamic-role .dynamic-role-add-employee {
    background: url("../../images/lecm-documents/approval/alf_plus_grey_16.png") left top no-repeat;
}
.document-admin-dynamic-roles-body .dynamic-role .dynamic-role-remove-employee {
    background: url("../../images/lecm-documents/approval/alf_minus_grey_16.png") left top no-repeat;
}
