.attachment-list {
	clear: both;
	margin-left: 10px;
}

.attachment-list .category-title {
	width: 100%;
    padding: 0 .4em .4em;
}

.attachment-list .category-title .category-name {
	text-align: left;
	font: 20px Arial;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}

.attachment-list .category-title .category-upload {
	text-align: right;
}

.attachment-list a:hover {
	text-decoration: none;
}

.attachment-list span.separator {
    position: relative;
    left: -2px;
    top: -4px;
    border-right: 1px dotted #c7ccce;
	border-top: medium none;
	margin: 0 4px;
	padding: 2px 0;
	vertical-align: bottom;
}

/* Data Table */

.attachment-list .documents table {
	border: medium none;
	width: 100%;
}

.attachment-list .documents table td.yui-dt-col-fileName {
    word-break: break-all;
}

.attachment-list .documents thead
{
	display: none;
}

.attachment-list .documents tbody
{
	outline: none;
}

.attachment-list .documents .yui-dt table
{
	border: none;
}

body .attachment-list tr.yui-dt-highlighted
{
	cursor: auto;
}

.attachment-list tr.yui-dt-odd
{
	background-color: #ffffff;
}

.attachment-list tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
.attachment-list tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
	border-left: 1px solid #c5e6e9;
}

.attachment-list .documents.yui-dt .yui-dt-data td
{
	border-bottom: 1px dashed #d9d9d9;
	border-right: medium none;
	vertical-align: top;
}

.attachment-list .documents.yui-dt .yui-dt-data .yui-dt-last td
{
	border-bottom: medium none;
}

.attachment-list .documents.yui-dt tr.yui-dt-first td
{
	border-top: medium none;
}

.attachment-list .documents.yui-dt td.yui-dt-last
{
	border-left: 1px solid #fff;
	vertical-align: middle;
}

.attachment-list .yui-dt-liner
{
	padding: 4px;
}

.attachment-list .yui-dt-col-thumbnail .yui-dt-liner
{
	text-align: center;
}

.attachment-list .documents.yui-dt tr.yui-dt-first td.yui-dt-empty
{
	border-right: medium none;
	cursor: default;
}

.attachment-list .yui-dt-error
{
	background: red;
	color: white;
	font-weight: bold;
	margin: 1em auto;
	padding: 1em;
}

/* This rule is vital to workaround a Firefox mouseout bug */

.attachment-list .yui-dt-col-4
{
	overflow: visible;
}

/* Cell Renderers */

.attachment-list span.folder
{
	display: block;
	position: relative;
}

.attachment-list .documents .icon32
{
	cursor: pointer;
	display: block;
	min-height: 32px;
}

.attachment-list .documents .icon32 span.link,
.attachment-list .documents .folder-small span.link
{
	background: url(../../components/documentlibrary/images/link-16.png) no-repeat;
	height: 16px;
	width: 16px;
	position: absolute;
}

.attachment-list .documents .folder-small span.droppable
{
	background: url(../../components/images/drop-arrow-left-small.png) no-repeat;
	display: none;
	height: 14px;
	position: absolute;
	width: 34px;
	z-index: 1;
	margin-left: 20px;
}

.attachment-list .documents .thumbnail
{
	cursor: pointer;
	display: block;
	height: 90px;
	overflow: hidden;
	padding-top: 2px;
	position: relative;
	width: 100px;
}

.attachment-list .documents .thumbnail span.link,
.attachment-list .documents .folder span.link
{
	background: url(../../components/documentlibrary/images/link-32.png) no-repeat;
	height: 32px;
	width: 32px;
	position: absolute;
}

.attachment-list .documents .folder span.droppable
{
	background: url(../../components/images/drop-arrow-left-large.png) no-repeat;
	display: none;
	height: 25px;
	position: absolute;
	width: 60px;
	z-index: 1;
	margin-left: 40px;
}

.attachment-list .documents h3.filename
{
	font-size: 139%;
	font-weight: normal;
	padding-bottom: 0.2em;
	padding-left: 20px;
}

.attachment-list .documents h3.filename span.title
{
	color: #606060;
	font-size: 82%;
	padding-left: 0.7em;
}

.attachment-list .documents h3.filename span.document-version
{
	margin-left: 0.8em;
	padding: 1px;
	position: relative;
	top: -2px;
	visibility: hidden;
}

.attachment-list .documents .yui-dt-highlighted h3.filename span.document-version
{
	visibility: visible;
}

.attachment-list .documents
{
	color: #333333;
	margin: 0;
}

.attachment-list .documents a
{
	color: #2B6EB5;
	cursor: pointer;
}

.attachment-list .documents a:active,
.attachment-list .documents a:hover
{
	text-decoration: underline;
}

.attachment-list .documents .rename-file
{
	background-color: #e8e8e8;
	border: 1px solid #808080;
	cursor: pointer;
	float: left;
	margin-left: 2em;
	position: relative;
	top: -2px;
}

.attachment-list .documents .detail
{
	clear: left;
	line-height: 1.5em;
	min-height: 1.5em;
	padding-bottom: 0.2em;
	padding-left: 20px;
}

.attachment-list .documents .detail .faded
{
	color: #aaa;
}

.attachment-list .documents .detail em
{
	font-style: normal;
	font-weight: bold;
}

.attachment-list .documents .detail span.item
{
	float: left;
	margin-right: 1.6em;
}

.attachment-list .documents .detail span.item-social
{
	line-height: 1.2em;
	margin-right: 0.8em;
	margin-top: 0.4em;
}

.attachment-list .documents .detail span.item-simple
{
	padding-right: 0.5em;
}

.attachment-list .documents .detail span.tag
{
	float: left;
	margin: 1px 0;
}

/* Categories */

.attachment-list .documents .detail span.category-item
{
	background-image: url(../../components/documentlibrary/images/category-16.png);
	background-position: 0px 2px;
	background-repeat: no-repeat;
	margin-right: 0;
	padding-bottom: 2px;
	padding-left: 18px;
}

/* Social tagging customisations */

.attachment-list .documents .detail a.comment
{
	background-image: url(../../components//images/comment-16.png);
}

/* Document Info Banner */

.attachment-list .info-banner
{
	background-color: #ffffe0;
	background-image: url(../../components/documentlibrary/images/warning-16.png);
	background-position: 6px 4px;
	background-repeat: no-repeat;
	border: 1px solid #ffca7a;
	clear: left;
	color: #888;
	font-weight: bold;
	margin-bottom: 4px;
	padding: 5px 0px 3px 28px;
}

/* Tags */

.attachment-list .documents .detail a.tag-link
{
	border-radius: 8px;
	font-size: 93%;
	margin-right: 0.5em;
	padding: 2px 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

/* Actions Rollover */

.attachment-list .documents .hidden
{
	visibility: hidden;
}

/* Actions */

.attachment-list div.more-actions
{
	background-color: #fff;
	border: 1px solid #2b6eb5;
	clear: left;
	margin-left: -22px;
	margin-top: 1px;
	position: absolute;
	width: 220px;
	z-index: 1;
}

.attachment-list .more-actions a.action-link,
.attachment-list .more-actions a.simple-link
{
	border: 1px solid #fff;
}

.attachment-list .more-actions a:active,
.attachment-list .more-actions a:hover
{
	background-color: #2b6eb5;
	border: 1px solid #2b6eb5;
	color: #fff;
}

/* Actions: Simple view */

.attachment-list div.simple div
{
	float: left;
}

.attachment-list div.simple div.onActionShowMore
{
	clear: both;
	float: none;
}

.attachment-list div.simple a.action-link span,
.attachment-list div.simple a.simple-link span
{
	display: none;
}

.attachment-list div.simple div.more-actions
{
	margin-left: -142px;
}

.attachment-list div.simple div.more-actions div
{
	float: none;
}

.attachment-list div.simple div.more-actions a.action-link span,
.attachment-list div.simple div.more-actions a.simple-link span
{
	display: block;
}

/* Actions: Icons */

.attachment-list .action-set a
{
	background-image: url(../../components/documentlibrary/actions/default-16.png);
}

.attachment-list .internal-show-more a
{
	background-image: url(../../components/documentlibrary/images/plus-sign-16.png);
}

/* Drag and Drop */

.dndFolderHighlight img
{
	background-color: #dceaf4;
	outline: 2px solid #4F94C9;
	padding: 2px;
	position: relative;
	top: -2px;
}

.dndDocListHighlight
{
	outline: 2px solid #4F94C9;
	outline-offset: -2px;
}

.docListInstructions
{
	background-color: white;
	color: #515D6B;
	padding: 10px;
}

.docListInstructionsWithDND
{
	background-color: white;
	border: 1px dashed #73B4DA;
	color: #515D6B;
	padding: 10px;
}

.docListInstructionColumn
{
	float: left;
	width: 45%;
}

.docListInstructionColumnRightBorder
{
	border-right: 1px solid #D9D9D9;
	padding-right: 30px;
	margin-right: 10px;
}

.docListInstructions > div
{
	clear: both;
}

.docListInstructionImage
{
	float: left;
	padding: 0 10px;
	vertical-align: middle;
}

.docListLinkedInstruction
{
	cursor: pointer;
}

.docListInstructionTitle
{
	display: block;
	font-size: 167%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.docListInstructionText
{
	font-size: 123%;
	margin-top: 10px;
	display: block;
}

.docListInstructionTextSmall
{
	margin-top: 15px;
	display: block;
}

.docListOtherOptions
{
	display: block;
	font-size: 146.5%;
	margin-top: 10px;
	padding-left: 10px;
	padding-top: 30px;
}

.docListOtherOptionsImage
{
	padding: 10px 6px 0 10px;
	vertical-align: middle;
}

.docListOtherOptionsText
{
	font-size: 108%;
	margin-top: 10px;
}

.inlineTagReadOnly
{
	background-color: #DCEAF4;
	color: #4F94C9;
	padding: 0.1em 0.3em;
	margin-right: 0.5em;
}

.inlineTagEdit
{
	border: 1px solid #C5D6E2;
	font-weight: normal;
	padding: 0.3em;
	background-color: white;
}

.inlineTagEditTag
{
	background-color: #EEE;
	color: #333;;
	padding: 0.1em 0.3em;
	margin-right: 0.3em;
	margin-bottom: 0.3em;
	display: inline-block;
	cursor: pointer;
}

.inlineTagEditTagPrimed
{
	background-color: #DCEAF4;
	color: #4F94C9;
}

.inlineTagEditTag img
{
	vertical-align: bottom;
	padding-bottom: 0.2em;
	margin-left: 0.3em;
}

/*.inlineTagEdit input[type="text"]:focus*/
/*{*/
	/*outline: none;*/
/*}*/

.inlineTagEdit input[type="text"]
{
	width: inherit;
	position: static;
	border: none;
}

.inlineTagEditTagSelection
{
	vertical-align: bottom;
	padding-bottom: 0.2em;
	margin-left: 0.3em;
}

.inlineTagEditAutoCompleteWrapper
{
	padding-bottom:2em;
	width: 12em;
}

/* show previewer button */
.lecm-dashlet-actions .show-previewer
{
	background: url("../../images/lecm-documents/show-preview-16.png") no-repeat no-repeat;
	padding-right: 16px;
	font-size: 16px;
	margin-left: 10px;
}