.status-string {
	background-color: #ccc;
	text-align: center;
    position: fixed;
    padding: 10px 0;
    border: 1px solid #6c6c6c;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.status-string textarea {
    resize: none;
}