.datagrid .onActionDeleteNDSection a, .datagrid .onActionDeleteND a, .datagrid .onActionDeleteNomenclatureYear a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARhJREFUeNqsU7utwkAQPF8F0IHJkaABJDqghEfk2B0AHTi1I7sEOjiJBngSOXQAHZgZNGutHBAAJ41s7c5+bnYv6/s+jE/TNDk+ayCX6QakoihuY27mEyhwD/wBR+As1xLYAB39PtGQAMEkJaAV6THqaqLkW3YH/3lIoMo0lHC04c0BlwkqdsVOouzM3FowSHtVHKrTxn9xWsWErK5rVr8CU7Yt4g74l5BBV1sAB3As+R2YRZGO7s6VghlwEhayVeriIZHXUaMytc3JpBdgLlwknBeWMXkMX56oJVmOxpVcZeskeWEV85oCyRvnLN2dV4JpUroiXKwUtVWdjYUqU227s9PkIJ+NvWPs14v0m1X+yWP69Dk/BRgAYruwtxyR/i4AAAAASUVORK5CYII=);
}

.datagrid .onActionCopyNDSection a, .datagrid .onActionCopyNomenclatureCase a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFtJREFUeNpi/P//PwMlgAWXxKxZs1BMTktLY8SmjpHqLkC3GR2gu4R6LiBkMy6XsBATUPi8yUKK/2kXC+TYDPMyC6n+R/cuWWGAbBkTA4WArGikSkKiWjQCBBgA/cUx7hnIcq0AAAAASUVORK5CYII=);
}

.datagrid .onActionMoveNDSection a, .datagrid .onActionMoveNomenclatureCase a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPVJREFUeNqsU8ENgzAMDBEDMAIjdAQ2oBuQF++O0BH65hU2KBtkBEZghG6QnqsjitxSpBZLFmD7zia+FDFGo20YhhqPBl4ztMBD3/eLri1yAgKv8A4+wWemTvAWPko+J0oEAEtRgHsWPdRUFcmdTIf8nAjYWQIXJLz5YqgVgptMJZNYxoXZazCK38hY44kxlt27NaDA3cYgr3MSrOVpT/k/74ANa+WQm5KrmrfA+I4KXPBVMLU1f1pJkZyzDg5dzTpF1lGbrP1uufuWe04kFM3WKisKK1iqatRb2CGR2lHrwFEkmuSTkNza8BgpH3KZfr3OTwEGAGbnkribwlHEAAAAAElFTkSuQmCC);
}

.datagrid .onActionMarkToDeleteNomenclatureCase a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAONJREFUeNpi/P//PwMlgIWQglmzZi0AUgZA7JCWlvYBXZ6JCM3xQKwPxBOwqWEiQjODsLAwAxsbWzxUjLAB6Jp9fX0ZpKSkQFwMQ5iI0Xzs2DGGBw8eYHUJEzGab926hdMlTKRohrkEwwvImnl5eXFqBvGhYCEwShOQ00E8TObz588MmzdvZnj79i1BzRhhAAwgMA3SjO4SbJpRDADZFhUVxaCmpobiEnyaUQxwd3cHu8DBwQFsO8wl+DSjGLBz506GX79+MRw4cABsOxLAqRkEGEG5ERgLuLIkXs1wAygBAAEGADqwljzv6RKRAAAAAElFTkSuQmCC);
}

.datagrid .onActionDestroyNomenclatureCase a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNpi/P//PwMlgAWb4KxZswyA1HkkoY9AbJCWlvYAXS0TDoMFgPggUAMjCAPZ/ECsgE0hI7IXgDYXAKkAkG1QTQxorrgAxBuAhk7A5YV+PN4FGWgPxRNweaERiC/iMeQiVA3OQDwAdSYIf4B6hQHKF4DyP+AzABRQ8wnEXCK+WHhARNQ/ICYaiQaDzwCSw4ARPTMBUyPe3AVN2ni9AEooD7GIP0RPRFhdQCoACDAANH8xs1k1kS0AAAAASUVORK5CYII=);
}

.datagrid .onActionOpenND a, .datagrid .onActionApproveNomenclatureYear a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARZJREFUeNqsUzEOgkAQPJBY20pFbaMJH6AzVthaiQ21paX+wJpGrrKVH/ABEvwBT6C0w1kzIeSCmKiXTC65ndmdvduzmqZR5kqSxMMWAB6PKiCP47gyuVY3AYVHYAtkQMnQAggBLfFuojYBxELKgZSk2nA1YfJI3CFetglYWQ72CKRqYIErCc7iSpw4PJfM6ZCYDkS4Z0svNyPXdaX6BVj5vv8YEEt7S2AKHIBrURTa5m1nZs894jlwZ5s1Lzlw+FSlQS5BinrEQaeQaDzHKBiQPId4jH32Rtwum0Mil6JAuGHbMbb5IBZNZdNiSLuKL5GR1CsmVwYrtzlVms+imGSN7fTONrlatD8P0n9G+S+f6dvv/BRgAHlVqn8B4QmQAAAAAElFTkSuQmCC);
}

.datagrid .onActionCloseND a, .datagrid .onActionCloseNomenclatureYear a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASVJREFUeNqck78KgzAQxq8pJItOboLQQejarWs3J19D+j5dilufwcnNsR2EvoAgOAsFB6lF7MWexdrUigcfwT/fL3eXy6JpGhiG7/srXHaoFb1KUZHneenw30UfQMYjygF1hKh9H/QGoHnDOT/rui7yPIeRqFBbhFzlA+t2RvPFdV2BAsMwxgAcdaZsXwBKm7dfOYcJEEEeWJqmKUmHuq4hSRKwLAuwDLBtG7Isg7Isf0HsOI5PjLr9Kq6qIAgCkD2YmMmO9Y5qDmTDlG0eQBzHaVdF3BgNyShE07Q2EwUklYDo54H3ILIMBSRiNFXhDEgovV0P9qj7FIg8YiHEgzyfo4zLpRso5QjizmiuiqL4HGUZ9GL9p5wQzevO/HUb51znpwADANcKo+TitthGAAAAAElFTkSuQmCC);
}

.datagrid .onActionArchiveND a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASVJREFUeNqck78KgzAQxq8pJItOboLQQejarWs3J19D+j5dilufwcnNsR2EvoAgOAsFB6lF7MWexdrUigcfwT/fL3eXy6JpGhiG7/srXHaoFb1KUZHneenw30UfQMYjygF1hKh9H/QGoHnDOT/rui7yPIeRqFBbhFzlA+t2RvPFdV2BAsMwxgAcdaZsXwBKm7dfOYcJEEEeWJqmKUmHuq4hSRKwLAuwDLBtG7Isg7Isf0HsOI5PjLr9Kq6qIAgCkD2YmMmO9Y5qDmTDlG0eQBzHaVdF3BgNyShE07Q2EwUklYDo54H3ILIMBSRiNFXhDEgovV0P9qj7FIg8YiHEgzyfo4zLpRso5QjizmiuiqL4HGUZ9GL9p5wQzevO/HUb51znpwADANcKo+TitthGAAAAAElFTkSuQmCC);
}

.datagrid .onActionEditExt a
{
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJdJREFUeNpi/P//PwMlgIkUxbNmzVoAwmQZANUYD8LIhjCRqBkG4IYwkaGZ+DDAo3lhWlpaAl4DiNGM0wBiNWM1gBTNpEQjVs0gwIJkM0iBA0ghkM2A5AqcmlEMAAKQInuQZiRDGPBpBgFGUF4AKlYAsu8T42RcYVCAJHYQiA8Qm8RhXggA4olAPAFo8wNSMhgjpdkZIMAAdFRMXo75bNwAAAAASUVORK5CYII=);
}
.datagrid .action-set .onActionPrintReport a
{
    background: url("../../components/images/printer-16.png") no-repeat;
}
