.attributes table {
	width: 100%;
}

.attributes .delete-td {
	width: 1px;
}

.attributes .value-td {
	width: 1px;
}

.attributes .yui-dt-liner .delete {
	display: block;
	background: url(/share/res/components/images/delete-16.png) no-repeat center center;
	cursor: pointer;
	min-height: 16px;
}

.attributes .yui-dt-liner .attribute {
	width: 100%;
}

.attributes .yui-dt-liner .value {

}

.attributes .yui-dt-liner .value .label-div {
	display: none;
}
