.doc-right-part {
	width: 300px;
	float: right;
	word-wrap: break-word;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #f2f2f2;
}

.widget-panel-grey {
	background-color: #ccc;
	border-radius: 5px;
	padding: 0.8em 5px;
}

.widget-button-grey {
	margin: 5px 0;
	padding: 3px 12px;
	border: 1px solid transparent;
	cursor: pointer;
	font-style: normal;
	text-decoration: none;
}

.widget-button-grey:hover {
	background-color: #ddd;
	border: 1px solid #999;
	border-radius: 5px;
}

.text-cropped {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
