.attributes table {
	width: 100%;
}

.attributes .delete-td {
	width: 1px;
	vertical-align: top;
	padding-top: 9px;
}

.attributes .attribute-td {
	vertical-align: top;
	padding-top: 3px;
}

.attributes .value-td {
	width: 400px;
	max-width: 400px;
}

.attributes .attribute-option:disabled {
	display: none;
}

.attributes .yui-dt-liner .delete {
	display: block;
	background: url(../../../../components/images/delete-16.png) no-repeat center center;
	cursor: pointer;
	min-height: 16px;
}

.attributes .yui-dt-liner .attribute {
	width: 100%;
	height: auto;
	min-height: 28px;
	border: 1px solid #ccc;
	resize: none;
}

.attributes .yui-dt-liner .value {

}

.attributes .yui-dt-liner .value .label-div {
	display: none;
}

.attributes tr.yui-dt-rec.yui-dt-even, tr.yui-dt-rec.yui-dt-odd {
	background-color: #fff !important;
}
