.dashlet.document a,
.dashlet.document a:hover,
.dashlet.document a:visited {
    color: #0600cc;
}
.dashlet.document.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.document .toolbar {
    white-space: nowrap;
}
.dashlet.document .body .row {
	line-height: 16px;
	margin: 10px;
}

.dashlet .titleBarActions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.lecm-dashlet-actions {
    left: 4em;
}

.dashlet .lecm-dashlet-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.dashlet-metadata .lecm-dashlet-actions .edit {
    background-image: url("/share/res/components/profile/images/edit.png");
    background-repeat: no-repeat;
    padding-right: 13px;
}

.dashlet .lecm-dashlet-actions-right {
	float: right;
}

.dashlet select.attachment-categories-select {
	font-size: 13px;
	padding: 0;
}

.dashlet-metadata .lecm-dashlet-actions {
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 3px;
    width: 16px;
    padding-right: 15px;
}

.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.3em;
    text-decoration: none;
}

.yui-u .dashlet .dashlet-title {
    background-color: #515151;
}

.dashlet .title span {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

.dashlet-task {
    margin-left: 5px;
    margin-right: 50px;
    margin-top: 6px;
    margin-bottom: 10px;
}

/***********My tasks dashlet*************/
.dashlet-task-main-text {
    clear: both;
    margin-left: 20px;
    padding-top: 5px;
}

.dashlet-task-title {
    font-weight: bold;
    color: #6CA5CE;
}

.dashlet-task-date {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    float: left;
    margin-left: 12px;
}

.dashlet-task-status {
    font-size: 9px;
    font-weight: bold;
    text-align: right;
    float: right;
}

.WORKFLOWTASKSTATE_NA {
    display: none;
}

.WORKFLOWTASKSTATE_OVERDUE {
    color: #FF0000;
}

.WORKFLOWTASKSTATE_NEW {
    color: #006600;
}

.WORKFLOWTASKSTATE_SOON {
    color: #CC6600;
}

.dashlet-task-total-tasks {
    font-size: 13px;
    font-weight: normal;
    float:right;
}

.dashlet .title span.dashlet-task-total-tasks-count {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.datagrid .action-set .onActionViewContent a {
	background-image: url(/share/res/components/documentlibrary/actions/document-view-content-16.png);
}
