.dashlet.document a,
.dashlet.document a:hover,
.dashlet.document a:visited {
    color: #0600cc;
}
.dashlet.document.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.document .toolbar {
    white-space: nowrap;
}
.dashlet.document .body .row {
	line-height: 16px;
	margin: 10px;
}

.dashlet .titleBarActions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.lecm-dashlet-actions {
    margin-left: 1em;
}

.dashlet .lecm-dashlet-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.dashlet-metadata .lecm-dashlet-actions .edit {
    background-image: url("/share/res/components/profile/images/edit.png");
    background-repeat: no-repeat;
    padding-right: 13px;
}

.body.scrollableList.dashlet-body{
    position: relative;
}

.body.scrollableList.dashlet-body:hover .edit{
    background: url("/share/res/components/profile/images/edit.png") no-repeat scroll 2px 2px transparent;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 5px;
    width: 20px;
}

.dashlet .lecm-dashlet-actions-right {
	float: right;
}

.dashlet select.attachment-categories-select {
	font-size: 13px;
	padding: 0;
    width: 12em;
}

.dashlet-metadata .lecm-dashlet-actions {
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 3px;
    width: 16px;
    padding-right: 15px;
}

.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.3em;
    text-decoration: none;
}

.yui-u .dashlet .dashlet-title {
    background-color: #515151;
    border-radius: 4px 4px 0px 0px;
}

.yui-u .dashlet .dashlet-body {
    padding: 0em 1em 0em 1em;
    height: 165px;
}

.yui-u .dashlet .dashlet-body .datagrid {
    padding: 0.5em 0em 0.5em 0em;
}

.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt .yui-dt-data td{
    border-bottom: 0;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt th {
    border-bottom: 0;
}

.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt table {
    border: 0;
}

.dashlet .title span {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.yui-skin-lecmTheme .datagrid .grid.yui-dt {
    white-space: normal;
}
/***********Workflow tasks *************/

.workflow-task-status {
    font-size: 9px;
    font-weight: bold;
    text-align: right;
}

.workflow-task-main-text {
    padding-top: 5px;
}

.workflow-task-title {
    font-weight: bold;
}

.dashlet .my-task {
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 15px;
}

.dashlet .workflow-date {
    float: left;
}

.dashlet .workflow-task-main-text {
    padding-left: 9px;
}

.dashlet .total-tasks-count {
    font-size: 13px;
    font-weight: normal;
    float:right;
}

.dashlet .title .total-tasks-count span {
    font-size: 13px;
    text-decoration: underline;
}

/******************************************/

.datagrid .action-set .onActionViewContent a {
	background-image: url(/share/res/components/documentlibrary/actions/document-view-content-16.png);
}

.datagrid .action-set .onActionUploadNewVersion a {
	background-image: url(/share/res/components/documentlibrary/actions/document-upload-new-version-16.png);
}