.dashlet.document a,
.dashlet.document a:hover,
.dashlet.document a:visited {
    color: #0600cc;
}
.dashlet.document.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.document .toolbar {
    white-space: nowrap;
}
.dashlet.document .body .row {
	line-height: 16px;
	margin: 10px;
}

.yui-gd .yui-u .column2 {
    width: 49%;
}

.first .yui-gd div.column1 {
     width: 49%;
 }

.first .yui-gd div.column2 {
    width: 49%;
}

.dashlet .titleBarActions .view {
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
}

.dashlet .titleBarActions .collapse {
    background-image: url("/share/res/images/lecm-documents/collapse-16.png");
}

.dashlet .titleBarActions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
}

.alfresco-twister-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-decoration: none;
}

.alfresco-twister-actions {
    position: absolute;
    right: 1em;
}

.lecm-dashlet-actions {
    left: 4em;
}

.dashlet .lecm-dashlet-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
}

.document-metadata-header h2 .expand {
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
}
.document-metadata-header h2 .view {
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
}

.alfresco-twister-closed .alfresco-twister-actions {
    display: inline;
}

.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 1em;
    text-decoration: none;
}