.dashlet.document a,
.dashlet.document a:hover,
.dashlet.document a:visited {
    color: #0600cc;
}
.dashlet.document.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.document .toolbar {
    white-space: nowrap;
}
.dashlet.document .body .row {
	line-height: 16px;
	margin: 10px;
}

.dashlet .titleBarActions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.lecm-dashlet-actions {
    left: 4em;
}

.dashlet .lecm-dashlet-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.dashlet-metadata .lecm-dashlet-actions .edit {
    background-image: url("/share/res/components/profile/images/edit.png");
    background-repeat: no-repeat;
    padding-right: 13px;
}

.dashlet .lecm-dashlet-actions-right {
	float: right;
}

.dashlet select.attachment-categories-select {
	font-size: 13px;
	padding: 0;
}

.dashlet-metadata .lecm-dashlet-actions {
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 3px;
    width: 16px;
    padding-right: 15px;
}

.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.3em;
    text-decoration: none;
}

.yui-u .dashlet .dashlet-title {
    background-color: #515151;
}

.dashlet .title span {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}

/***********Workflow tasks *************/

.WORKFLOWTASKTYPE_NA {
    display: none;
}

.WORKFLOWTASKTYPE_OVERDUE {
    color: #FF0000;
}

.WORKFLOWTASKTYPE_SOON {
    color: #CC6600;
}

.workflow-task-date {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    float: left;
}

.workflow-task-status {
    font-size: 9px;
    font-weight: bold;
    text-align: right;
}

.workflow-task-main-text {
    padding-top: 5px;
}

.workflow-task-title {
    font-weight: bold;
}

.dashlet .my-task {
    padding-right: 40px;
    padding-bottom: 5px;
    padding-top: 6px;
    padding-left: 15px;
}

.dashlet .workflow-task-main-text {
    padding-left: 9px;
}

.dashlet .total-tasks-count {
    font-size: 13px;
    font-weight: normal;
    float:right;
}

.dashlet .title .total-tasks-count span {
    font-size: 13px;
    text-decoration: underline;
}

.total-tasks-count-right {
    float: left;
    background-image: url('/share/res/images/lecm-documents/active-tasks-background.png');
    height: 26px;
    width: 26px;
    text-align: center;
    padding-top: 3px;
    color: #FFFFFF;
    font-weight: bold;
}

.right-task {
    margin-top: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.right-tasks-more {
    text-decoration: underline;
    font-size: 12px;
    color: #999999;
    float: left;
    padding-left: 187px;
    cursor: pointer;
}

.right-tasks-more-arrow {
    background-image: url(/share/res/images/lecm-documents/gray_arrow.png);
    float: right;
    width: 12px;
    height: 11px;
    margin-right: 7px;
    margin-top: 2px;
    cursor: pointer;
}

.datagrid .action-set .onActionViewContent a {
	background-image: url(/share/res/components/documentlibrary/actions/document-view-content-16.png);
}

.datagrid .action-set .onActionUploadNewVersion a {
	background-image: url(/share/res/components/documentlibrary/actions/document-upload-new-version-16.png);
}