.document-components-panel,
.document-forms-panel {
    border-bottom: 1px solid #ccc;
    padding: 0.8em;
}
.widget-bordered-panel.last-panel .document-components-panel,
.doc-right-part > div:last-child .document-forms-panel {
    border-bottom: none;
}
#doc-attach-right .document-components-panel {
    padding-left: 0;
}
.document-components-panel > h2,
.document-forms-panel > h2 {
    padding-left: 1em;
}
.document-components-panel .panel-body {
    padding: 1em 1em 0;
}
.document-components-panel .form-container .form-fields,
.document-forms-panel .form-field {
    border-bottom: none;
    padding: 1em 1em 0;
}
.document-components-panel ul.document-right-set {
    width: 100%;
    padding: 1em 0 0 1em;
}
.doc-right-part .text-broken,
.doc-right-part div.viewmode-field span.viewmode-label,
.doc-right-part div.viewmode-field span.viewmode-value {
    word-wrap: break-word;
}
.doc-right-part .text-cropped {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
