#doc-bd {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #000000;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.yui-gc .yui-u {
    margin-left: 0%;
    width: 20%;
}

.yui-gc .preview {
	margin-top: 5px;
}

.bordered {
    border: 1px solid #6C6C6C;
    border-radius: 5px 5px 0px 0px;
}

.bordered-panel {
    border: 1px solid #6C6C6C;
    border-right: 0;
}

.yui-gc div.first {
    width: 79.5%;
}

.yui-gc .yui-u .columnSize2{
    margin-left: 1.99%;
}

.yui-gd .yui-u .column2 {
    width: 49%;
}

.first .yui-gd div.column1 {
    width: 47%;
    margin-left: 2%;
}

.first .yui-gd div.column2 {
    width: 47%;
    margin-right: 2%
}

.alfresco-twister-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-decoration: none;
}

.alfresco-twister-actions {
    position: absolute;
    right: 1em;
}

.document-components-panel .alfresco-twister-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
    display: none;
}
.document-components-panel:hover .alfresco-twister-actions .expand {
    display: inline;
}

.alfresco-twister-closed .alfresco-twister-actions {
    display: inline;
}

.widget-panel-grey {
    background-color: #ccc;
    padding: 0.8em;
}

.widget-panel-white {
    background-color: #F2F2F2;
    padding: 0.8em 0.8em 0 0.8em;
}

.widget-button-grey {
    margin: 5px 0;
    padding: 3px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    font: 14px Arial;
    font-style: normal;
    text-decoration: none;
}

.widget-button-grey:hover {
    background-color: #ddd;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dndDocListHighlight
{
	outline: 2px solid #4F94C9;
	outline-offset: -2px;
}

.highlight_field {
    border: 1px red solid;
}

.yui-gc .comments-list {
    text-align: left;
    margin-left:3.99%;
    width: 93%;
}

/**************** Workflow Tasks *******************************/

.WORKFLOWTASKTYPE_NA {
    display: none;
}
.WORKFLOWTASKTYPE_OVERDUE {
    color: #FF0000;
}
.WORKFLOWTASKTYPE_SOON {
    color: #CC6600;
}
.WORKFLOWTASKPRIORITY_LOW {
    background-image: url("/share/res/components/images/priority-low-16.png");
}
.WORKFLOWTASKPRIORITY_MEDIUM {
    background-image: url("/share/res/components/images/priority-medium-16.png");
}
.WORKFLOWTASKPRIORITY_HIGH {
    background-image: url("/share/res/components/images/priority-high-16.png");
}
.workflow-date {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}
.total-tasks-count-right {
    float: right;
    margin-right: 20px;
    margin-top: 1px;
    background-image: url('/share/res/images/lecm-documents/active-tasks-background.png');
    height: 24px;
    width: 24px;
    text-align: center;
    padding-top: 5px;
    padding-left: 1px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
}
.right-task {
    margin-top: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.right-task .workflow-date {
    float: left;
}

.right-more-link {
    text-decoration: underline;
    font-size: 12px;
    color: #999999;
    float: right;
    cursor: pointer;
}

.right-more-link-arrow {
    background-image: url(/share/res/images/lecm-documents/gray_arrow.png);
    float: right;
    width: 12px;
    height: 11px;
    cursor: pointer;
}

.right-tasks-container {
    padding-left: 15px;
}

.workflow-task-item {
    border-top: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 40px;
}
.list-container {
    padding-left: 40px;
    padding-top: 10px;
}
.list-category {
    padding-top: 12px;
}
.list-category-title {
    font-size:20px;
    font-weight:bold;
    color:#666666;
    padding-bottom: 10px;
}
.workflow-task-list-picture {
    background-repeat: no-repeat;
    margin-left: 18px;
    float: left;
    width: 16px;
    margin-right: 35px;
}
.workflow-task-list-left-column {
    float:left;
    width: 200px;
}
.workflow-task-list-label {
    color: #999999;
}
.workflow-task-description {
    padding-top: 7px;
    padding-bottom: 3px;
}

/******************** Workflows ***************************/

.right-workflow {
    margin-top: 12px;
}

.right-workflows-container {
    margin-right: 25px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.list-workflow-description {
    padding-left: 3px;
    font-size: 18px;
}

/***********************************************/

/* Document right part */
.doc-right-part {
    word-wrap: break-word;
}
