#doc-bd {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.yui-gc .yui-u {
    margin-left: 0%;
    width: 20%;
}

.yui-gc .preview {
	margin-top: 5px;
}

.bordered {
    border: 1px solid #6C6C6C;
}

.yui-u .document-details-panel {
    background-color: #F2F2F2;
    border-top: 1px solid #CCCCCC;
    padding: 1em 0 1em 1em;
}

.yui-gc div.first {
    width: 79%;
}

.yui-gd .yui-u .column2 {
    width: 49%;
}

.first .yui-gd div.column1 {
    width: 47%;
    margin-left: 2%;
}

.first .yui-gd div.column2 {
    width: 47%;
    margin-right: 2%
}

.alfresco-twister-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-decoration: none;
}

.alfresco-twister-actions {
    position: absolute;
    right: 1em;
}

.alfresco-twister-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.alfresco-twister-closed .alfresco-twister-actions {
    display: inline;
}

.widget-panel-grey {
    background-color: #ccc;
    padding: 1em 0 1em 1em;
}

.widget-button-grey {
    margin: 5px 10px 5px 15px;
    padding: 4px 4px 4px 11px;
    cursor: pointer;
}

.widget-button-grey:hover {
    background-color: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: #999 1px solid;
    border-radius: 5px;
    margin: 5px 10px 5px 15px;
    padding: 3px 3px 3px 10px;
    cursor: pointer;
}

.dndDocListHighlight
{
	outline: 2px solid #4F94C9;
	outline-offset: -2px;
}

.highlight_field {
    border: 1px red solid;
}
