#doc-bd {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.yui-gc .yui-u {
    margin-left: 1.99%;
    width: 20%;
}

.yui-gc .preview {
	margin-top: 5px;
}

.bordered {
    border: 1px solid #6C6C6C;
}

.yui-u .document-details-panel {
    background-color: #F2F2F2;
    border-top: 1px solid #CCCCCC;
    padding: 1em 0 1em 1em;
}

.yui-gc div.first {
    width: 77%;
}

.yui-gd .yui-u .column2 {
    width: 49%;
}

.first .yui-gd div.column1 {
    width: 49%;
}

.first .yui-gd div.column2 {
    width: 49%;
}

.alfresco-twister-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-decoration: none;
}

.alfresco-twister-actions {
    position: absolute;
    right: 1em;
}

.alfresco-twister-actions .expand {
    background-image: url("/share/res/images/lecm-documents/expand-10.png");
}

.alfresco-twister-closed .alfresco-twister-actions {
    display: inline;
}
