div#summary-table-container > table {
	border: none;
	border-spacing: 0px 0px;
	border-collapse: collapse ;
}

div#summary-table-container > td table {
	border: none;
	border-spacing: 0px 0px;
	border-collapse: collapse ;
}

div#summary-table-container > table tr td {
	border: none;
}

.diagramm-row td {
	border: none;
	width: 20px;
	text-align: center;
}

.employee-header {
	text-align: center;
}

div#summary-table-container > table tr td.row-id {
	text-align: center;
	border: 1px solid #000000;
	padding: 5px;
	width: 30px;
}

.calendar-header {
	border: 1px solid #000000;
}

div#summary-table-container > table tr td.employee-name {
	border: 1px solid #000000;
	padding: 5px;
	width: 200px;
}

.summary-table-header {
	width: 900px;
	border: 1px solid #000000;
	border-spacing: 0;
}

.summary-table-body {
	width: 900px;
	border: 1px solid #000000;
	border-spacing: 0;
}

.summary-table {
	width: 925px;
}

.summary-table-body-wrapper {
	width: 925px;
	max-height: 300px;
	overflow: auto;
}

.reasons-legend {
	float: right;
	border: 1px solid #000000 !important;
	border-collapse: separate !important;
	margin-left: 5px;
	width: 300px;
	border-spacing: 2px !important;
}

div#summary-table-container {
	width: 1250px;
	margin-top: 4px;
}