
.calendar-grid {
	text-align: right;
}
.control-container {
	width: 350px;
	background-color: #E9E9E9;
	padding: 10px;
	padding-top: 25px;
	height: 170px;
	border-style: solid;
	margin: 0 auto;
	border-radius: 0.5em;
	border-width: 1px;
}
.rule-body {
	float: left;
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #B2B2B2;
	border-style: solid;
	border-radius: 0.4em;
	padding: 5px;
	width: 170px;
	/* width: 50%*/
}
.rule-control {
	float: left;
	padding: 5px;
	background-color: inherit;
	/*width: 50%*/
}
.rule-body #working-days  {
	width:50px;
}
.rule-body #non-working-days  {
	width:50px;
}
.shift-picker {
	text-align: right;
}
.calendar-grid td {
	cursor: pointer;
}
.calendar-grid td.selected-date  {
	background-color: #2E2EE6;
	color: #FFFFFF;
}
#reiteration-rules-error-container {
    float: left;
    width: 100%;
    padding-top: 7px;
}
