.calendar-month {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}
.summary-table-body-wrapper .colored-td {
	background-color: #0000FF;
	color: #0000FF;
	border-color: #0000FF;
}
.work-calendar .summary-table-body-wrapper {
    width: 920px;
    /*max-height: none;*/
}
