.lecm_tbl {
	background-color: gray;
}

.lecm_tbl_td_h {
	background-color: #d3d3d3;
	text-align: center;
}

.lecm_tbl_td_odd {
	background-color: white;
}

.lecm_tbl_td_even {
	background-color: #eee;
}

.lecm_tbl_td {
	background-color: white;
}

.lecm_tbl_td_empty {
	padding: 0;
}

.lecm_tbl_action_edit {
	width: 16px;
	background-image: url('../../components/images/edit-16.png');
	cursor: pointer;
}

.lecm_tbl_action_delete {
	width: 16px;
	background-image: url('../../components/images/delete-16.png');
	cursor: pointer;
}

.title h3 {
    font-weight: bold;
    margin: 5px 0;
}
.diagram-cont > div:not(.yui-resize-handle) {
    height: 150px;
    overflow: auto;
    border: solid 1px #d3d3d3;
    padding: 0 10px;
    margin-bottom: 10px;
}

.datagrid .action-set .onVersionRestore a {
    background-image: url("../../components/document-details/images/revert-16.png");
}

.yui-skin-lecmTheme .lecm-checkboxtable div.grid table.fixedHeader tbody {
	max-height: 400px;
}
