#statemachine-properties-menu {
	padding-top: 5px;
}

.statemachine-statuses-buttons-table {
	margin-bottom: 5px;
}

.statemachine-statuses-buttons-table .status-lable {
	padding-right: 26px;
}