#lecm-menu #menu-buttons-homeBtn span.first-child {
    background: url('/share/res/images/lecm-statemachine-editor/home.png') no-repeat 4px 4px;
}


.statemachine-menu #menu-buttons-properties-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('/share/res/images/lecm-statemachine-editor/properties.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-deploy-menu-button span.first-child {
    width: 24px;
    height: 24px;
	background: url('/share/res/images/lecm-statemachine-editor/deploy.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-versions-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('/share/res/images/lecm-statemachine-editor/versions.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-machine-export span.first-child {
	background: url('/share/res/images/lecm-statemachine-editor/export.png') no-repeat 4px 4px;
    width: 24px;
    height: 24px;
}

.statemachine-menu #menu-buttons-machine-import span.first-child {
    background: url('/share/res/images/lecm-statemachine-editor/import.png') no-repeat 4px 4px;
    width: 24px;
    height: 24px;
}

.statatemachine-import-form {
    position: absolute;
    border: 1px solid black;
    opacity: 0;
    width: 24px;
    height: 24px;
    margin: -26px 0 0 466px;
}

.statatemachine-menu-spin {
    display: inline-block;
    width: 300px;
}

.statatemachine-menu-spin1 {
    display: inline-block;
    width: 18px;
}


.statatemachine-import-input {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.statemachine-status-title {
    display: inline-block;
    width: 60px;
}

.statemachine-menu #menu-buttons-new-status-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('/share/res/images/lecm-statemachine-editor/new_status_small.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-end-event-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('/share/res/images/lecm-statemachine-editor/end_event_small.png') no-repeat 4px 4px;
}


