#lecm-menu #menu-buttons-homeBtn span.first-child {
    background: url('../../images/lecm-statemachine-editor/home.png') no-repeat 4px 4px;
}

.statemachine-menu {
    position: relative;
}

.statatemachine-menu-spin {
    display: inline-block;
    width: 300px;
}

.statatemachine-menu-spin1 {
    display: inline-block;
    width: 18px;
}

.statatemachine-import-form {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    top: -10px;
    border: 1px solid black;
    overflow: hidden;
    opacity: 0;
}

.yui-skin-lecmTheme .statatemachine-import-form .statatemachine-import-input {
    height: 24px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.statemachine-status-title {
    display: inline-block;
    width: 60px;
}

.statemachine-menu #menu-buttons-properties-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/properties.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-deploy-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/deploy.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-versions-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/versions.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-machine-export span.first-child {
    background: url('../../images/lecm-statemachine-editor/export.png') no-repeat 4px 4px;
    width: 24px;
    height: 24px;
}

.statemachine-menu #menu-buttons-machine-import span.first-child {
    background: url('../../images/lecm-statemachine-editor/import.png') no-repeat 4px 4px;
    width: 24px;
    height: 24px;
}

.statemachine-menu #menu-buttons-new-status-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/new_status_small.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-end-event-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/end_event_small.png') no-repeat 4px 4px;
}

.statemachine-menu #menu-buttons-alternative-start-menu-button span.first-child {
    width: 24px;
    height: 24px;
    background: url('../../images/lecm-statemachine-editor/altern_start.png') no-repeat 1px -2px;
}
