.dashlet.business-journal.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.business-journal .toolbar {
    white-space: nowrap;
	font-size: 0;
	padding: 2px 0 1px;
}
.dashlet.business-journal .toolbar .yuimenu .bd {
    max-height: 200px;
    overflow: auto;
}
.dashlet.business-journal .body .row {
	line-height: 16px;
	margin: 10px;
}
.business-journal .loading-image-container {
	text-align: center;
	visibility: hidden;
}
.dashlet.business-journal .toolbar>span {
	max-width: 24%;
	font-size: 12.87px;
	margin: auto 0;
}
.dashlet.business-journal .toolbar .first-child>button {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.dashlet.business-journal .body.no-access {
	padding-left: 9px;
}
