.stagesDatagridExpanded {
	padding-left: 10px;
}

.datagrid .onActionAddEmployee a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAL1JREFUOE+lkDEKwzAQBPP/HyS9wWDUCasXuHLjKiCI/6BGhQrJ2Zw35IwIxGSqu5tdELpsJ/m7EEIwxtwEDFgp3hwK3vtrA47UwqewrisjDVAM6YK1lr4BiiFd6LqOvgGKIV0YhoG+AYohXZjnmb4BiiFdyDn3fc+IAkcohnQBpJTGcWRQwIojtXAo1FpLKTHGh4ABK47UAgsQy7LgN8A0TXcBw36BQmBPvgpYnHN8xBcQ2DuHJ/3CycK2PQEu4ZD7kCvCRAAAAABJRU5ErkJggg==);
}

.datagrid .onActionAddMacros a {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAALdJREFUOE+lkLEKwyAURfvnfk1ACG6S7EKmLE4Fof6Di0Mo0t6am+alUkromdRzD4Rc1En+DkIIxphHBQdcKTYOgXPu3oBH6soexBg5aYDiSAbWWvoGKI5k0HUdfQMURzLo+56+AYojGczzTN8AxZEMlmXRWnMiwCMURzIAOedhGDis4IpH6sohAKWUlNKtggOuFBsMILz3+BtgmqZrBYf1BepdvgJcxnHkR3wBg7X5/KSfnAyUegKw1QorgLrU5wAAAABJRU5ErkJggg==);
}
