/* Договор - Основные сведения - Редактирование */
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field {
    position: relative;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.set div.yui-g div.yui-u {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field > label,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.viewmode-field span.viewmode-label {
    width: 190px;
    padding-right: 10px;
    text-align: right;
    margin: 0;
}

.yui-skin-lecmTheme .yui-panel table div.form-field div.viewmode-field span.viewmode-label {
    width: auto;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.viewmode-field span.viewmode-value {
    max-width: 200px;
    padding-left: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.viewmode-field.richtext span.viewmode-value {
    max-width: 670px;
    max-height: 100px;
    overflow-y: auto;
    word-wrap: break-word;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.viewmode-field span.viewmode-value .association-auto-complete-selected-item,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.viewmode-field span.viewmode-value .association-auto-complete-selected-item-even {
    overflow: hidden;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.selectone-control select,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
    width: 200px;
    overflow: hidden;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field input[type=text][id*="errands"]:not(.date-entry):not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.selectone-control[id*="errands"] select,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible[id*="errands"] {
    width: 225px;
    overflow: hidden;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field > input.date-entry {
    width: 200px;
    margin-bottom: 16px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field > input.date-entry + a {
    float: left;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.set div.form-field > input.date-entry ~ div.format-info {
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 30px;
    margin-left: 200px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder {
    margin-bottom: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field input.autocomplete-input[type="text"],
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.autocompleteCurrentValueDisplayInvisible,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-navset div.form-field div.autocompleteCurrentValueDisplayInvisible {
    width: 80%;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.object-finder .show-picker,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.show-picker {
    float: left;
    margin-right: 7px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.show-picker {
    margin-right: 3px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block.with-two-buttons input.autocomplete-input {
    width: 130px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.association-auto-complete-selected-item span.person > a,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u div.form-field div.autocomplete-block div.association-auto-complete-selected-item-even span.person > a {
    max-width: 178px;
    text-overflow: ellipsis;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.set > div.form-field > div > select {
    width: 80%;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.set > div.form-field > div > input[type=text]:not(.date-entry) {
    width: 675px !important;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit:not(#workflow-form-form-container) div.set > div.form-field > input.formsCheckBox,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.set > div.yui-g > div.yui-u div.form-field > input.formsCheckBox {
    margin-left: 200px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit.no-form-type div.form-field > label,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.no-form-type div.form-field div.viemode-field span.viewmode-label {
    width: 150px;
    text-align: left;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.no-form-type div.form-field > input.date-entry ~ div.format-info {
    margin-left: 160px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.no-form-type div.form-field > input.date-entry {
    width: 140px;
    margin-bottom: 16px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .two-column div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .two-column div.form-field input.autocomplete-input[type="text"],
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .two-column div.yui-navset div.form-field div.autocompleteCurrentValueDisplayInvisible {
	width: 165px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .two-column div.form-field div.autocomplete-block input.autocomplete-input {
	width: 165px;
}

.yui-panel.metadata-form-edit .two-column div.association-auto-complete-selected-item > span.not-person,
.yui-panel.metadata-form-edit .two-column div.association-auto-complete-selected-item > span > a {
	max-width: 135px;
}

.yui-panel.metadata-form-edit div.association-auto-complete-selected-item > span > a,
.yui-panel.metadata-form-edit div.association-auto-complete-selected-item > span.not-person {
	max-width: 430px;
}

.yui-skin-lecmTheme .yui-panel .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item-even > span.not-person,
.yui-skin-lecmTheme .yui-panel .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 170px;
	display: inline-block;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field {
	margin-bottom: 10px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field .object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field .object-finder .show-picker,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.form-field div.autocomplete-block div.show-picker {
	margin-bottom: 0;
}
.yui-skin-lecmTheme  .yui-panel.metadata-form-edit .bd .yui-u {
	padding-top: 0;
	padding-bottom: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .set {
	padding-bottom: 0;
}

