.attachments-set .attachment-category {
	padding-left: 1em;
    font: 14px Arial;
}

.attachments-set .attachment-category .category-title {
	padding: 10px 0 5px;
	color: #666;
}
.attachments-set .attachment-category ul.attachment li {
	padding: 5px 0;
}

