.attachments-set .attachment-category {
	padding-left: 1em;
    font: 14px Arial;
}

.attachments-set .attachment-category .category-title {
	padding-top: 0.5em;
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #ccc;
}

