/* Договор - основные сведения */
.metadata-form .set {
    overflow: hidden;
	padding-bottom: 0;
}
.metadata-form .form-container .viewmode-field {
	margin-bottom: 0;
}
.metadata-form .form-container .form-field {
	margin-bottom: 10px;
}
.metadata-form .set .yui-g {
    width: 100%;
    margin-left: 0;
}
.metadata-form .set .viewmode-field .viewmode-value > .association-auto-complete-selected-item,
.metadata-form .set .viewmode-field .viewmode-value > .association-auto-complete-selected-item-even {
    display: inline-block;
    width: 100%;
}

.yui-skin-lecmTheme div.metadata-form div.form-fields,
.yui-skin-lecmTheme div.metadata-form div.form-fields > div.set {
    min-width: 69.3em;
    padding-right: 0.8em;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.viewmode-label,
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.viewmode-value {
    height: 28px;
    line-height: 22px;
    display: block;
    float: left;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field.richtext span.viewmode-value,
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.viewmode-value.auto-complete {
    height: auto;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.viewmode-label {
    width: 200px;
    padding: 2px 10px 2px 0;
    text-align: right;
    margin: 0;
}
.yui-skin-lecmTheme div.metadata-form div.form-field div.viewmode-field span.viewmode-value {
    font-weight: bold;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}
.yui-skin-lecmTheme div.metadata-form div.set div.yui-g div.form-field div.viewmode-field span.viewmode-value,
.yui-skin-lecmTheme div.metadata-form div.set div div.form-field div.viewmode-field span.viewmode-value,
.yui-skin-lecmTheme div.metadata-form div.form-fields > div.set > div.form-field div.viewmode-field span.viewmode-value {
    width: auto;
	float: none;
}

.yui-skin-lecmTheme div.metadata-form div.form-field {
    float: left;
}


/* Этапы договора */
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .set,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .set {
    padding-top: 0.5em;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .datalist-toolbar,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .datalist-toolbar {
    background: rgba(204, 204, 204, .6);
    overflow: hidden;
    border: 1px solid #CBCBCB;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .datalist-toolbar .left,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .datalist-toolbar .left {
    float: left;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .datalist-toolbar .right,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .datalist-toolbar .right {
    float: right;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid {
    float: none;
    clear: both;
    padding-top: 0;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid {
    padding-top: 0;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid .grid,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid .grid {
    height: auto !important;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc,
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc div,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc div {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yui-skin-lecmTheme div.metadata-form .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc div img,
.yui-skin-lecmTheme div.metadata-form-edit .form-fields .yui-content .tab-contract-stages .form-field.with-grid .datagrid div.grid td.yui-dt-col-assoc_lecm-contract-table-structure_attachments-temp-assoc div img {
    margin-right: 3px;
}

.metadata-form-control {
	padding-top: 20px;
}

#main-region > div > div > div.form-container > div.form-fields {
	padding: 0;
}

.metadata-form .form-field {
	width: 100%;
}