.members-list .members-title {
    width: 100%;
    padding: 0.4em;
}
.members-list .members-title .members-name {
    color: #666666;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    padding-left: 1em;
}

.members-list .members-title  .member-add {
    text-align: right;
}

.members-list .detail-list-item .icon, .members-list .detail-list-item .avatar {
    float: left;
}

.members-list .detail-list-item .person {
    padding-left: 54px;
}

.members-table {
    width: 95%;
    margin-left: 3%;
}

.detail-list-item .person a,.detail-list-item .person a:visited {
    color: #6CA5CE;
    text-decoration: underline;
}
