/* Договор - основные сведения */
.dashlet-metadata .set {
    overflow: hidden;
}
.dashlet-metadata .set .yui-g {
    width: 100%;
    margin-left: 0;
}
.dashlet-metadata .set .viewmode-field .viewmode-value > .association-auto-complete-selected-item  {
    display: inline;
}
