.dashlet-metadata .form-container .form-fields {
    border: none;
    padding: 0;
    margin: 0;
}
.dashlet-metadata .form-fields .form-field {
    padding: 10px 1em;
    margin: 0;
    border-bottom: 1px solid #ccc;
}
.dashlet-metadata .form-fields .form-field .viewmode-field {
    margin: 0;
}

.widget-bordered-panel .association-auto-complete-selected-item,
.widget-bordered-panel .association-auto-complete-selected-item-even {
    display:inline;
}

.widget-bordered-panel div.association-auto-complete-selected-item > span > a,
div.association-auto-complete-selected-item-even > span > a {
    max-width: 250px;
}

.widget-bordered-panel
div.association-auto-complete-selected-item > span.not-person,
div.association-auto-complete-selected-item-even > span.not-person {
    overflow-x: inherit;
}

.yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item > span > a
.yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item-even > span > a,
.yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item-even > span.not-person {
    overflow-x: hidden;
}
