.document-header {
    background: #f2f2f2;
    border-radius: 3px 3px 0 0;
}

.document-header h1 {
    padding: 0.5em 1em 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

.document-header h1 .document-version
{
	margin-left: 0.8em;
	position: relative;
	top: -2px;
	background-color: white;
	color: black;
	border: 1px solid black;

	font-size: 13px;
}

.document-header h1.breadcrumb
{
	float: left;
	padding: 0.5em 0.2em 0.2em 0.5em;
}

.document-header h1 .document-modified-info
{
	margin-left: 0.8em;
	position: relative;

	font-size: 13px;
	font-weight: normal;
}

.document-header .document-info {
    float: left;
    width: 78%;
    padding: 0.2em;
}

.document-header .document-attachment-info {
	float: left;
	width: 100%;
}

.document-header .status-banner {
    margin-top: 0.75em;
    padding: 0.5em 1em;
}

.document-header .document-action {
    float: right;
    width: 20%;
    text-align: right;
    padding: 0.5em;
}

.document-header .document-action .subscribe-header span.first-child {
    background: url('../../images/lecm-subscriptions/alf_subscribe_16.png') no-repeat 5px 5px;
    padding-left: 7px;
    border: 1px solid;
}

.document-header .document-action .unsubscribe-header span.first-child {
    background: url('../../images/lecm-subscriptions/alf_unsubscribe_16.png') no-repeat 5px 5px;
    padding-left: 7px;
    border: 1px solid;
}

.document-header .document-action .transfer-right span.first-child {
    background: url('../../images/lecm-documents/alf_transmit_document_16.png') no-repeat 5px 5px;
    padding-left: 7px;
    border: 1px solid;
}

.document-header .attachment-thumbnail
{
	float: left;
	padding: 0.1em 0.5em 0.1em 0;
}

.transfer-right {
    float: right;
}
.subscribe-header {
    float: right;
}
.unsubscribe-header {
    float: right;
}
