.document-header {
    background: #c5c5c5;
}

.document-header h1 {
    padding: 0.5em 1em 0.2em;
}

.document-header .document-info {
    float: left;
    width: 78%;
}

.document-header .status-banner {
    margin-top: 0.75em;
    padding: 0.5em 1em;
}

.document-header .document-action {
    float: right;
    width: 20%;
    text-align: right;
    padding-top: 0.5em;
}

.document-header .document-action .subscribe span.first-child {
    background: url('../../images/lecm-subscriptions/alf_subscribe_16.png') no-repeat 5px 5px;
    padding-left: 7px;
}

.document-header .document-action .unsubscribe span.first-child {
    background: url('../../images/lecm-subscriptions/alf_unsubscribe_16.png') no-repeat 5px 5px;
    padding-left: 7px;
}