.arm-metadata .object-finder .show-picker {
	clear: none;
}


.arm-metadata div.autocompleteCurrentValueDisplay {
	margin-top: 10px;
}

.yui-skin-lecmTheme .arm-metadata .yui-menu-button button {
	background-image:none;
}

.yui-skin-lecmTheme .arm-metadata .yui-menu-button {
	border-color: #ccc;
	border-style: solid;
	border-radius: 3px;
}

.arm-metadata div.association-auto-complete-selected-item > span > a,
.arm-metadata div.association-auto-complete-selected-item-even > span > a,
.arm-metadata div.association-auto-complete-selected-item > span.not-person,
.arm-metadata div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 320px;
}

.arm-settings-fields-control span.create-field-button .yui-button .first-child {
	background: url(/share/res/images/lecm-arm/create-field.png) no-repeat center center;
	width: 26px;
}

.arm-settings-fields-control span.add-from-model-button .yui-button .first-child {
	background: url(/share/res/images/lecm-arm/add-from-model.png) no-repeat center center;
	width: 26px;
}