#bd #lecm-content-main #arm-tree {
    margin: 0 5px;
}

#yui-main #arm-with-tree #yui-main-2 .datalist-toolbar {
	margin: 0 -10px;
}

#yui-main #arm-with-tree #yui-main-2 .arm-filters-bar .datalist-toolbar {
	margin: 0;
}

#yui-main .arm-filters-bar .datalist-toolbar {
	background-color: #DFF1A1;
    color: #303030;
}

.filters-block .filters {
    margin-left: 9px;
}

.arm-filters-bar {
	padding-top: 10px;
}

#yui-main .arm-filters-bar .datalist-toolbar .header-bar {
	height: auto;
	min-height: 0;
	display: inline-block;
	padding: 10px 15px;
}

.arm-filters-bar .arm-filters-label {
    font-weight: bold;
    font-size: 12px;
}

.arm-filters-bar .arm-filters-label a {
    font-size: 12px;
	font-weight: normal;
}

.arm-filters-bar .arm-filter-item {
    font-size: 12px;
	font-style: italic;
	padding: 0 10px;
}

.arm-filters-bar .arm-filter-item .arm-filter-remove {
	padding-left: 5px;
	cursor: pointer;
    font-weight: bold;
	font-style: normal;
	color: #E66E00;
}

#arm-grid .datagrid {
	padding-top: 10px;
}

.datalist-toolbar .filters span.first-child
{
    background: url('/share/res/images/lecm-arm/filter-16.png') no-repeat 4px 4px;
    padding-left: 14px;
}


div.arm-tree-menu .arm-accordion {
	padding-top: 10px;
}

div.arm-tree-menu .arm-accordion div.accordion-head {
	cursor: pointer;
	/*background: url('/share/res/images/lecm-arm/accordion_button.png') repeat-x;*/
    background-color: #F2F2F2;
    border-bottom: 1px solid #D7D7D7;
    border-top: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #333333;
	padding: 8px 0 8px 10px;
	overflow: hidden;
	white-space: nowrap;
}

div.arm-tree-menu .arm-accordion span.accordion-counter-label {
	margin-left: 5px;
    color: #EE801F;
}
div.arm-tree-menu .arm-accordion div.accordion-content {
	height: 0;
	overflow-y: auto;
	overflow-x: auto;
	padding-left: 10px;
}
div.arm-tree-menu .arm-accordion div.accordion-content.shown {
	height: auto;
}
div.arm-tree-menu .arm-accordion .wait-container {
	text-align: center;
}

.filters-block .filters-dialog {
	visibility: hidden;
	margin-top: 30px;
	margin-left: 10px;
}

.datalist-toolbar .filters-block .filters-dialog div {
	float: none;
}


.filters-block .filters-dialog .filters-table th {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background-color: #F2F2F2;
	padding-left: 0.5em;
	padding-top: 0.3em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.filters-block .filters-dialog .filters-table td {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	background-color: #F2F2F2;
	padding-left: 0.5em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.filters-block .filters-dialog .filters-table th.colored,
.filters-block .filters-dialog .filters-table td.colored {
	background-color: #E4E4E4;
	border: 0;
}

.filters-block .filters-dialog .filters-table td div {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.filters-block .filters-dialog .filters-table td div {
	height: 20px;
}

.filters-block .filters-dialog .filters-table td div input,
.filters-block .filters-dialog .filters-table td div label {
	vertical-align: middle;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table {
    background-color: #C9EBF6;
    color: #919191;
    border: none;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table a{
    color: #919191;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-present-column {
	padding: 10px 0;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-data .arm-connections-table td.connection-type-column {
	width: 150px;
}

.arm-reports-list {
	margin: 15px;
}

div.noerror-item
{
    background: url('/share/res/images/lecm-arm/noerror.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

div.error-item
{
    background: url('/share/res/images/lecm-arm/error.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

.arm-tree-menu td.ygtvcell {
	text-align: left;
	white-space: nowrap;
}

.accordion-toolbar .toolbar {
	background-color: white;
}

.accordion-toolbar .new-row button {
	color: #6ca5ce;
}

#bd #lecm-content-main #arm-with-tree {
	margin-right: 10px;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt .yui-dt-col-expand {
	width: 16px;
}
