.arm-metadata .object-finder .show-picker {
	clear: none;
}


.arm-metadata div.autocompleteCurrentValueDisplay {
	margin-top: 10px;
}

.yui-skin-lecmTheme .arm-metadata .yui-menu-button button {
	background-image:none;
}

.yui-skin-lecmTheme .arm-metadata .yui-menu-button {
	border-color: #ccc;
	border-style: solid;
	border-radius: 3px;
}

.arm-metadata div.association-auto-complete-selected-item > span > a,
.arm-metadata div.association-auto-complete-selected-item-even > span > a,
.arm-metadata div.association-auto-complete-selected-item > span.not-person,
.arm-metadata div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 320px;
}