#bd #lecm-content-main #arm-tree {
    margin: 0 5px;
}

#yui-main #arm-with-tree #yui-main-2 .datalist-toolbar {
	margin: 0 -5px 0 -10px;
}

#yui-main #arm-with-tree #yui-main-2 .arm-filters-bar .datalist-toolbar {
	margin: 0;
}

#yui-main .arm-filters-bar .datalist-toolbar {
	background-color: #ffffcc;
	border: 1px solid #797979;
	height: 40px;
}

.arm-filters-bar .datalist-toolbar .header-bar > div {
	padding-top: 10px;
	padding-left: 10px;
}

.arm-filters-bar .arm-filters-label a {
	font-size: 11px;
}

.arm-filters-bar .arm-filter-item {
	font-size: 11px;
	font-style: italic;
	color: #999999;
	padding: 0 10px;
}

.arm-filters-bar .arm-filter-item .arm-filter-remove {
	padding-left: 5px;
	cursor: pointer;
	font-style: normal;
	color: #666666;
}

.datalist-toolbar .filters span.first-child
{
    background: url('/share/res/images/lecm-arm/filter-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}

.datalist-toolbar .filters span.first-child button,
.datalist-toolbar .group-actions span.first-child button {
    width: 180px;
	text-align: left;
}

div.arm-tree-menu .arm-accordion {
	padding-top: 0.5em;
}

div.arm-tree-menu .arm-accordion div.accordion-head {
	cursor: pointer;
	background: url('/share/res/images/lecm-arm/accordion_button.png') repeat-x;
	height: 29px;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #333333;
}

div.arm-tree-menu .arm-accordion div.accordion-head span.accordion-label {
	position: absolute;
	margin-left: 10px;
	margin-top: 6px;
}
div.arm-tree-menu .arm-accordion span.accordion-counter-label {
	margin-left: 5px;
    color: #EE801F;
}
div.arm-tree-menu .arm-accordion div.accordion-content {
	height: 0;
	overflow-y: auto;
	overflow-x: auto;
	padding-left: 10px;
}
div.arm-tree-menu .arm-accordion div.accordion-content.shown {
	height: auto;
}
div.arm-tree-menu .arm-accordion .wait-container {
	text-align: center;
}

.filters-block .filters-dialog {
	visibility: hidden;
	margin-top: 30px;
	margin-left: 10px;
}

.datalist-toolbar .filters-block .filters-dialog div {
	float: none;
}


.filters-block .filters-dialog .filters-table th {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	background-color: #F2F2F2;
	padding-left: 0.5em;
	padding-top: 0.3em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.filters-block .filters-dialog .filters-table td {
	width: 150px;
	min-width: 150px;
	max-width: 150px;
	vertical-align: text-top;
	background-color: #F2F2F2;
	padding-left: 0.5em;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.filters-block .filters-dialog .filters-table th.colored,
.filters-block .filters-dialog .filters-table td.colored {
	background-color: #E4E4E4;
	border: 0;
}

.filters-block .filters-dialog .filters-table td div {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.filters-block .filters-dialog .filters-table td div {
	height: 20px;
}

.filters-block .filters-dialog .filters-table td div input,
.filters-block .filters-dialog .filters-table td div label {
	vertical-align: middle;
}

.yui-skin-lecmTheme .datagrid .grid.yui-dt table .expand-row .arm-connections-table {
	margin-left: 50px;
}

.arm-reports-list {
	margin: 15px;
}

div.noerror-item
{
    background: url('/share/res/images/lecm-arm/noerror.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

div.error-item
{
    background: url('/share/res/images/lecm-arm/error.png') no-repeat 0 0;
    padding: 0 0 10px 20px;
    text-align: left;
}

.arm-tree-menu td.ygtvcell {
	text-align: left;
	white-space: nowrap;
}
