h2.thin {
    font-weight: normal;
    color: #000000;
}

.contracts-filter-panel {
    background-color: #F2F2F2;
    border: 1px solid #cbcbcb;
    margin-right: -15px;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 0;
}

.status-button {
    border: 1px solid transparent;
    cursor: pointer;
    font: 14px Arial;
    margin: 0 0 5px 0;
    text-decoration: none;
    float: left;
}

.contracts-filter-panel .text-cropped {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.contracts-filter-panel a:hover {
    text-decoration: underline;
}

.contracts-filters-block {
    position: relative;
}

.yui-gd.grid {
    margin: 10px;
}

.total-tasks-count-right {
    color: #F08020;
    font-size: 13px;
    font-weight: bold;
    height: 19px;
    line-height: 19px;
    position: absolute;
    right: 20px;
    top: 4px;
}

.contracts-filter-panel .filterBlock > div.selected {
    background: #bbe6f3;
    font-weight: bold;
}

/*.contracts-filter-panel > div {
    padding: 4px 0 0 30px;
}*/

.contracts-filter-panel .filterBlock > div {
    padding: 4px 0 0 30px;
}