.dashlet.contracts-summary .scrollableList {
    height: 254px;
}
.dashlet.contracts-summary .body .row .column.first {
    width: auto;
}
.dashlet.contracts-summary .body .row .column.first.bold {
    font-weight: bold;
}
.dashlet.contracts-summary .body .row .column.second {
    float: left;
    margin: 0 0 0 8px;
}
.grid .dashlet.contracts-summary .body .row .column.second a {
    font-weight: bold;
}

/* Участники договорной деятельности */
#form-members-list .form-field .datagrid {
    padding: 8px;
}
#form-members-list .form-field .datagrid .datagrid-bar-bottom .yui-u.first {
    width: auto;
}
