#doc-bd {
    padding-bottom: 0;
}
.yui-gc .yui-u .columnSize2.grid {
    margin: 0 16px;
}
.yui-gc .yui-u .columnSize2.yui-gd div.column1,
.yui-gc .yui-u .columnSize2.yui-gd div.column2 {
    width: calc(50% - 8px);
    margin: 0;
}
.yui-u .dashlet .dashlet-title {
    padding-right: 16px;
}





/* New design for the main page */
#yui-main #doc-bd div.datalist-toolbar div.header-bar,
#yui-main #lecm-content-ft {
    background: #f2f2f2;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.yui-button {
    margin-left: 5px;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.first-child {
    background: url("../../images/lecm-base/components/docs-common/alf_document_add.png") no-repeat 5px 5px;
    padding-left: 0;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.first-child button {
    padding-right: 10px;
    padding-left: 25px;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row button {
    color: #669fc5;
}

