.dashlet.contracts .toolbar {
    overflow: hidden;
}

.contract-filters {
    max-width: calc(100% - 32px);
    float: left;
}

.dashlet.contracts .datagrid {
    padding: 0;
}
.dashlet.contracts .datagrid .grid {
    border: none;
    border-radius: 0;
    margin: 0;
}
.dashlet.contracts .datagrid thead {
    display: none;
}
.dashlet.contracts .datagrid .grid .yui-dt-liner {
    padding: 8px 16px;
    line-height: inherit;
}
.dashlet.contracts .datagrid .grid .yui-dt-empty {
    text-align: left;
    font-style: normal;
    color: #000000;
}

