#lecm-menu #menu-buttons #menu-buttons-mainBtn span.first-child {
	background: url('../../images/lecm-base/docs-common/alf_documents_main_32.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons-listBtn span.first-child {
    background: url('../../images/lecm-base/docs-common/alf_documents_list_32.png') no-repeat 4px 4px;
}

#lecm-menu #menu-buttons-documentsBtn span.first-child {
    background: url('../../images/lecm-contracts/alf_contracts_documents_32.png') no-repeat 4px 4px;
}

#lecm-menu #menu-buttons-reportsBtn span.first-child {
    background: url('../../images/lecm-base/docs-common/alf_documents_reports_32.png') no-repeat 4px 4px;
}

#lecm-menu #menu-buttons-archiveBtn span.first-child {
    background: url('../../images/lecm-base/docs-common/alf_documents_list_32.png') no-repeat 4px 4px;
}

