.dashlet.contracts-sr-info .scrollableList {
    height: 254px;
}
.dashlet.contracts-sr-info ul.sr-list li {
    line-height: 16px;
    padding: 8px 16px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
}
