.tableRowData .control .label-div ~ .container {
    min-width: 10px !important;
}
#propIndexTableRow .control .container .value-div {
    width: 40px !important;
}
#propStartDate .control .label-div {
    width: 100px !important;
}
#propStartDate .control .container .value-div {
    width: 80px !important;
}
#propEndDate .control .label-div {
    width: 110px !important;
}
#propEndDate .control .container .value-div {
    width: 80px !important;
}
#propStartDateReal .control .label-div {
    width: 138px !important;
}
#propEndDateReal .control .label-div {
    width: 158px !important;
}
#price .price-control .price-currency {
    width: 180px !important;
}
#price .price-control .price-currency .label-div {
    display: inline !important;
    width: auto;
}
#propIndexTableRow {
    width: 34% !important;
}