.dashlet.contracts-activity .scrollableList {
    height: 254px;
}
.yui-u .dashlet.contracts-activity .body.dashlet-body div.no-records {
    padding: 12px 16px;
}
.dashlet.contracts-activity .body .row div.avatar {
    width: 48px;
    margin-right: 8px;
    border-radius: 4px;
    float: left;
}
.dashlet.contracts-activity .body .row div.avatar img {
    max-width: 48px;
    max-height: 48px;
    border-radius: 4px;
}
.dashlet.contracts-activity .body .row div.content {
    margin-left: 56px;
}