.dashlet.contracts .title {
    padding: 5px 9px;
    overflow: hidden;
}
.dashlet.contracts .lecm-dashlet-actions {
    margin-left: 1em;
}
.dashlet.contracts .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 1.5em;
    text-decoration: none;
}
.dashlet.contracts .lecm-dashlet-actions .add {
    background-image: url("../../images/lecm-base/docs-common/alf_document_add.png");
}

.dashlet.contracts .toolbar {
    border-bottom: none;
}
.dashlet.contracts .titleBarActions .arm {
    background-image: url('../../images/lecm-contracts/arm.png');
}
.dashlet.contracts .scrollableList {
    padding: 0;
}
.dashlet.contracts .datagrid {
    padding-top: 0;
}
.dashlet.contracts .datagrid .datagrid-bar {
    margin: 0;
    padding: 0;
}
.dashlet.contracts .datagrid thead {
    display:none;
}


