.WORKFLOWTASKTYPE_NA {
    display: none;
}
.WORKFLOWTASKTYPE_OVERDUE {
    color: #ff0000;
}
.WORKFLOWTASKTYPE_SOON {
    color: #cc6600;
}

.dashlet.contracts-tasks .my-task,
.dashlet.contracts-tasks .no-tasks {
    padding: 10px 0;
}
.dashlet.contracts-tasks .no-tasks .img {
    width: 50px;
    height: 100px;
    float: left;
}
.dashlet.contracts-tasks h3 {
    font-weight: bold;
    padding-bottom: 10px;
}
.dashlet.contracts-tasks .my-task .workflow-date {
    font-size: 12px;
    font-weight: bold;
    color: #666;
}
.dashlet.contracts-tasks .my-task .workflow-task-main-text {
    padding: 5px 0 0 10px;
}

