#doc-bd {
    margin-bottom: 10px;
    padding-bottom: 0;
}
#yui-main #doc-bd div.datalist-toolbar {
    margin: 0 -10px;
    border: 0;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar {
    padding: 0 5px;
}

.yui-gc div.first {
    width: 100%;
}

.yui-gc .yui-u .columnSize2.grid {
    margin: 0 5px;
}

.yui-gc .yui-u .columnSize2.yui-gd div.column1,
.yui-gc .yui-u .columnSize2.yui-gd div.column2 {
    width: 49.5%;
    margin-right: 0;
    margin-left: 0;
}

.bordered {
    border: 1px solid #6C6C6C;
    border-radius: 5px 5px 0 0;
}

.yui-u .dashlet .dashlet-title {
    background-color: #bbe6f3;
    border-radius: 4px 4px 0 0;
    padding: 5px 1em;
}

.yui-u .dashlet .dashlet-title.title span {
    color: #0a678e;
    font: 14px Arial;
    font-weight: bold;
}

.yui-u .dashlet .dashlet-body {
    padding: 0 1em;
}

.yui-gc .yui-u {
    margin-left: 0;
    width: 20%;
}

/* New design for the main page */
#yui-main #doc-bd div.datalist-toolbar div.header-bar,
#yui-main #lecm-content-ft {
    background: #f2f2f2;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.yui-button {
    margin-left: 5px;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.first-child {
    background: url("../../images/lecm-base/components/docs-common/alf_document_add.png") no-repeat 5px 5px;
    padding-left: 0;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row span.first-child button {
    padding-right: 10px;
    padding-left: 25px;
}
#yui-main #doc-bd div.datalist-toolbar div.header-bar div.new-row button {
    color: #669fc5;
}

