.yui-u .dashlet.contracts-activity .body.dashlet-body {
    padding: 0;
}
.yui-u .dashlet.contracts-activity .body.dashlet-body div.no-records {
    padding: 1em;
}
.dashlet.contracts-activity .body .row {
    line-height: 16px;
    margin: 0;
    padding: 4px 8px;
    border-bottom: 1px solid #d7d7d7;
    overflow: hidden;
}
.dashlet.contracts-activity .body .row:first-of-type {
    padding-top: 8px;
}
.dashlet.contracts-activity .body .row:last-of-type {
    padding-bottom: 8px;
}
.dashlet.contracts-activity .body .row div.avatar {
    width: 32px;
    margin: 0;
    text-align: center;
    float: left;
}
.dashlet.contracts-activity .body .row div.avatar img {
    max-width: 32px;
    max-height: 50px;
}
.dashlet.contracts-activity .body .row div.content {
    margin: 0 0 0 40px;
}

.dashlet.contracts-activity.yui-resize .yui-resize-handle {
    z-index: 0;
}