.yui-skin-lecmTheme .resolution-create-form .form-container fieldset {
    padding: 10px;
}

.yui-skin-lecmTheme .resolution-create-form .form-container .form-buttons {
    padding: 0 1em 1em 410px;
}

.resolution-create-form .yui-g .yui-u .control .label-div {
    width: 165px;
}
.resolution-create-form .yui-g .yui-u.first .control .label-div {
    width: 180px;
}

.resolution-create-form .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 255px);
}

.resolution-create-form .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 205px);
}

.resolution-create-form fieldset .yui-g .yui-u .control .label-div {
    width: 170px;
}

.resolution-create-form fieldset > span.yui-button {
    float: right;
    margin-right: calc(100% - 170px);
}

.resolution-create-form fieldset .yui-g .yui-u {
    width: calc(50% - 30px);
}
.resolution-create-form fieldset .yui-g .yui-u.first {
    width: 467px;
}

.resolution-create-form fieldset .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 260px);
}

.resolution-create-form fieldset .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 210px);
}
