.yui-skin-lecmTheme .resolution-form .form-container fieldset {
    padding: 10px;
    margin-bottom: 0;
}

.yui-skin-lecmTheme .resolution-form .form-container .form-buttons {
    margin: 0;
    padding-left: 425px;
}

.resolution-form .yui-g .yui-u .control .label-div {
    width: 165px;
}
.resolution-form .yui-g .yui-u.first .control .label-div {
    width: 180px;
}

.resolution-form .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 252px);
}

.resolution-form .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 198px);
}

.resolution-form fieldset .yui-g .yui-u .control .label-div,
.resolution-form fieldset .yui-g .yui-u.first .control .label-div {
    width: 150px;
}

.resolution-form fieldset > span.yui-button {
    float: right;
    margin-right: calc(100% - 170px);
}

.resolution-form fieldset .yui-g .yui-u {
    width: calc(50% - 40px);
}
.resolution-form fieldset .yui-g .yui-u.first {
    min-width: calc(49.1% + 15px);
}

.resolution-form fieldset .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 225px);
}

.resolution-form fieldset .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 180px);
}

.resolution-form .control.resolution-base-doc-control {
    font-size: 14px;
}

.resolution-form form .form-buttons .yui-submit-button {
    display: none;
}