.yui-skin-lecmTheme .resolution-form .form-container fieldset {
    padding: 10px;
}

.yui-skin-lecmTheme .resolution-form .form-container .form-buttons {
    padding: 0 1em 1em 410px;
}

.resolution-form .yui-g .yui-u .control .label-div {
    width: 165px;
}
.resolution-form .yui-g .yui-u.first .control .label-div {
    width: 180px;
}

.resolution-form .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 245px);
}

.resolution-form .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 195px);
}

.resolution-form fieldset .yui-g .yui-u .control .label-div,
.resolution-form fieldset .yui-g .yui-u.first .control .label-div {
    width: 150px;
}

.resolution-form fieldset > span.yui-button {
    float: right;
    margin-right: calc(100% - 170px);
}

.resolution-form fieldset .yui-g .yui-u {
    width: calc(50% - 40px);
}
.resolution-form fieldset .yui-g .yui-u.first {
    width: 449px;
}

.resolution-form fieldset .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 230px);
}

.resolution-form fieldset .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 180px);
}

.resolution-form .control.resolution-base-doc-control {
    font-size: 14px;
}
