.dashlet.issued-resolutions .scrollableList {
    padding: 0;
}
.dashlet.issued-resolutions .body .row.summary {
    height: 32px;
    margin: 0;
    padding: 8px 16px;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
    overflow: hidden;
}
.dashlet.issued-resolutions .body .row .column {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}
.dashlet.issued-resolutions .body .row .column.second,
.dashlet.issued-resolutions .body .row .column.third {
    width: 40px;
    float: right;
    text-align: right;
}
.dashlet.issued-resolutions .body .row .column.second a {
    color: #046399;
    font-weight: bold;
}
.dashlet.issued-resolutions .body .row .column.third a {
    color: #EB5757;
}
.dashlet.issued-resolutions .body .row .column.first {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: none;
}
.dashlet.issued-resolutions .body .row .column.first.bold {
    font-weight: bold;
}
.dashlet.issued-resolutions .titleBarActions .arm {
    background: url(../../images/lecm-base/icons.svg) no-repeat -492px -76px;
}