#lecm-menu .statemachine-menu #menu-buttons-new-status span.first-child {
    background: url('../../images/lecm-orgstructure/icons_alfresco_top-menu-65.png') no-repeat 4px 4px;
}
#lecm-menu .statemachine-menu #menu-buttons-machine-properties span.first-child {
    background: url('../../images/lecm-orgstructure/icons_alfresco_top-menu-65.png') no-repeat 4px 4px;
}

#lecm-menu .statemachine-menu #menu-buttons-machine-deploy span.first-child {
	background: url('../../images/lecm-orgstructure/icons_alfresco_top-menu-65.png') no-repeat 4px 4px;
}
