#lecm-menu .statemachine-menu #menu-buttons-status-menu-button span.first-child {
    background: url('/share/res/images/lecm-statemachine-editor/new_status.png') no-repeat 4px 4px;
}

#lecm-menu .statemachine-menu #menu-buttons-properties-menu-button span.first-child {
    background: url('/share/res/images/lecm-statemachine-editor/properties.png') no-repeat 4px 4px;
}

#lecm-menu .statemachine-menu #menu-buttons-machine-deploy span.first-child {
	background: url('/share/res/images/lecm-statemachine-editor/deploy.png') no-repeat 4px 4px;
}

#lecm-menu .statemachine-menu #menu-buttons-default-machine-deploy span.first-child {
    background: url('/share/res/images/lecm-statemachine-editor/deploy.png') no-repeat 4px 4px;
}

#lecm-menu .statemachine-menu #menu-buttons-machine-export span.first-child {
	background: url('../../res/images/lecm-orgstructure/alf_orgstructure_podrazdel_32.png') no-repeat 4px 4px;
}

/*import xml block*/
.import-xml {
    position: relative;
}

.import-xml button {
    background: url("../../res/images/lecm-orgstructure/alf_orgstructure_podrazdel_32.png") no-repeat 4px 4px;
    cursor: pointer;
}
.import-xml {
    position: relative;
    overflow: hidden;
}
.import-xml input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    font-size: 30px;
}

