.dashlet.business-journal a,
.dashlet.business-journal a:hover,
.dashlet.business-journal a:visited {
    color: #0600cc;
}
.dashlet.business-journal.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.business-journal .toolbar {
    white-space: nowrap;
}
.dashlet.business-journal .body .row {
	line-height: 16px;
	margin: 10px;
}                                                                                                                       `
