.dashlet.business-journal a,
.dashlet.business-journal a:hover,
.dashlet.business-journal a:visited {
    color: #0600cc;
}
.dashlet.business-journal.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.business-journal .controls {
    padding: 2px 5px;
}
.dashlet.business-journal .controls form {
    white-space: nowrap;
}
.dashlet.business-journal .results {
    margin: 10px 20px 10px 10px;
}
.dashlet.business-journal .results .row {
    line-height: 24px;
}                                                                                                                       `
