/* TODO: Нужно поменять иконки на подходящие */

#lecm-menu #menu-buttons #menu-buttons-userProfileAbsenceBtn span.first-child {
    background: url('/share/res/images/lecm-user-profile/lecm-user-profile_absence-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileDelegationBtn span.first-child {
    background: url('/share/res/images/lecm-delegation/delegation_32.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileInstantAbsenceBtn span.first-child {
    background: url('/share/res/images/lecm-user-profile/lecm-user-profile_instant-absence-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileErrandsSettingsBtn span.first-child {
	background: url('/share/res/images/lecm-user-profile/lecm-user-profile_user-settings-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileNotificationsSettingsBtn span.first-child {
	background: url('/share/res/images/lecm-user-profile/lecm-user-profile_user-settings-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileAppletSettingsBtn span.first-child {
	background: url('/share/res/images/lecm-user-profile/lecm-user-profile_user-settings-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-userProfileDistributionTasksBtn span.first-child {
	background: url('/share/res/images/lecm-user-profile/lecm-user-profile_user-settings-3.png') no-repeat 4px 4px;
}
