.form-container .coexecutors-report .show-declined-block label {
    display: inline;
}

.form-container .coexecutors-report .show-declined-block {
    text-align: right;
}

.datagrid .action-set .onActionAcceptCoexecutorReport a {
    background-image: url(/share/res/images/lecm-errands/accept.png);
}

.datagrid .action-set .onActionDeclineCoexecutorReport a {
    background-image: url(/share/res/images/lecm-errands/decline.png);
}

.datagrid .action-set .onActionEditCoexecutorReport a {
    background-image: url(/share/res/components/images/edit-16.png);
}

.datagrid .grid {
    overflow: hidden;
}

.datagrid .grid table .expand-row .label-div {
    width: 130px;
    padding-left: 50px;
}

.form-field.with-grid.coexecutors-report .coexecutors-reports-additional-block .reports-filter-block {
    float: left;
}

.form-field.with-grid.coexecutors-report .coexecutors-reports-additional-block .reports-filter-block > label {
    float: right;
}

.form-field.with-grid.coexecutors-report .coexecutors-reports-additional-block .reports-transfer-block {
    float: right;
}

.form-field.with-grid.coexecutors-report .datagrid {
    clear: both;
}

.datagrid .grid table tbody tr.declined {
    background-color: #ffe1e1;
}
