.form-container .coexecutors-report .show-declined-block label {
    display: inline;
}

.form-container .coexecutors-report .show-declined-block {
    text-align: right;
}

.datagrid .action-set .onActionAcceptCoexecutorReport a {
    background-image: url(/share/res/images/lecm-errands/accept.png);
}

.datagrid .action-set .onActionDeclineCoexecutorReport a {
    background-image: url(/share/res/images/lecm-errands/decline.png);
}

.datagrid .action-set .onActionEditCoexecutorReport a {
    background-image: url(/share/res/components/images/edit-16.png);
}

.datagrid .grid {
    overflow: hidden;
}

.datagrid .grid table .expand-row .label-div {
    width: 130px;
    padding-left: 50px;
}