.form-container .coexecutors-report .show-declined-block label {
	display: inline;
}

.form-container .coexecutors-report .show-declined-block {
	text-align: right;
}

.datagrid .action-set .onActionAcceptCoexecutorReport a {
	background-image: url(../../images/lecm-errands/accept.png);
}
.datagrid .action-set .onActionDeclineCoexecutorReport a {
	background-image: url(../../images/lecm-errands/decline.png);
}