.errands-list-filter {
	display: inline-block;
	vertical-align: top;
}

.create-errand-action {
	display: inline-block;
	vertical-align: top;
	padding-top: 5px;
}
.create-errand-action.lecm-dashlet-actions .add {
	margin-left: 13px;
}

.errands-list-filter > select {
	margin-left: 13px;
	height: 28px;
}

.workflow-task-item .workflow-task-title {
	font-size: 16px;
}

.right-errand {
    margin-bottom: 5px;
}

.total-errands-count-right {
    background: #ff7504;
    color: #fff;
    border-radius: 6px;
    padding: 4px 8px;
}

.errands-panel .short-view span.first-child {
	background: url('../../images/lecm-documents/components/errands.png') no-repeat 5px 5px;
}
