.errands-limitation-date-set .label-div,
.errands-limitation-date-set .control span.help-icon {
    display: none;
}
.errands-limitation-date-set .errands-limitation-date-set-radio {
    float: left;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .label-div {
    display:block;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control .container  {
    min-width: 32px;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control .value-div {
    width: 24px;
    padding: 0;
    margin-right: 8px;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control label.checkbox {
    width: 32px;
    height: 36px;
    margin: 0 0 4px;
    display: inline-block;
    box-sizing: border-box;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control label.checkbox:before {
    top: 6px;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control label.checkbox:last-of-type {
    margin-bottom: 0;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .buttons-div {
    padding: 0;
}
.errands-limitation-date-set .errands-limitation-date-set-days {
    float: left;
    overflow: hidden;
    width: 50px;
    margin-right: 4px;
}
.errands-limitation-date-set .errands-limitation-date-set-days .control .value-div input {
    width: 50px;
}

.errands-limitation-date-set .errands-limitation-date-set-type {
    float: left;
    width: calc(100% - 302px);
}

.errands-limitation-date-set .errands-limitation-date-set-date {
    float: left;
    width: calc(100% - 248px);
}

.errands-limitation-date-set .errands-limitation-date-set-limitless {
    float: left;
}
.errands-limitation-date-set .errands-limitation-date-set-limitless .control {
    margin-bottom: 0;
}
.errands-limitation-date-set .errands-limitation-date-set-limitless .control .value-div {
    line-height: 32px;
}
