.hidden-disable .hidden1 {
    display: block;
}
.yui-skin-lecmTheme .form-container .form-buttons.form-4-buttons{
    width: 100%;
    padding: 0 1em 1em 100px;
}
.control.errands-reiteration.editmode .container .value-div{
    margin-bottom:0;
}