.errands-settings {
    margin: 16px 10px 10px;
}

.errands-settings .title {
    font-size: 123.1%;
    font-weight: bold;
    padding-bottom: 0.75em;
}

.errands-settings .control.checkbox-control {
    margin-left: -2px;
}

.errands-settings .control.checkbox-control .label-div {
    width: 0;
    padding: 0;
}

.yui-skin-lecmTheme .admin-page .errands-settings .form-container .form-buttons {
    padding-left: 0;
    margin-left: 10px;
}

.errands-settings .set .set-title {
    border-bottom: none;
    font-weight: bold;
}

.errands-settings .set .periodicallySettings .label-div {
    text-align: right;
    width: 40%
}

.errands-settings .set .periodicallySettings .container {
    width: 58%;
}