.control.cancellation-activiti-radiobuttons > .container {
    overflow: visible;
    margin-left: 216px;
    padding-top: 6px;
}
.control.cancellation-activiti-radiobuttons > .container > .value-div {
    overflow: visible;
}

.cancellation-activiti-radiobuttons .fields-by-radiobutton {
    padding-left: 24px;
}

.cancellation-activiti-radiobuttons .radiobutton-container label {
    display: inline-block;
    padding-left: 28px;
    line-height: 24px;
}

.cancellation-activiti-radiobuttons .fields-by-radiobutton .control .label-div {
    width: 100%;
    text-align: left;
}
.cancellation-activiti-radiobuttons .fields-by-radiobutton .control .label-div ~ .container {
    margin-left: 0;
    clear: both;
}
.cancellation-activiti-radiobuttons .fields-by-radiobutton .checkbox-control .label-div {
    display: none;
}
