/* Дашлет Мои поручения */
.body.scrollableList .my-errands {
    width: 100%;
}
.body.scrollableList .my-errands td {
    padding: 0;
    border-bottom: 1px solid #E5E5E5;
}
.body.scrollableList .my-errands td .yui-dt-liner {
    padding: 8px;
}
.body.scrollableList .my-errands td .info a {
    font-weight: bold;
}
.body.scrollableList .my-errands td .expired {
    color: #EB5757;
}
.body.scrollableList .my-errands td.icons {
    width: 32px;
    vertical-align: top;
}
.body.scrollableList .my-errands td.icons .yui-dt-liner {
    padding: 8px 0 8px 16px;
}
.body.scrollableList .my-errands td.icons .errand-is-important,
.body.scrollableList .my-errands td.icons .errand-base-doc {
    width: 16px;
    height: 16px;
    background-image: url(../../images/lecm-base/icons.svg);
    background-repeat: no-repeat;
    margin-bottom: 4px;
}
.body.scrollableList .my-errands td.icons .errand-is-important {
    background-position: -1328px -48px;
}
.body.scrollableList .my-errands td.icons .errand-base-doc {
    background-position: -608px -240px;
}
.body.scrollableList .my-errands td.icons .yui-dt-liner div:last-child {
    margin: 0;
}

/* Дашлет Выданные мной поручения */
.dashlet.issued-errands .body .row.summary {
    height: 32px;
    margin: 0;
    padding: 8px 16px;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
    overflow: hidden;
}
.dashlet.issued-errands .body .row .column {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
}
.dashlet.issued-errands .body .row .column.second,
.dashlet.issued-errands .body .row .column.third {
    width: 40px;
    float: right;
    text-align: right;
}
.dashlet.issued-errands .body .row .column.second a {
    color: #046399;
    font-weight: bold;
}
.dashlet.issued-errands .body .row .column.third a {
    color: #EB5757;
}
.dashlet.issued-errands .body .row .column.first {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: none;
}
.dashlet.issued-errands .body .row .column.first.bold {
    font-weight: bold;
}
