.errands-limitation-date-set .label-div,
.errands-limitation-date-set .control span.help-icon {
    display: none;
}

.errands-limitation-date-set .errands-limitation-date-set-radio {
    float: left;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control .value-div {
    width: 20px;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control label.checkbox {
    display: none;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control input {
    margin-top: 8px;
    margin-bottom: 22px;
}

.errands-limitation-date-set .errands-limitation-date-set-days {
    float: left;
    overflow: hidden;
    width: 50px;
}
.errands-limitation-date-set .errands-limitation-date-set-days .control .value-div input {
    width: 40px;
}
.errands-limitation-date-set .errands-limitation-date-set-days .control.editmode .container .value-div input[type=text] {
    margin-bottom: 0;
}


/*.errands-limitation-date-set-date .control.date .container {*/
	/*min-width: 100px !important;*/
/*}*/

/*.errands-limitation-date-set .errands-limitation-date-set-date .control.date,*/
/*#yui-main .document-metadata .errands-limitation-date-set .errands-limitation-date-set-date .control.date {*/
    /*width: 150px;*/
/*}*/

.errands-limitation-date-set .errands-limitation-date-set-limitless {
    float: left ;
    width:calc(100% - 220px);
}

.errands-limitation-date-set .errands-limitation-date-set-type {
    float: left;
    width: calc(100% - 270px);
}

.errands-limitation-date-set .errands-limitation-date-set-date {
    float: left;
    width: calc(100% - 220px);
}
.errands-limitation-date-set .errands-limitation-date-set-date .control {
    margin-bottom: 0;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .control input:last-of-type {
    margin-top: 14px;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .label-div{
    display:block;
}
.errands-limitation-date-set .errands-limitation-date-set-radio .container  {
    min-width: 10px;
    float:left;
}