.dashlet.errands .body .row {
    line-height: 16px;
    margin: 10px;
}

.yui-u .dashlet.issued-errands .body.dashlet-body {
    padding: 0;
}
.dashlet.issued-errands .body .row.summary {
    line-height: 16px;
    margin: 0;
    padding: 10px 1em;
    border-bottom: 1px solid #d7d7d7;
    overflow: hidden;
}
.dashlet.issued-errands .body .row .column {
    margin: 0;
}
.dashlet.issued-errands .body .row .column.first {
    width: auto;
    margin-left: 10px;
}
.dashlet.issued-errands .body .row .column.first.bold {
    font-weight: bold;
    margin-left: 0;
}
.dashlet.issued-errands .body .row .column.second {
    margin: 0 0 0 10px;
    float: left;
}
.dashlet.issued-errands .body .row .column.third {
    margin: 0 0 0 5px;
    color: red;
    float:left;
}

.grid .dashlet.issued-errands .body .row .column.second a {
    font-weight: bold;
}

.dashlet .titleBarActions .arm {
    background-image: url('../../images/lecm-errands/arm.png');
}

.expired {
    color: #cd853f;
    display: inline;
}

.body.scrollableList .my-errands .yui-dt-liner.image {
    padding: 4px 0;
}

.body.scrollableList .my-errands tr.yui-dt-rec.yui-dt-odd {
    background-color: #FFFFFF;
}

.body.scrollableList .my-errands td.image {
    width: 16px;
}

.body.scrollableList .my-errands td {
    border-bottom: 1px dashed #D9D9D9;
}

.body.scrollableList .my-errands td .info a{
    font-weight:bolder;
}

.body.scrollableList .my-errands {
    width: 100%;
}