.coexecutor-report-expand-set .coexecutor-report-expand-actions div > span {
    margin: 2px;
    min-width: 150px;
}

.coexecutor-report-expand-set .coexecutor-report-expand-actions span span button {
    width: 100%;
}

.coexecutor-report-expand-set .coexecutor-report-expand-actions {
    float: right;
    width: 160px;
    padding-left: 0.5%;
    border-left: 1px solid #ccc;
    text-align: center;
}

.coexecutor-report-expand-set .coexecutor-report-expand-fields {
    float: left;
    width: calc(100% - 180px);
    padding-right: 0.5%;
}

.coexecutor-report-expand-set .coexecutor-report-expand-fields.full-width {
    float: none;
    width: 100%;
}

.coexecutor-report-expand-set .coexecutor-report-expand-actions.hidden {
    display: none;
}