.coexecutor-report-expand-set .yui-u.first {
    width: 79%;
}
.coexecutor-report-expand-set .yui-u {
    width: 19%;
    margin-left: 1%;
    border-left: 1px solid #ccc;
}

.coexecutor-report-expand-set .coexutor-report-actions-div > span {
    margin: 2px;
}
.coexecutor-report-expand-set .coexutor-report-actions-div {
    text-align: center;
    padding-top:10px;
}