.hidden-disable .hidden1 {
     display: block;
}
.yui-skin-lecmTheme .form-container .form-buttons.form-4-buttons {
    padding: 8px 8px 8px 0;
    text-align: right;
}
.control.errands-reiteration.editmode .container .value-div {
    margin-bottom: 0;
}
.errands-limitation-date-set {
    width: 100%;
}
.errands-limitation-date-set .errands-limitation-date-set-type {
    float: left;
    width: calc(100% - 222px);
}
.errands-limitation-date-set .errands-limitation-date-set-date {
    float: left;
    width: calc(100% - 168px);
}