
.yui-g.primary-routing-form fieldset {
    border: none;
    padding: 0;
}
.yui-g.primary-routing-form .label-div {
    width: 120px;
}
.yui-g.primary-routing-form .yui-u.first .label-div {
    width: 100px;
}
.yui-g.primary-routing-form legend {
    width: 120px;
    float: left;
    line-height: 28px;
    padding: 2px 10px 2px 0;
    font-size: 100%;
    text-align: right;
}
.yui-g.primary-routing-form .yui-u.first {
    width: 53%;
}
.yui-g.primary-routing-form .yui-u {
    width: 47%;
}

.yui-skin-lecmTheme.alfresco-share .yui-g.primary-routing-form div.yui-u {
    padding: 0;
}

.primary-routing .errands-limitation-date-set .errands-limitation-date-set-limitless {
    overflow: hidden;
    width:auto;
}

.primary-routing .errands-limitation-date-set .errands-limitation-date-set-radio .label-div{
    display:none;

}
.primary-routing .errands-limitation-date-set .errands-limitation-date-set-radio .control input:last-of-type {
    margin-top: 8px;
}

.errands-limitation-date-set .errands-limitation-date-set-radio {
    float: left;
    width: 20px;
}

.primary-routing-form  .errands-limitation-date-set .errands-limitation-date-set-type {
    width: calc(100% - 210px);
}

.primary-routing-form  .errands-limitation-date-set .errands-limitation-date-set-date {
    width: calc(100% - 160px);
}