.primary-routing .errands-limitation-date-set .errands-limitation-date-set-limitless {
    overflow: hidden;
    width:auto;
}

.primary-routing .errands-limitation-date-set .errands-limitation-date-set-type {
    overflow: hidden;
    width: auto;
    float: none;
}

.primary-routing .errands-limitation-date-set .errands-limitation-date-set-date {
    float: left;
    width: calc(100% - 150px);
}

.primary-routing .errands-limitation-date-set .errands-limitation-date-set-radio .label-div{
    display:none;

}
.primary-routing .errands-limitation-date-set .errands-limitation-date-set-radio .control input:last-of-type {
    margin-top: 8px;
}

.errands-limitation-date-set .errands-limitation-date-set-radio {
    float: left;
    width: 20px;
}