.errands-wf-duedate-set .label-div,
.errands-wf-duedate-set .control span.help-icon {
    display: none;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio {
    float: left;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .control .value-div {
    width: 20px;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .control label.checkbox {
    display: none;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .control input {
    margin-top: 8px;
    margin-bottom: 10px;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .control .buttons-div {
    padding: 0;
}
.errands-wf-duedate-set .errands-wf-duedate-set-limitless .control .container {
    margin-top: 2px;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .control input:last-of-type {
     margin-top: 14px;
 }
.errands-wf-duedate-set .errands-wf-duedate-set-radio .label-div{
    display:block;
}
.errands-wf-duedate-set .errands-wf-duedate-set-radio .container  {
    min-width: 10px;
    float:left;
}
.errands-wf-duedate-set .errands-wf-duedate-set-date{
    float: left;
    width: calc(100% - 220px);
}
.errands-wf-duedate-set .errands-wf-duedate-set-date .control{
    margin-bottom: 0;
}
.errands-wf-duedate-set .errands-wf-duedate-set-limitless {
    float: left ;
}