.yui-skin-lecmTheme .yui-panel.contractor-form-edit {

}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .hd,
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .bd div.form-buttons {
    height: 40px;
    background: #bae6f4;
    border: none;
    margin: 0;
    line-height: 40px;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .hd {
    font-size: 16px;
    font-weight: bold;
    color: #076a8d;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .bd div.form-buttons {
    padding-right: 0;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .bd div.form-buttons span.yui-button {
    margin-top: 6px;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit .bd div.form-buttons span.yui-button:last-of-type {
    margin-right: 10px;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit a.container-close {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    border-radius: 0;
    background: url("/share/res/images/lecm-base/components/window_close_16.png") no-repeat;
    opacity: .5;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit a.container-close:hover {
    opacity: .8;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit a.container-close:active {
    opacity: 1;
}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit {

}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit {

}
.yui-skin-lecmTheme .yui-panel.contractor-form-edit {

}
