.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit {
    border: 1px solid #777;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .hd,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .bd div.form-buttons,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .hd,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .bd div.form-buttons {
    height: 40px;
    background: #bae6f4;
    border: none;
    margin: 0;
    line-height: 40px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .hd,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .hd {
    font-size: 16px;
    font-weight: bold;
    color: #076a8d;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .bd div.form-buttons,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .bd div.form-buttons {
    padding-right: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .bd div.form-buttons span.yui-button,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .bd div.form-buttons span.yui-button {
    margin-top: 6px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .bd div.form-buttons span.yui-button:last-of-type,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .bd div.form-buttons span.yui-button:last-of-type {
    margin-right: 10px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit a.container-close,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit a.container-close {
    width: 16px;
    height: 16px;
    top: 10px;
    right: 10px;
    border-radius: 0;
    background: url("/share/res/images/lecm-base/components/window_close_16.png") no-repeat;
    opacity: .5;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit a.container-close:hover,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit a.container-close:hover {
    opacity: .8;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit a.container-close:active,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit a.container-close:active {
    opacity: 1;
}


.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li {
    margin: 0 5px 0 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li a,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li a {
    background: #eaeaea;
    border: 1px solid #d2d2d2;
    border-bottom-width: 0;
    border-radius: 5px 5px 0 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li a em,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li a em {
    padding: 7px 15px 6px;
    border: none;
    font-size: 13px;
    font-weight: bold;
    color: #303030;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected {
    margin-bottom: -1px;
    position: relative;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected a,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected a {
    background: #fff;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li:first-of-type.selected a:after,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li:first-of-type.selected a:after {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #fff;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected a em,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-nav li.selected a em {
    padding-bottom: 7px;
    color: #076a8d;
}


.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-content,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-content {
    margin: 0;
    border: none;
    border-left: 1px solid #d2d2d2;
    border-radius: 0 5px 5px 5px;
    padding: 0;
    background: #eaeaea;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit .yui-navset .yui-content > div,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit .yui-navset .yui-content > div {
    overflow: hidden;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    background: #fff;
    margin-left: -1px;
    padding: 17px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields {
    padding: 10px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field label,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field label {
    width: 150px;
    float: none;
    display: inline-block;
    padding-right: 12px;
    text-align: right;
    font-size: 13px;
    color: #303030;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field label .mandatory-indicator,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field label .mandatory-indicator {
    position: absolute;
    margin-left: 3px;
    color: #f00;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field select,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field select {
    width: 425px;
    float: none;
    display: inline-block;
}
/* object-finder and autocomplete-block */
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block {
    width: 428px;
    float: right;
    margin: 0;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block input.autocomplete-input,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block input.autocomplete-input,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
    width: 388px;
    margin: 0 5px 0 0;
    float: left;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder .show-picker,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block .show-picker,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.object-finder .show-picker,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.form-field div.autocomplete-block .show-picker {
    margin: 0;
    float: right;
}


/* Настройки для конкретных табов */
/* Таб "Коды" */
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field label,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field label {
    width: 60px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.metadata-form-edit.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field select,
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field input[type="text"],
.yui-skin-lecmTheme .yui-panel.lecm-contractor_contractor-type_edit div.form-fields div.yui-content div.tab-codes div.form-field select {
    width: 515px;
}
