.datagrid div.simple a.action-link,
.datagrid div.simple a.datagrid-action-link,
.datagrid div.simple a.simple-link,
.datagrid div.simple a.show-more {
    cursor: pointer;
}
.datagrid .onActionExportXML a {
    background-image: url("../../../images/lecm-dictionary/xml-file-16.png");
}
.datagrid .onActionVersion a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_versions_16.png");
}
.datagrid .onActionEmployeeAdd a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_naznachit_16.png");
}
.datagrid .onActionEmployeeDelete a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_snyat_16.png");
}
.datagrid .onActionMakeBoss a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_rukovod_16.png");
}
.datagrid .onActionMakePrimary a {
    background-image: url("../../../images/lecm-base/components/base/alf_base_osnovnaya_16.png");
}
.datagrid .show-archive-cb-div {
    padding: 5px;
    text-align: right;
}
.datagrid .show-archive-cb-div input.formsCheckBox,
.datagrid .show-archive-cb-div input.formsCheckBox + label.checkbox {
    vertical-align: middle;
}

/*Дублирование свойств action-link в datagrid-action-link*/
.datagrid a.datagrid-action-link
{
    background-position: 4px 1px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;
}
.datagrid .more-actions a.datagrid-action-link
{
    border: 1px solid #fff;
}
.datagrid div.simple a.datagrid-action-link
{
    background-position: 4px 0;
    min-height: 16px;
    padding: 0 0 0 24px;
}
.datagrid div.simple a.datagrid-action-link span
{
    display: none;
}
.datagrid div.simple div.more-actions a.datagrid-action-link span
{
    display: block;
}

.datagrid .expandRow a {
    background-image: url("/share/res/images/lecm-base/components/triangle_down.png");
}

.datagrid .expanded .expandRow a {
    background-image: url("/share/res/images/lecm-base/components/triangle_up.png");
}

.form-field.with-grid.grid-control{
    clear: both;
}
