.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-start-date,
.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-end-date,
.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-unlimited,
.yui-skin-lecmTheme .lecm-daterange-control .datarange-start-date,
.yui-skin-lecmTheme .lecm-daterange-control .datarange-end-date,
.yui-skin-lecmTheme .lecm-daterange-control .datarange-unlimited {
	float: left;
}

.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-unlimited div.form-field,
.yui-skin-lecmTheme .lecm-daterange-control .datarange-unlimited div.form-field {
	width: auto;
	margin-left: 20px;
}

.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-end-date div.form-field > div:not(.datagrid):not(.viewmode-field):not(.subscribe),
.yui-skin-lecmTheme .lecm-daterange-control .datarange-end-date div.form-field > div.viewmode-field {
	margin-left: 15px;
}

.yui-skin-lecmTheme .yui-panel .lecm-daterange-control .datarange-end-date div.form-field label,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .lecm-daterange-control .datarange-end-date div.form-field label,
.yui-skin-lecmTheme div.metadata-form div.lecm-daterange-control div.datarange-end-date div.form-field span.viewmode-label,
.yui-skin-lecmTheme div.metadata-form div.lecm-daterange-control div.datarange-unlimited div.form-field span.viewmode-label {
	width: auto;
}
.yui-skin-lecmTheme div.metadata-form div.lecm-daterange-control div.datarange-unlimited {
    margin-left: 10px;
}
.yui-skin-lecmTheme div.metadata-form div.set div.lecm-daterange-control div.datarange-start-date div.form-field span.viewmode-value,
.yui-skin-lecmTheme div.metadata-form div.set div.lecm-daterange-control div.datarange-end-date div.form-field span.viewmode-value,
.yui-skin-lecmTheme div.metadata-form div.set div.lecm-daterange-control div.datarange-unlimited div.form-field span.viewmode-value {
	width: 78px;
}

.yui-skin-lecmTheme div.lecm-daterange-control .datarange-start-date div.form-field a img.datepicker-icon,
.yui-skin-lecmTheme div.lecm-daterange-control .datarange-end-date div.form-field a img.datepicker-icon {
     margin: 0.4em 0.4em;
}
