.dnd-uploader ul.attachments-list {
    width: 295px;
    min-height: 102px;
    margin: 0 30px 0 0;
    float: left;
    padding: 0 !important;
    border: 1px solid #666;
}
.dnd-uploader ul.attachments-list li img {
    margin: 0 5px;
}
.dnd-uploader ul.attachments-list li > div {
    width: 200px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dnd-uploader ul.attachments-list li img.remove-icon {
    margin-right: 0;
    cursor: pointer;
}
.dnd-uploader div.uploader-block {
    float: left;
    margin: -12px 0 0 !important;
}
.dnd-uploader div.uploader-block fieldset {
    width: 150px;
    height: 90px;
    border: 2px dashed #9d9d9d;
    padding: 10px;
    text-align: center;
    white-space: normal;
}
.dnd-uploader div.uploader-block fieldset legend {
    color: #666;
}
.dnd-uploader .uploader-block.dndDocListHighlight fieldset {
    border: 2px solid #4F94C9;
}
.dnd-uploader .uploader-block img.uploader-button {
    margin: 0 0 5px;
    cursor: pointer;
}
.dnd-uploader .uploader-block span.drag-tip {
    color: #a7a7a7;
    line-height: 16px;
}
