.dnd-uploader ul.attachments-list {
    width: 300px;
    margin-left: 0;
    float: left;
    padding: 0 !important;
}
.dnd-uploader ul.attachments-list li img {
    margin-right: 10px;
}
.dnd-uploader div.uploader-block {
    float: right;
    margin: 0 10px 0 0 !important;
}
.dnd-uploader div.uploader-block fieldset {
    width: 350px;
    height: 120px;
    border: 2px dashed #9d9d9d;
    padding: 10px;
    text-align: center;
    white-space: normal;
}
.dnd-uploader div.uploader-block fieldset legend {
    color: #666;
}
.dnd-uploader .uploader-block.dndDocListHighlight fieldset {
    border: 2px solid #4F94C9;
}
.dnd-uploader .uploader-block img.uploader-button {
    margin: 5px 0 10px;
    cursor: pointer;
}
.dnd-uploader .uploader-block span.drag-tip {
    color: #a7a7a7;
}
