.from-with-preview > .yui-g > .yui-u.first {
	width: 600px;
	overflow: hidden;
}

.documents-list-create-dialog-container .from-with-preview > .yui-g > .yui-u.first {
	width: 600px;
}

.from-with-preview > .yui-g > .yui-u {
	width: 405px;
	height: 525px;
	overflow-x: hidden;
	overflow-y: auto;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field > label,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field div.viewmode-field span.viewmode-label {
	width: 190px;
	text-align: left;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field > div:not(.datagrid):not(.viewmode-field):not(.subscribe) {
	margin-left: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field > div.format-info {
	margin-top: 22px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .two-column div.form-field div.autocomplete-block input.autocomplete-input,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .two-column div.form-field div.object-finder .current-values{
	width: 149px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field div.object-finder .show-picker,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u div.form-field div.autocomplete-block div.show-picker {
	margin-right: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .two-column div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .two-column div.form-field div.selectone-control select,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .two-column div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
	width: 160px;
	overflow: hidden;
    float: left;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .two-column div.date-block + a,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .two-column input.date-entry + a {
	position: absolute;
	bottom: 8px;
	right: 0;
}

.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item > span > a,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item-even > span > a,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item > span > a,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item-even > span > a {
	max-width: 130px;
}

.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplay div.association-auto-complete-selected-item-even > span.not-person,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel .from-with-preview .two-column div.form-field div.autocompleteCurrentValueDisplayInvisible div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 130px;
}

.from-with-preview  div.association-auto-complete-selected-item > span > a,
.from-with-preview  div.association-auto-complete-selected-item-even > span > a {
	max-width: 245px;
}

.from-with-preview  div.association-auto-complete-selected-item > span.not-person,
.from-with-preview  div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 270px;
}

.from-with-preview .two-column div.association-auto-complete-selected-item > span.not-person,
.from-with-preview .two-column div.association-auto-complete-selected-item-even > span.not-person {
	max-width: 120px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.set > div.form-field > input.formsCheckBox,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.set > div.yui-g > div.yui-u div.form-field > input.formsCheckBox {
	margin-left: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field {
	margin-bottom: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field > input.date-entry {
	margin-bottom: 0;
}

.yui-skin-lecmTheme .yui-panel .from-with-preview div.form-field div.show-picker {
	margin-bottom: 0;
}

.from-with-preview .object-finder .current-values {
	margin-bottom: 0;
}

.alfresco-share .yui-panel .from-with-preview .bd div.yui-gd,
.alfresco-share .yui-panel .from-with-preview .bd div.yui-u,
.alfresco-share .yui-panel .from-with-preview .bd div.form-buttons,
.alfresco-share .yui-panel .from-with-preview .bd div.bdft {
	padding: 0 0.3em 0 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.set div.yui-g div.yui-u {
	padding-bottom: 0;
	padding-top: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.form-field > input.date-entry ~ div.format-info {
	top: 55px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview .previewer {
	text-align: center;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview .previewer.WebPreviewer {
	height: auto;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview embed,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview object {
	height: 500px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview .previewer.PdfJs {
	max-height: 500px !important;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .web-preview .previewer.PdfJs .viewer.documentView {
	max-height: 500px !important;
}

.yui-panel.metadata-form-edit .from-with-preview .two-column div.association-auto-complete-selected-item > span.not-person,
.yui-panel.metadata-form-edit .from-with-preview .two-column div.association-auto-complete-selected-item > span > a {
	max-width: 120px;
}

.yui-panel.metadata-form-edit .from-with-preview div.association-auto-complete-selected-item > span > a, .yui-panel.metadata-form-edit div.association-auto-complete-selected-item > span.not-person {
	max-width: 260px;
}