.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder .current-values {
	width: 75%;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.selectone-control select,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.yui-g div.yui-u div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
	width: 90%;
	overflow: hidden;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u .full-width div.form-field div.autocomplete-block input.autocomplete-input {
	width: 75%;
}