.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field textarea {
	width: 770px;
	overflow: hidden;
	overflow-y: auto;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field textarea {
	width: 765px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit div.yui-g div.yui-u .full-width div.form-field textarea {
	width: 387px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field select {
	width: 352px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span > a .yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item-even > span > a ,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span.not-person
{
    max-width: 310px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field select {
	width: 735px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field select {
	width: 730px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.object-finder.with-two-buttons .current-values {
	width: 314px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder.with-two-buttons .current-values {
	width: 695px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder .show-picker {
	margin-right: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field .attachments-list {
 	width: 405px;
	margin-top: 15px;
}
