.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field textarea {
	width: 825px;
	overflow: hidden;
	overflow-y: auto;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field textarea {
	width: 815px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .full-width div.form-field input[type=text]:not(.autocomplete-input),
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .full-width div.form-field textarea,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .full-width div.form-field select,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .full-width div.form-field div.autocomplete-block div.autocompleteCurrentValueDisplayInvisible {
	width: 387px;
    float:left;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview div.yui-g div.yui-u .full-width div.form-field .with-one-button select {
	width: 350px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.autocomplete-block input.autocomplete-input{
	width: 350px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span > a .yui-skin-lecmTheme .yui-panel div.form-field div.association-auto-complete-selected-item-even > span > a ,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span.not-person,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.association-auto-complete-selected-item > span.not-person
{
    max-width: 310px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field select {
	width: 790px;
}
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field div.object-finder .current-values,
.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field select {
	width: 780px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .from-with-preview .full-width div.form-field div.object-finder.with-two-buttons .current-values {
	width: 314px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder.with-two-buttons .current-values {
	width: 750px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field div.object-finder.with-two-buttons .current-values {
	width: 740px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field div.object-finder .show-picker {
	margin-right: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field .attachments-list {
 	width: 620px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field.dnd-uploader div.uploader-block  {
 	margin-left: 0;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .full-width div.form-field .mceEditor > table {
	width: 825px;
}

.yui-skin-lecmTheme .yui-panel.metadata-form-edit .form-tabs .full-width div.form-field .mceEditor > table {
	width: 815px;
}
