/* Work groups */
#orgstructure-work-groups #alf-content .toolbar.datalist-toolbar {
    margin: 0 -5px 0 -10px;
}
#orgstructure-work-groups #alf-content .grid.yui-dt {
    margin-left: -5px;
}
#orgstructure-work-groups #alf-filters .grid.yui-dt {
    margin: 0 5px;
}
#orgstructure-work-groups #alf-content .toolbar.datalist-toolbar,
#orgstructure-work-groups #alf-filters .toolbar.datalist-toolbar {
    overflow-x: hidden;
}
#orgstructure-work-groups #alf-content .toolbar.datalist-toolbar .header-bar,
#orgstructure-work-groups #alf-filters .toolbar.datalist-toolbar .header-bar {
    min-width: 400px;
}
#orgstructure-work-groups #alf-filters .grid tr.yui-dt-highlighted {
    cursor: pointer;
}