.dp-highlighter th, .dp-highlighter td {
    border:0;
    padding:0;
}
.dp-highlighter .line1, .dp-highlighter  .line2 {
    padding-left:10px;
    white-space:nowrap;
}
.ft {
    margin-top:1em;
}

#orgstructure-tree {
	min-width: 100%;
	overflow: auto;
}

#orgstructure-tree .icon-unit:hover, #orgstructure-tree .icon-employee:hover {
    text-decoration: underline; /* Добавляем подчеркивание */
}

#orgstructure-tree .ygtvfocus,
#orgstructure-tree .ygtvfocus .ygtvlabel,
#orgstructure-tree .ygtvfocus .ygtvlabel:link,
#orgstructure-tree .ygtvfocus .ygtvlabel:visited,
#orgstructure-tree .ygtvfocus .ygtvlabel:hover
{
    background-color:white;
}

#orgstructure-view-form{
    visibility:hidden;
    display:none;
}

#orgstructure-tree .unit-icon {
    display:block;
    height: 22px;
    padding-left: 20px;
    background: url('/share/res/images/lecm-base/components/organisation_16.png') no-repeat;
}
#orgstructure-tree .employee-icon {
    display:block;
    height: 22px;
    padding-left: 20px;
    background: url('/share/res/components/images/filetypes/generic-user-16.png') no-repeat;
}