.dp-highlighter th,
.dp-highlighter td {
    border:0;
    padding:0;
}
.dp-highlighter .line1,
.dp-highlighter  .line2 {
    padding-left:10px;
    white-space:nowrap;
}
.ft {
    margin-top:1em;
}

.orgstructure-tree {
	min-width: 100%;
	overflow: auto;
}

.orgstructure-tree .unit-icon:hover,
.orgstructure-tree .employee-icon:hover {
    text-decoration: underline;
    cursor: pointer;
}

.orgstructure-tree .ygtvfocus,
.orgstructure-tree .ygtvfocus .ygtvlabel,
.orgstructure-tree .ygtvfocus .ygtvlabel:link,
.orgstructure-tree .ygtvfocus .ygtvlabel:visited,
.orgstructure-tree .ygtvfocus .ygtvlabel:hover {
    background-color:white;
}

#orgstructure-arm-view-form {
    visibility:hidden;
    display:none;
}

.orgstructure-tree .unit-icon {
    display:block;
    height: 16px;
    padding-left: 20px;
    background: url('../../images/lecm-base/components/organisation_16.png') no-repeat;
    white-space: nowrap;
}
.orgstructure-tree .employee-icon {
    display:block;
    height: 16px;
    padding-left: 20px;
    background: url('../../components/images/filetypes/generic-user-16.png') no-repeat;
    white-space: nowrap;
}

.dashlet .titleBarActions .dictionary {
    background-image: url('../../images/lecm-orgstructure/arm.png');
}

.orgstructure-dictionary .body .default-text,
.orgstructure-dictionary .body .empty {
    margin: 10px;
}

.orgstructure-dictionary .search-input {
    float:left;
}

.orgstructure-dictionary .toolbar {
    margin-top: -4px;
}

.orgstructure-dictionary .orgstructure-tree {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    position: relative;
}

.orgstructure-dictionary .orgstructure-tree:after {
    content: "";
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    filter: none; /* for IE9 */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C */
}

.orgstructure-dictionary .orgstructure-tree .ygtvrow .ygtvln,
.orgstructure-dictionary .orgstructure-tree .ygtvrow .ygtvtn {
    width: 10px;
    max-width: 10px;
    visibility:hidden;
}
