.query-page .yui-gc .query-content {
    width: auto;
    overflow: hidden;
    float: none;
    margin: 18px 5px 0;
    min-height: 500px;
}

.query-page .yui-gc .query-content #main-region {
    margin-bottom: 100px;
}

.query-page .yui-gc .query-content .select-doc-type-ctrl {
    width: 75%;
}
.query-page .yui-gc .query-content .select-doc-type-ctrl .control {
    padding-right: 10px;
    box-sizing: border-box;
}
.query-page .yui-gc .query-content .select-doc-type-ctrl .control .label-div {
    width: auto;
}

.query-page .yui-gc .doc-right-part {
    width: 25%;
    float: right;
    word-wrap: break-word;
    border-radius: 5px 0 0 5px;
    background: #f2f2f2;
}

.query-button-grey {
    margin: 5px;
    padding: 3px 6px;
    border: 1px solid transparent;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}
.query-button-grey:hover {
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
}

.alfresco-share .query-page .query-content hr {
    height: 1px !important;
    margin-top: 10px;
}

.query-page .query-content .grid thead {
    display: none;
}

.grid-vis-hdr {
    margin-top: 10px;
}

.control-width-limited {
    max-width: 500px;
    width:400px;
}

.query-page .query-content .grid-vis-hdr .grid thead {
    display: table-row-group;
}

.query-page .query-content .datagrid {
    padding: 5px 0;
}

.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td {
    vertical-align: top;
}
.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-checkbox {
    text-align: center;
    vertical-align: top;
    padding: 4px 2px 2px 2px;
}

.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-selector,
.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-case {
    padding: 2px 2px;
}
.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-selector .yui-dt-liner {
    padding-left: 0;
}
.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-selector select,
.query-page .query-content .metadata-form .datagrid .grid.yui-dt .yui-dt-data td.yui-dt-col-case select {
    width: 100%;
}

.query-page .query-content .metadata-form .datagrid tbody .control {
    text-align: left;
    margin-bottom: 0;
}
.query-page .query-content .metadata-form .datagrid tbody .control .label-div,
.query-page .query-content .metadata-form .datagrid tbody .control .value-div label {
    display: none;
}

.query-page .query-content .metadata-form .datagrid input[type=checkbox] {
    margin-top: 6px;
}

/* Контрол выбора даты/времени */
.query-page .query-content .metadata-form .datagrid .control.date .value-div div.date-entry-container,
.query-page .query-content .metadata-form .datagrid .control.date .value-div div.time-entry-container {
    width: 50%;
    float: left;
    padding-right: 5px;
    box-sizing: border-box;
}
.query-page .query-content .metadata-form .datagrid .control.date .value-div div.date-entry-container.only-date {
    width: 100%;
}

/* "На основании" : association-search control */
.query-page .query-content .metadata-form .datagrid .control.association-search .object-finder {
    margin-bottom: 5px;
}
.query-page .query-content .metadata-form .datagrid .control.association-search .object-finder .bd {
    padding: 0;
}
.query-page .query-content .metadata-form .datagrid .control.association-search .object-finder .bd .picker-items {
    margin: 2px;
}

#preferencesBlock .right {
    float: right;
}

.column-pref-div {
    padding: 2px;
}

.column-pref-cb-btn {
    vertical-align: middle;
}

.column-pref-lbl {
    vertical-align: middle;
    margin-left: 5px;
}

.datagrid .onActionDelete a {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARhJREFUeNqsU7utwkAQPF8F0IHJkaABJDqghEfk2B0AHTi1I7sEOjiJBngSOXQAHZgZNGutHBAAJ41s7c5+bnYv6/s+jE/TNDk+ayCX6QakoihuY27mEyhwD/wBR+As1xLYAB39PtGQAMEkJaAV6THqaqLkW3YH/3lIoMo0lHC04c0BlwkqdsVOouzM3FowSHtVHKrTxn9xWsWErK5rVr8CU7Yt4g74l5BBV1sAB3As+R2YRZGO7s6VghlwEhayVeriIZHXUaMytc3JpBdgLlwknBeWMXkMX56oJVmOxpVcZeskeWEV85oCyRvnLN2dV4JpUroiXKwUtVWdjYUqU227s9PkIJ+NvWPs14v0m1X+yWP69Dk/BRgAYruwtxyR/i4AAAAASUVORK5CYII=);
}

.query-page .query-content .datagrid .grid {
    overflow: visible;
}

.query-page .query-content .control .yui-ac-content .yui-ac-bd {
    overflow-y: auto;
    max-height: 120px;
}

.query-page .query-content .control .yui-ac-content .yui-ac-bd li{
    text-overflow: ellipsis;
    overflow-x: hidden;
}
