.dashlet.notifications.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.notifications .toolbar {
    white-space: nowrap;
}
.dashlet.notifications .body .row {
    line-height: 16px;
    margin: 10px;
}