.hover-select .centered {
    visibility: hidden;
}

.hover-select:hover .centered {
	visibility: visible;
}

.recomend-deputy-grid-container thead {
	display: none;
}

.recomend-deputy-grid-container tr:hover {
	background-color: #B6DBFF;
}

.recomend-deputy-grid-container td input[type='radio'] {
	vertical-align: middle;
}

.recomend-deputy-grid-container td span {
	vertical-align: middle;
	padding-left: 10px;
}

.send-to-employee-message {
	float: right;
}

tr.highlight {
	background-color: #C6EFCE !important;
}

.recomend-deputy-grid-container .grid {
    position: relative;
}

.recomend-deputy-grid-container .disable-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(128, 128, 128, 0.55);
}