.notifications-settings {
    margin: 16px 10px 10px;
}

.notifications-settings .title {
    font-size: 123.1%;
    font-weight: bold;
    padding-bottom: 0.75em;
}

.notifications-settings .control.checkbox-control {
    margin-left: -2px;
}

.notifications-settings .control.checkbox-control .label-div {
    width: 0;
    padding: 0;
}

.yui-skin-lecmTheme .admin-page .notifications-settings .form-container .form-buttons {
    padding-left: 0;
    margin-left: 10px;
}