.control.multi-form {
    position: static;
    float: none;
}

.control.multi-form fieldset.fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.yui-panel .control.multi-form ul.multi-form-documents-list {
    max-height: 70vh;
    overflow-y: auto;
}

.control.multi-form div.multi-form-documents-item {
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
    clear: both;
}

.control.multi-form li.multi-form-documents-item div.multi-form-documents-item-container {
    display: flex;
}

.control.multi-form li div.actions {
    float: right;
    text-align: right;
    border-left: 1px solid #ccc;
    margin-left: 20px;
    margin-top: -2px;
}

.control.multi-form ul.multi-form-documents-list li.multi-form-documents-item {
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    clear: both;
}

.control.multi-form ul.multi-form-documents-list li.multi-form-documents-item:first-of-type {
    padding-top: 0;
}

.control.multi-form ul.multi-form-documents-list li.multi-form-documents-item:last-of-type {
    border-bottom: none;
}

.control.multi-form li div.actions a.remove-item {
    background: url(../../../images/lecm-events/alf_remove_grey_16.png) no-repeat center center;
    padding-left: 20px;
}

.create-documents-form .control .label-div {
    width: auto;
    line-height: 28px;
    padding: 2px 10px 2px 0;
}

.yui-panel-container.yui-dialog .create-documents-form .control .label-div {
    text-align: left;
}

.create-documents-form .control .label-div ~ .container {
    width: 240px;
    min-width: 180px;
    overflow: hidden;
    margin-right: 10px;
}

.create-documents-form .clear {
    display: none;
}

.create-documents-form .control {
    float: none;
    width: auto;
}

.documents-remove-button-container {
    float: left;
    margin-top: 44px;
    margin-right: 10px;
}

.control.multi-form .multi-form-documents-item-container .form-container {
    width: 100%;
}

.control.multi-form .multi-form-documents-item .multi-form-documents-item-container div.form-fields {
    padding: 0;
}

.control.multi-form .multi-form-documents-item .multi-form-documents-item-container .form-container fieldset {
    margin-bottom: 0;
}

.control.multi-form .label-div ~ .container {
    min-width: 140px;
}