#lecm-menu #menu-buttons #menu-buttons-objectBtn span.first-child {
	background: url('../../images/lecm-subscriptions/alf_subscriptions_to_object_32.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-typeBtn span.first-child {
	background: url('../../images/lecm-subscriptions/alf_subscriptions_to_type_32.png') no-repeat 4px 4px;
}