<?xml version='1.0' encoding='UTF-8'?>
<template-instance>
	<template-type>ru/it/lecm/workflow/routes</template-type>
	<properties>
		<pageFamily>workflow</pageFamily>
		<container>workflow</container>
	</properties>
	<components>
		<!-- Title -->
		<component>
			<region-id>title</region-id>
			<url>/lecm/base/title-with-filter-label</url>
			<properties>
				<title>page.routes.title</title>
				<filteredLabel>page.workflow.filteredLabel</filteredLabel>
			</properties>
		</component>
		<!-- Toolbar -->
		<component>
			<region-id>toolbar</region-id>
			<url>/ru/it/lecm/workflow/routes/toolbar</url>
		</component>
		<!-- Grid region -->
		<component>
			<region-id>routes-grid</region-id>
			<url>/ru/it/lecm/workflow/routes/routes-grid</url>
		</component>
	</components>
</template-instance>
