.control.document-table-control.with-grid .value-div .datagrid .grid {
	max-height: none;
}

.datagrid .onActionCancelReview a {
	background: url("../../components/images/edit-cancel-16.png") no-repeat;
}

.printReviewReport {
	background: url("../../components/images/printer-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}
.rejectReview {
	background: url("../../components/images/edit-cancel-16.png") no-repeat;
	background-position: bottom;
	vertical-align: bottom;
	display: table-cell;
}

.reviewControlsContainer {
	height: 16px;
	float: right;
	width: 60px;
	margin-top: 0.5em;
	display: table;
	border-spacing: 10px 0;
}

.reviewContainer {
	margin-top: 15px;
	padding: 10px 5px;
	border: 1px solid #ccc;
}

.reviewToolbarContainer {
	margin: 10px 0;
	height: 16px;
}

