.datalist-toolbar .archive-rows span.first-child {
    background: url('../../components/images/delete-row-16.png') no-repeat 12px 4px;
    padding-left: 24px;
}

div.viewmode-field span.bj-view-value{
	display:inline-block;
	max-width:440px;
}

.form-container label.archive-label {
	display: inline;
}