.dashlet.document.yui-resize .yui-resize-handle {
    z-index: 0;
}
.dashlet.document .toolbar {
    white-space: nowrap;
}
.dashlet.document .body .row {
	line-height: 16px;
	margin: 10px;
}
.dashlet.document .dashlet-title-text {
	float:left;
	margin-right: 4px;
}

.dashlet .form-container .form-fields {
    padding: 0;
}

.dashlet .form-container .form-fields .with-grid {
    margin: 0;
}

.dashlet .form-container .form-fields .control {
    margin-top: 0.3em;
    border-bottom: 1px solid #d7d7d7;
}

.dashlet .form-container .form-fields .control .label-div {
    margin-left: 1em;
}

.dashlet .lecm-dashlet-actions {
    margin-left: 5px;
}
.dashlet .lecm-dashlet-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.3em;
    text-decoration: none;
    display: inherit;
}

.dashlet .titleBarActions .expand,
.dashlet .lecm-dashlet-actions .expand {
    width: 16px;
    height: 16px;
    background-image: url("/share/res/images/lecm-documents/expand-16.png");
    padding: 0;
    display: inline-block;
    opacity: .5;
}
.dashlet .titleBarActions .expand:hover,
.dashlet .lecm-dashlet-actions .expand:hover {
    opacity: .8;
}
.dashlet .titleBarActions .expand:active,
.dashlet .lecm-dashlet-actions .expand:active {
    opacity: 1;
}

.metadata-form .lecm-dashlet-actions {
    cursor: pointer;
    float: right;
    height: 16px;
    margin: 3px;
    width: 42px;
    padding-right: 15px;
}

.metadata-form .lecm-dashlet-actions .edit,
.metadata-form .lecm-dashlet-actions .collapse {
    background-repeat: no-repeat;
    padding-right: 16px;
    font-size: 16px;
}
.metadata-form .lecm-dashlet-actions .edit {
    background-image: url("/share/res/components/profile/images/edit.png");
}

.metadata-form .lecm-dashlet-actions .collapse {
    background-image: url("/share/res/components/documentlibrary/actions/document-cloud-unsync-16.png");
    margin-left: 10px;
}

.body.scrollableList.dashlet-body {
    position: relative;
}

.body.scrollableList.dashlet-body:hover .edit {
    background: url("/share/res/components/profile/images/edit.png") no-repeat scroll 2px 2px transparent;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 20px;
    z-index: 1000;
}
.body.scrollableList.dashlet-body .datagrid .grid {
    overflow: visible;
    border: medium none;
}

.dashlet .lecm-dashlet-actions-right {
	float: right;
}

.dashlet select.attachment-categories-select,
.dashlet select.approval-status-select {
    width: 12em;
    font-size: 13px;
	padding: 0;
    margin-top: -3px;
}

.yui-u .dashlet .dashlet-title {
    background-color: #515151;
    border-radius: 4px 4px 0 0;
}

.yui-u .dashlet .dashlet-body {
    padding: 0;
    height: 165px;
}

.yui-u .dashlet .dashlet-body .datagrid {
    padding: 0;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt table {
    border: 0;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt tr {
    height: 30px;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt th {
    border-bottom: 0;
    vertical-align: middle;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt .yui-dt-liner {
    padding-left: 1em;
}
.yui-u .dashlet .dashlet-body .datagrid .grid.yui-dt .yui-dt-data td {
    border-bottom: 1px solid #ccc;
    color: #686868;
}

.dashlet .title span {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.yui-skin-lecmTheme .datagrid .grid.yui-dt {
    white-space: normal;
}
/***********Workflow tasks *************/

.workflow-task-status {
    font-size: 9px;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.workflow-task-main-text {
    padding-top: 5px;
}

.workflow-task-title {
    font-weight: bold;
}

.dashlet .my-task {
    padding: 6px 40px 5px 15px;
}

.dashlet .workflow-date {
    float: left;
}

.dashlet .workflow-task-main-text {
    padding-left: 9px;
}

.dashlet .total-tasks-count {
    font-size: 13px;
    font-weight: normal;
    float: right;
    font-style: italic;
}

.yui-u .dashlet .dashlet-title.title .total-tasks-count span {
    font-size: 13px;
    font-style: italic;
    font-weight: bold;
}

.dashlet .lecm-dashlet-actions .add {
    background-image: url("/share/res/images/lecm-contracts/alf_contract_add.png");
    padding-left: 20px;
}

/******************************************/

.datagrid .action-set .onActionViewContent a {
	background-image: url(/share/res/components/documentlibrary/actions/document-view-content-16.png);
}

.datagrid .action-set .onActionUploadNewVersion a {
	background-image: url(/share/res/components/documentlibrary/actions/document-upload-new-version-16.png);
}
.dashlet-body .datagrid .grid .yui-dt-col-prop_cm_name .yui-dt-liner{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
