.document-components-panel {
    border-bottom: 1px solid #aaaaaa;
    line-height: 30px;
	padding-left: 5px;
}
.document-components-panel ul,
.document-components-panel .form-fields {
	line-height: 25px;
}
.document-components-panel .action-set {
	line-height: normal;
}
.widget-bordered-panel.last-panel .document-components-panel {
    border-bottom: none;
}
.document-components-panel > h2 {
    padding-left: 1em;
}
.document-components-panel .panel-body {
    padding: 1em 1em 0;
}
.document-components-panel ul.document-right-set {
    padding: 0 0 0 1em;
}
.doc-right-part .text-broken,
.doc-right-part div.viewmode-field span.viewmode-label,
.doc-right-part div.viewmode-field span.viewmode-value {
    word-wrap: break-word;
}
.doc-right-part .text-cropped {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bordered-panel .widget-bordered-panel h2 {
	font-size: 13px;
	font-weight: bold;
	color: #303030;
}
.bordered-panel .widget-bordered-panel h2.not-active {
	font-size: 13px;
	font-weight: bold;
	color: #9d9d9d;
}
.widget-bordered-panel .faded {
	font-size: 13px;
	color: #9d9d9d;
}
