#doc-bd {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 7px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

#main-region {
    width: auto;
    overflow: hidden;
}

#custom-region.split{
    float: right;
    width: 50%;
    margin-left: -1em;
}

#custom-region {
    padding-top: 20px;
}

#doc-right-part .form-container .form-fields {
    padding: 0;
}

#doc-right-part .metadata-panel .form-container .form-fields {
    padding: 1em;
}

.doc-page .yui-gc {
    width: 100%;
}
.doc-page .yui-gc .doc-right-part {
    width: 300px;
    float: right;
    word-wrap: break-word;
    border-radius: 5px 0 0 5px;
    margin-top: 20px;
    background: #f2f2f2;
}

.metadata-form .panel-header .lecm-dashlet-actions {
    margin: initial;
    padding-right: initial;
}

.panel-header {
    background-color: #f2f2f2;
    height: 29px;
    line-height: 29px;
    margin: 0 1em 5px 1em;
    text-align: right;
    border-radius: 2px;
    padding-right: 10px;
}

.panel-header .panel-title {
    float: left;
    font-size:16px;
    font-weight: bold;
    padding-left: 0.5em;
}

.doc-page .yui-gc .doc-right-part-short {
    width: 65px;
    float: right;
    word-wrap: break-word;
    border-radius: 5px 0 0 5px;
    margin-top: 20px;
    background: #f2f2f2;
}

.doc-page .yui-gc .doc-right-part-short .control .label-div,
.doc-page .yui-gc .doc-right-part .control .label-div {
    width: 110px;
}

.short-view:hover .alfresco-twister-actions .expand
{
	display: inline;
}

.short-view {
	line-height: inherit;
}

.short-view .right-block-content {
    padding-left: 0;
}

.document-components-panel.short-view .right-block-content  span.first-child {
    border: 1px solid;
}

.widget-bordered-panel.short-view .right-block-content  span.first-child {
    border: 1px solid;
    background-color:  #f2f2f2;
}

.short-view  span.first-child button {
    padding: 0 1em;
}

.doc-page .yui-gc .doc-right-part-short .control .label-div ~ .container,
.doc-page .yui-gc .doc-right-part .control .label-div ~ .container {
    min-width: 130px;
    max-height: 165px;
}
.doc-page .yui-gc .main-content {
    width: auto;
    overflow: hidden;
    float: none;
}
.doc-page .yui-gc .main-content > div {
    width: 100%;
}

div.metadata-form div.lecm-dashlet-actions + div {
    clear: both;
    overflow-x: auto;
}

.yui-gc .preview,
.yui-gc #doc-attach-right {
	margin-top: 5px;
}

.bordered {
    border: 1px solid #6C6C6C;
    border-radius: 5px 5px 0 0;
}

.bordered-panel {
    border: 1px solid #aaaaaa;
    border-right: 0;
}

.yui-u .dashlet .dashlet-title {
    height: 17px;
    background-color: #bbe6f3;
    border-radius: 4px 4px 0 0;
    padding: 7px 1em 6px;
    overflow: hidden;
}
.yui-u .dashlet .dashlet-title.title span {
    color: #0a678e;
    font: 14px Arial;
    font-weight: bold;
}

.yui-gc .yui-u .columnSize2{
    margin: 0;
}

.yui-gd .yui-u .column2 {
    width: 49%;
}

.main-content .yui-gd div.column1 {
    width: 47%;
    margin-left: 2%;
}

.main-content .yui-gd div.column2 {
    width: 47%;
    margin-right: 2%
}

.alfresco-twister-actions a {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 0.5em;
    text-decoration: none;
}

.alfresco-twister-actions {
    position: absolute;
    right: 1em;
}

.short-view .alfresco-twister-actions {
    float: right;
    margin-top: 8px;
    margin-right: 3px;
}

.document-components-panel .alfresco-twister-actions .expand {
    background-image: url("../images/lecm-documents/expand-16.png");
    display: none;
    opacity: .8;
}

.alfresco-twister-actions.show-right-part-short,
.alfresco-twister-actions.show-right-part-wide {
    width: 16px;
    height: 16px;
    border: 1px solid;
    background-color: #f2f2f2;
}

.alfresco-twister-actions.show-right-part-wide {
    margin-top: 6px;
}

.alfresco-twister-actions.show-right-part-short {
    margin-right: 3px;
}

.alfresco-twister-actions.show-right-part-short > a,
.alfresco-twister-actions.show-right-part-wide > a {
    display: inline;
    opacity: .8;
}

.alfresco-twister-actions.show-right-part-short > a{
    background-image: url("../images/lecm-documents/show-right-part-short-16.png");
}

.alfresco-twister-actions.show-right-part-wide > a{
    background-image: url("../images/lecm-documents/show-right-part-wide-16.png");
}

.short-view .action-icon  span.first-child {
    background: url('../images/lecm-documents/doc-actions-16.png') no-repeat 5px 5px;
}

.short-view .base-doc-action-icon  span.first-child {
    background: url('../images/lecm-documents/base-doc-actions-16.png') no-repeat 5px 5px;
}

.document-components-panel .alfresco-twister:hover .alfresco-twister-actions .expand {
    display: inline;
}
.document-components-panel .alfresco-twister-actions .expand:active {
    opacity: 1;
}

.alfresco-twister-closed .alfresco-twister-actions {
    display: inline;
}

.widget-panel-grey {
    background-color: #ccc;
    padding: 0.8em 5px;
}

.widget-panel-grey.short-view {
    padding: 0 0 0 5px;
}

.widget-panel-grey.short-view .actions-list{
    display: block !important;
    position: absolute;
    right: 60px;
    margin-top: -15px;
    background-color: #ccc;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #999;
}

.widget-panel-white {
    background-color: #F2F2F2;
    padding: 0.8em 0.8em 0 0.8em;
}

.widget-button-grey {
    margin: 5px 0;
    padding: 3px 12px;
    border: 1px solid transparent;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}

.widget-button-grey:hover {
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
}

.widget-button-grey-locked {
    margin: 5px 0;
    padding: 3px 12px;
    border: 1px solid transparent;
    font-style: normal;
    text-decoration: none;
}

.widget-subbutton-grey {
    margin: 0;
    padding: 0px 12px 0px 32px;
    border: 1px solid transparent;
    cursor: pointer;
    font-size: 8pt;
    text-decoration: none;
}

.widget-subbutton-grey:hover {
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 5px;
}

.dndDocListHighlight {
	outline: 2px solid #4F94C9;
	outline-offset: -2px;
}

.highlight_field {
    border: 1px red solid;
}

.yui-gc .comments-list {
    text-align: left;
    margin: 0 1em;
}

#main-region .comments-list h2 {
	margin-top: 0;
	margin-bottom: 15px;
	margin-right: 25px;
	border-bottom: 1px solid #d2d2d2;
}

/* Details Form */

.form-container .edit-metadata a,
.form-container .edit-metadata a:visited {
    background: transparent url(../components/documentlibrary/actions/document-edit-metadata-16.png) no-repeat 12px 4px;
    padding-left: 32px;
}


/**************** Workflow Tasks *******************************/

.WORKFLOWTASKTYPE_NA {
    display: none;
}
.WORKFLOWTASKTYPE_OVERDUE {
    color: #FF0000;
}
.WORKFLOWTASKTYPE_SOON {
    color: #CC6600;
}
.WORKFLOWTASKPRIORITY_LOW {
    background-image: url("../components/images/priority-low-16.png");
}
.WORKFLOWTASKPRIORITY_MEDIUM {
    background-image: url("../components/images/priority-medium-16.png");
}
.WORKFLOWTASKPRIORITY_HIGH {
    background-image: url("../components/images/priority-high-16.png");
}

.workflow-date {
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}
.total-tasks-count-right {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #ff7504;
    position: absolute;
    right: 20px;
    top: -22px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 6px;
}
.right-task {
    margin-top: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 5px;
}

.right-task .workflow-date {
    float: left;
}

.right-more-link {
    text-decoration: underline;
    font-size: 12px;
    color: #999999;
    float: right;
    cursor: pointer;
}

.right-more-link-arrow {
    background-image: url(../images/lecm-documents/gray_arrow.png);
    float: right;
    width: 12px;
    height: 11px;
    cursor: pointer;
	margin-top: 7px;
}

.right-tasks-container {
    padding-left: 15px;
}

.workflow-task-item {
    border-top: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-left: 3.25px;
}

.workflow-task-line {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.list-container {
    padding: 0 1em;
}
.list-category {
    clear: both;
}
.list-category-title {
    font-size:20px;
    font-weight:bold;
    color:#666666;
    padding-bottom: 10px;
    float: left;
}
.list-workflows-title {
	font-size:16px;
	font-weight:bold;
	color:#666666;
	padding-bottom: 10px;
}
.list-category-title-subordinate {
    font-size:20px;
    font-weight:bold;
    color:#666666;
    padding-bottom: 10px;
}
.workflow-task-list-picture {
    background-repeat: no-repeat;
    float: left;
    width: 16px;
    margin-right: -16px;
    margin-top: 2px;
}
.workflow-task-list-body {
    margin-left: 30px;
}
.workflow-task-list-left-column {
    float:left;
    width: 200px;
}
.workflow-task-list-label {
    color: #999999;
}
.workflow-task-description {
    padding-top: 7px;
    padding-bottom: 3px;
}

.lecm-dashlet-actions .add {
    display: inline-block;
    height: 18px;
    background: url("../images/lecm-base/components/docs-common/alf_document_add.png") 1px 1px no-repeat;
    padding: 2px 20px;
    margin-left: 40px;
}

.document-components-panel .alfresco-twister-actions .refresh {
    background-image: url(../themes/lecmTheme/images/refresh-16.png);
    display: none;
    opacity: .8;
}
.document-components-panel .alfresco-twister:hover .alfresco-twister-actions .refresh {
    display: inline;
}
.document-components-panel .alfresco-twister-actions .refresh:active {
    opacity: 1;
}

.lecm-document-content-ajax-loading {
    background: url(../images/lecm-documents/ajax-loader.gif) no-repeat center center;
    width: 99%;
    height: 40px;
    margin: 3px;
}


.dashlet .datagrid .datagrid-bar {
    margin: 0;
}

.edit-button .metadata-form  .lecm-dashlet-actions{
    padding-right: 0;
}

.task-marker {
    background: url(../images/lecm-documents/task-marker.png) no-repeat 3px 3px;
    padding-left: 22px;
}

.chief-task-marker {
    background: url(../images/lecm-documents/chief-task-marker.png) no-repeat 3px 3px;
    padding-left: 22px;
    margin-bottom: 0px;
}

.right-block-content {
 	padding-left: 15px;
}

.doc-page .yui-gc .main-content.preview {
	padding: 5px;
}

.doc-right-part .document-versions .panel-body {
	overflow-x:hidden;
}
