.tab-approval-and-signing {
	height: auto !important;
}

/*
 на форме просмотра атрибутов документа
 <div class="form-field">
*/
div.metadata-form div.form-field {
	width: 100% !important;
}

/*
 на форме просмотра атрибутов документа
 <div class="form-field">
     <div class="viewmode-field">
*/
div.metadata-form div.form-field div.viewmode-field {
	width: auto !important;
}

/*
 на форме просмотра атрибутов документа
 <div class="form-field">
     <div class="viewmode-field">
         <span class="viewmode-value">
*/
div.metadata-form div.form-field div.viewmode-field span.viewmode-value {
	float: none !important;
	width: auto !important;
	overflow: auto !important;
}

/*
 на форме просмотра атрибутов документа
 исправляем отступы у элемента
 <div class="set">
     <div class="set-whitespace">
*/
div.metadata-form div.set-whitespace {
	padding: 0px !important;
}

/*
 на форме просмотра атрибутов документа
 задаем высоту для многострочного поля
 <div class="set-whitespace">
 <div class="form-field">
     <div class="viewmode-field">
         <span class="viewmode-value">
*/
div.metadata-form div.set-whitespace+div.form-field div.viewmode-field span.viewmode-value,
div.metadata-form div.set-whitespace+div.full-width div.form-field div.viewmode-field span.viewmode-value
{
	float: none !important;
	width: auto !important;
	height: 8em !important;
	overflow: auto !important;
}
