.selectone .formFieldControlParamsTable {
     border: 1px dotted;
     margin-top: 4px;
     width: 100%;
 }
.selectone .params-table-values {
    margin: 2px;
}
.form-container .selectone .formFieldControlParams {
    width: 97%;
}