.datalist-toolbar .generate-forms span.first-child {
	background: url(../../components/documentlibrary/images/create-content-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}

.datalist-toolbar .deploy-forms span.first-child {
	background: url(../../themes/lecmTheme/images/refresh-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}

.datalist-toolbar .download-config span.first-child {
	background: url(../../components/documentlibrary/actions/document-download-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}

.datalist-toolbar .upload-config span.first-child {
	background: url(../../components/documentlibrary/images/upload-16.png) no-repeat 12px 4px;
	padding-left: 24px;
}

.datalist-toolbar .upload-import span.first-child {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAhZJREFUeNqkUztoFFEUPRO2EZNo/MRC7HQbBQlKQCEQjE22EETYZgNq4Qc/1QYVxELBzlSiGBUbEwQVjI0B0biVomYj2ERJsAiIQdhCYtx53+u7d2ZkdVcQvHDnzefeM+ee81507cFbct7DOgdrHYxx0MZAWQutLWbnP8OTj5Q2iJXBq7tlNEaOm08Xe/G3OHThHqz3VI9VtPQ9bvrexn/m0NajriyWlg1q3+r4UluW993rVmHscgldne30dPREM4CxCcDtiRncfFTF9YevQfImua5d3YFLt6bQvnIFhs6P058AuQxgqLAdRB5MiFk5n9SePdj3q/hA+U4Tg5wO4nCYINrYk/ciVKw0fsRKVn4+XuxDT34DvKcWACbVwHgU924NilNgEDJootkVXo2VGud8KwCTAlhMVD60ZHB4/y6puXhqXzOASkdQ2mFw9xZhwH9iFi6kcTawSKgfeVHAdL6KnaM7aPpYNRIXlE7oPXvzCZMv5/C4MiuWMn1OHmV9Vwc3oX9zv9TyyiC/idi7bWNwIXGPdyC7wNm9phOlyT3SVNp0RmqvDIxEwygTg+QyBjxCZj+r7VNLFxZrGB+cEhCOnvwIhp+XqTJfAY/RlmmQnAEnYmo+B8EVI+eDMLfwlYvBTRxZszwUTt6gf42Zj4u8oDGjgaNXKSJmTqIBCX2e36ejpPeyO4F3989FjTZGRIT/iZ8CDABPXKgZUS2buQAAAABJRU5ErkJggg==) no-repeat 12px 4px;
	padding-left: 24px;
}