<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
    <servlet>
        <servlet-name>Palladium</servlet-name>
        <servlet-class>ru.it.lecm.gwt.debug.server.PalladiumServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Palladium</servlet-name>
        <url-pattern>/share/proxy/alfresco/bosh/*</url-pattern>
    </servlet-mapping>


    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>

