.datalist-toolbar {
    margin: 0 -10px;
}
.datalist-toolbar .header-bar {
    min-height: 2em;
    padding: 4px 1em;
}
.datalist-toolbar .left,
.datalist-toolbar .left > div {
    float: left;
    line-height: 24px;
}
.datalist-toolbar .left > div {
    padding: 0 10px;
}
.datalist-toolbar .left > div:first-child {
    padding-left: 5px;
}
.datalist-toolbar .right {
    float: right;
}

.import-info-content {
	margin: 5px 20px;
	padding-bottom: 5px;
	word-wrap: break-word;
}

.yui-skin-lecmTheme ul.import-form {
	padding: 5px 20px;
}
.yui-skin-lecmTheme ul.import-form li {
	padding-bottom: 5px;
}
.yui-skin-lecmTheme ul.import-form li input[type="file"] {
	width: auto;
}

.import-error-exception,
.import-error-stack-trace {
	margin-top: 5px;
}

.import-error-more {
	height: 250px;
	overflow-y: auto;
}

.import-error-header {
	text-align: center;
}

.import-error-more {
	display: none;
}
