#yui-main #yui-main-2 .datalist-toolbar {
    margin: 0 -5px 0 -13px;
}
.datalist-toolbar .left,
.datalist-toolbar .left > div,
.datalist-toolbar .right {
    line-height: 24px;
}
.datalist-toolbar .left > div {
    padding: 0 10px;
}
.datalist-toolbar .left > div:first-child {
    padding-left: 5px;
}

