/* Нужно поменять иконки на подходящие */

#lecm-menu #menu-buttons #menu-buttons-wcalendarCalendarBtn span.first-child {
    background: url('/share/res/images/lecm-delegation/delegation_32.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-wcalendarSheduleBtn span.first-child {
    background: url('/share/res/images/lecm-delegation/delegation_32.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-wcalendarAbsenceBtn span.first-child {
    background: url('/share/res/images/lecm-delegation/delegation_32.png') no-repeat 4px 4px;
}
