/* Work groups */
#wcalendar-calendar #wcalendar-calendar-days .toolbar.datalist-toolbar {
    margin: 0 -5px 0 -10px;
}
#wcalendar-calendar #wcalendar-calendar-days .grid.yui-dt {
    margin-left: -5px;
}
#wcalendar-calendar #wcalendar-calendar-years .grid.yui-dt {
    margin: 0 5px;
}
#wcalendar-calendar #wcalendar-calendar-days .toolbar.datalist-toolbar,
#wcalendar-calendar #wcalendar-calendar-years .toolbar.datalist-toolbar {
    overflow-x: hidden;
}
#wcalendar-calendar #wcalendar-calendar-days .toolbar.datalist-toolbar .header-bar,
#wcalendar-calendar #wcalendar-calendar-years .toolbar.datalist-toolbar .header-bar {
    min-width: 400px;
}
#wcalendar-calendar #wcalendar-calendar-years .grid tr.yui-dt-highlighted {
    cursor: pointer;
}