#lecm-menu #menu-buttons #menu-buttons-wcalendarCalendarBtn span.first-child {
    background: url('/share/res/images/lecm-calendar/lecm-calendar_wcalendar-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-wcalendarScheduleBtn span.first-child {
    background: url('/share/res/images/lecm-calendar/lecm-calendar_schedule-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-wcalendarAbsenceBtn span.first-child {
    background: url('/share/res/images/lecm-calendar/lecm-calendar_absence-3.png') no-repeat 4px 4px;
}
#lecm-menu #menu-buttons #menu-buttons-wcalendarWorkingDaysSummaryBtn span.first-child {
    background: url('/share/res/images/lecm-calendar/lecm-calendar_absence-3.png') no-repeat 4px 4px;
}
