.dashlet .lecm-dashlet-actions .semantic-list {
    width: 16px;
    height: 16px;
    background-image: url("../../images/lecm-semantic-assist/semantic-list-16.png");
    padding: 0;
    display: inline-block;
    opacity: .5;
}
.dashlet .lecm-dashlet-actions .semantic-list:hover {
    opacity: .8;
}
.dashlet .lecm-dashlet-actions .semantic-list:active {
    opacity: 1;
}

.semantic-button-grey {
    margin: 5px 0;
    padding: 3px 0;
    border: 1px solid transparent;
    cursor: pointer;
    font: 14px Arial;
    font-style: normal;
    text-decoration: none;
	color:#333333;
}

.semantic-button-grey:hover {
    background-color: #ddd;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color:#333333;
}